@{
    ViewBag.Title = "You Are Signed Up";
}

<div class="sub-page  AlignH ">
      <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
   
    <div id="scrollable" class="scrollable" >
        <div class="items">
             <div class="page-content">
                <div class="top-slider"><p>Special offers and promotions available on Facebook 24x7
                                        </p></div>
                <div class="img_title"></div>
                <div class="content_scrollable_wrap">
                             <p>img here</p>        
                </div>
            
            </div> @*end item here*@

              <div class="page-content">
                  <div class="scrollable_wrap">
                   
                    <div class="coll-left">
                        <figcaption>
                            <div >
                                <p>As part of creating a digital Telstra, and giving our customers the ease and convenience of having things in their inbox, new customers can now receive their invoice and contract by email.</p>
                            </div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                                 
                              </figure>
                          </div>
                   
                </div>
            
            </div> @*end item here*@

             <div class="page-content">
                 <div class="top-slider"><p>make sure to spell the email address back to the customer </p></div>
                  <div class="scrollable_wrap">
                   
                    <div class="coll-left">
                        <figcaption>
                            <div >
                                <p>Capturing their email address correctly is the first step in communicating with our customers by email.</p>
<p>This is easy with the new contact validation prompts and requirements in Siebel to confirm customers' home email address and the ability to copy it to the “bill to email” field.</p>
                            </div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                                  <img src="/Content/img/Section%202.1%20you%20are%20signed%20up/2.1.1.1.1_digital%20welcome.png" />
                              </figure>
                          </div>
                   
                </div>
            
            </div> @*end item here*@

              <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_BillingandPayments" data-pageIndex="2">Request Email Bill</a></li>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_BillingandPayments" data-pageIndex="1">Pay a Bill</a></li>
                    </ul>
                </div>
                  <div class="content_scrollable_wrap">                   
                   
                        <figcaption>
                            <div >
                                <p>As part of creating a digital Telstra, we aim for all new customers to be “Born Digital”.</p>
<p>Once customers are signed up, they receive information on how they can manage their Telstra accounts easily and conveniently online.</p>
                                <p>A welcome email is sent to them providing them with all the digital options and tools available to connect with us 24x7 – <strong>SMARTER & FASTER</strong>.</p>
                                <p>An important part of this is telling our customers about the digital bill delivery and payment options we provide.</p>
                                <a href="#"  data-page="/NewTelstraCustomer/DigitalBill" class="page-menuBtn btn">Digital Bill</a>
                                 <a href="#" data-page="/NewTelstraCustomer/DigitalPayment" class="page-menuBtn btn">Digtal Payment</a>
                            </div>
                        </figcaption>
                    
                   
                </div>
            
            </div> @*end item here*@
      </div>
    </div>
</div>
<div id="page-footer">

     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
      <span class="current">@ViewBag.Title</span>
</div>
