@{
    ViewBag.Title = "Customer Receives Bill";
}

<div class="sub-page  AlignH ">
     <style>
         figcaption {
            height: 640px;
        }
        .page-content h2 {
            color: #ED3B95;
            margin: 10px 0;
        }
         .page-content h2.p10{
            padding-left:10px;
        }
        .page-content .content_scrollable_wrap {
            padding: 10px 100px 0;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a><a class="scrollable-browse scrollable-prev">
                                                     </a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div id="scrollable" class="scrollable">
        <div class="items">
       
            <div class="page-content">
                <div class="top-slider">
                    <p>
                        Have the digital bill conversation on all calls</p>
                </div>
                <div class="content_scrollable_wrap">
                    <h2>Online Bill</h2>
                    <div>
                        <p>
                            Customers switch to Online Bill via My Account, in the Billing and Payments tab
                            (registration or log-in required).</p>
                         <br/>
                        <br/>
                        <img src="../../Content/img/callout_images2.png" alt="Callout" style="padding-left:200px;"/>
                    
                    </div>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="img_title">
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <h2>Online Bill</h2>
                        <figcaption>
                            <p>
                                Signing up for Online Bill is simple and easy.<br/><br/>
                                Customers can choose Online bill as an option from within the “Billing and Payments” tab in My Account. <strong>telstra.com/myaccount</strong> <br/><br/>
                                When registering, customers can set up email or SMS reminders for when their bill is ready to be viewed, or is due for payment or is overdue.<br/><br/>
                                They must be the account holder or authorised to make the request on the account.
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/3.1 Customer receives bill/3.1.2.1-Online-bill-virtual-tour_s.jpg"/>
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="img_title">
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <h2>Online Bill</h2>
                        <figcaption>
                            <p>
                                Once signed up, customers will receive an email advising them that their Telstra Bill is available online, amount due and when payment is due.<br/><br/>
                                The email provides customers with links to:<br/>
                                <ul>
                                    <li>make bill payments immediately or at their own convenience.</li>
                                    <li>set up direct debit to ensure bills are paid on time, every time.</li>
                                    <li>set payment reminders and bill delivery options.</li>
                                    <li>update contact details in My Account.</li>
                                </ul>
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/3.1 Customer receives bill/3.1.2.1-Online-bill-virtua-tour_image2_s.jpg"/>
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="img_title">
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <h2>Login My Account</h2>
                        <figcaption>
                            <p>
                                To access their online bill, customers need to log in to My Account using either their BigPond or Telstra.com username and password.<br/><br/>
                                Once logged in to My Account, customers can:<br/>
                                <ul>
                                    <li>Download and print a PDF copy of their bill.</li>
                                    <li>Pay their bills online</li>
                                    <li>Register for direct debit </li>
                                    <li>Set payment reminders</li>
                                </ul>
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                        <div class="imgscrollable" id="smallScrolable-1">
                        <div id="small-nav-1"></div>
                            <div class="items">
                               <img src="/Content/img/3.1 Customer receives bill/3.1.2.1.1-Log-in_s.jpg" />
                               <img src="/Content/img/3.1 Customer receives bill/3.1.2.1.1-Log-in-image2_s.jpg" />
                            </div>
                        </div>
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="img_title">
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <h2>Download and View Bill</h2>
                        <figcaption>
                            <p>
                                Once logged in to My Account customers see the overview page within My Account.<br/><br/>
                                This provides current bill information at a glance such as amount due or overdue, 4 month bill history and a shortcut to download PDF copies of previous 4 bills.<br/><br/>
                                If customers require access to additional bill history, they can click the “Billing and Payments” tab to download and view a PDF copy of previous bills (up to 13 months)<br/><br/>
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <div class="imgscrollable" id="smallScrolable-2">
                            <div id="small-nav-2"></div>
                                <div class="items">
                            <img src="/Content/img/3.1 Customer receives bill/3.1.2.1.2-download-and-view-bill_s.jpg" />
                            <img src="/Content/img/3.1 Customer receives bill/3.1.2.1.2-download-and-view-bill_image2_s.jpg" />
                            </div>
                         </div>
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@
        </div>
    </div>
</div>
    <div id="page-footer">
        <a href="#" data-page="/CustomerReceivesFirstBill">Customer Receives First Bill</a>
          <a href="#" data-page="/CustomerReceivesFirstBill/CustomerReceivesBill">Customer Receives Bill</a>
        <span class="current">Online Bill</span>
    </div>

