@{
    ViewBag.Title = "Customer Receives First Bill";
}

<div class="page">
    
    <ul id="page-menu">
        <li>
            <a data-page="/CustomerReceivesFirstBill/CustomerReceivesBill" href="#">CUSTOMER RECEIVES BILL</a>
        </li>
        <li>
            <a data-page="/CustomerReceivesFirstBill/WhatThisCharge" href="#">WHAT'S THIS CHARGE?</a>
        </li>
        <li>
            <a data-page="/CustomerReceivesFirstBill/WhatDataUsage" href="#">WHAT'S MY DATA USAGE?</a>
        </li>
        <li>
            <a data-page="/CustomerReceivesFirstBill/WhatPlanAmIonAgain" href="#">WHAT PLAN AM I ON AGAIN?</a>
        </li>
        <li>
            <a data-page="/CustomerReceivesFirstBill/NotSureOf" href="#">THERE'S THIS ONE THING I'M NOT SURE OF</a>
        </li>
    </ul>
</div>

<div id="page-footer">
    <span class="current">@ViewBag.Title</span>
</div>