@{
    ViewBag.Title = "What's My Data Usage?";
}


<div class="sub-page  AlignH ">
       <style>
        /*.sub-page figcaption {
            height: 640px;
        }*/
        .pink .page-content h2 {
            color: #ED3B95;
            margin: 10px 0;
        }
        .pink .page-content h2.p10{
            padding-left:10px;
        }
        .pink .sub-page .page-content .content_scrollable_wrap {
            padding: 10px 100px 0;
        }
        .pink .sub-page figcaption {
            height: 600px;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
    <div id="scrollable" class="scrollable" >
        <div class="items">
       
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li></ul>
                </div>
                <div class="scrollable_wrap">
                   
                    <div class="coll-left">
                        <h2>My Account</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <div><p>Christina can log in to My Account and view her data usage in a matter of a few clicks -  <strong>SIMPLE AND EASY</strong>.</p>
                                <p><br/>Once logged in to My Account, Christina can click on the “data usage” button next to the relevant service.</p>
                                <p><br/>Here she can view data usage for her service as a snapshot graph or click on view usage for full itemised usage display.</p>
                                <p><br/>Oh, by the way, Christina can also set up usage alerts for her mobile which is a convenient way to retain control of her Telstra account.</p>
                            </div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                              <div class="imgscrollable" id="smallScrolable-1">
                                 <div id="small-nav-1"></div>
                                    <div class="items">
                                  <img src="/Content/img/3.3 Data Usage/3.3.1-My-Account_image1_s.jpg" />
                                  <img src="/Content/img/3.3 Data Usage/3.3.1-My-Account_image2_s.jpg" />
                                  <img src="/Content/img/3.3 Data Usage/3.3.1-My-Account_image3_s.jpg" />
                                  </div></div>
                              </figure>
                          </div>
                   
             
                </div>
            </div> @*end item here*@
      
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li></ul>
                </div>
                <div class="scrollable_wrap">
                   
                    <div class="coll-left">
                        <h2>Setup Usage Alert</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <div>
                                <p>Depending on the mobile plan or Browsing Pack that Christina is on, she can choose to be notified via SMS with estimates when she exceeds 80 per cent and then 100 per cent of her data usage for the month. 
                                </p><p><br />It's easy to disable this feature by logging into Mobile Data Usage Meter, BigPond® mobile portal and also via SMS. </p><p><br />This means Christina wont have to call us or walk in to a store every time she wants to check her mobile data usage – this is fantastic!</p>
                                <p><br />This means Christina wont have to call us or walk in to a store every time she wants to check her mobile data usage – this is fantastic!</p>
                                </div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                                  <img src="/Content/img/3.3 Data Usage/3.3.3_Set-up-usage-alert_s.jpg"/>
                              </figure>
                          </div>
                   
              
                </div>
            </div> @*end item here*@
        
            


        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/CustomerReceivesFirstBill">Customer Receives First Bill</a>
    <a href="#" data-page="/CustomerReceivesFirstBill/WhatDataUsage">What's My Data Usage?</a>
    <span class="current">My Account</span>
</div>


