@{
    ViewBag.Title = "What's this Charge?";
}

<div class="sub-page  AlignH ">
   <style>
        /*.sub-page figcaption {
            height: 640px;
        }*/
        .pink .page-content h2 {
            color: #ED3B95;
            margin: 10px 0;
        }
        .pink .page-content h2.p10{
            padding-left:10px;
        }
        .pink .sub-page .page-content .content_scrollable_wrap {
            padding: 10px 100px 0;
        }
        .pink .sub-page figcaption {
            height: 600px;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
    <div id="scrollable" class="scrollable" >
        <div class="items">
      
          
            <div class="page-content">
                <div class="bottom-findmore">
  <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
</div>

                <div class="scrollable_wrap">
                   
                    <div class="coll-left">
                        <h2>Telstra 24x7 Support</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <p>
                                As a Telstra customer, Thomas has access to a range of social media communities and forums that can help address his query any time of the day or night.<br/><br/>
                                Thomas can chat to a consultant via Live Chat, where he can get his query resolved instantly.
                            </p>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
<img src="/Content/img/3.2 What's this charge/3.2.2 livechat.png" height="560"/>
                              </figure>
                          </div>
                
            
                </div>
            </div> @*end item here*@


            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>

                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <h2>Telstra 24x7 Support</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <p>
                                Thomas can post his question on Crowd Support to get answers from our online user community – how cool.
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
<img src="/Content/img/3.2 What's this charge/3.2.2 crowdsupport.png" height="560" />    
                        </figure>
                    </div>


                </div>
            </div>
            @*end item here*@



            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>

                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <h2>Telstra 24x7 Support</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <p>
                                Thomas can tweet to &#64;telstra
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                                    <img src="/Content/img/3.2 What's this charge/3.2.2 twitter.png" height="560" />
                        </figure>
                    </div>


                </div>
            </div>
            @*end item here*@


            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>

                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <h2>Telstra 24x7 Support</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <p>
                                Thomas can post on the Telstra 24x7 Facebook page.
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                                    <img src="/Content/img/3.2 What's this charge/3.2.2 facebook 24x7.png" height="560" />
                        </figure>
                    </div>


                </div>
            </div>
            @*end item here*@

        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/CustomerReceivesFirstBill">Customer Receives First Bill</a>
       <a href="#" data-page="/CustomerReceivesFirstBill/WhatThisCharge">What's this Charge?</a>
    <span class="current">Telstra 24x7 App for iPhone, Android, Facebook or iPad</span>
</div>


