@{
    ViewBag.Title = "What Plan Am I on Again?";
}


<div class="sub-page  AlignH ">
    <style>
        /*.sub-page figcaption {
            height: 640px;
        }*/
        .pink .page-content h2 {
            color: #ED3B95;
            margin: 10px 0;
        }
        .pink .page-content h2.p10{
            padding-left:10px;
        }
        .pink .sub-page .page-content .content_scrollable_wrap {
            padding: 10px 100px 0;
        }
        .pink .sub-page figcaption {
            height: 600px;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
    <div id="scrollable" class="scrollable" >
        <div class="items">
           
    
            <div class="page-content">
                <div class="bottom-findmore">
                  <ul><li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIpadApp" data-pageIndex="0" >Telstra 24x7 App for iPad</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIphoneApp" data-pageIndex="0" >Telstra 24x7 App for iPhone</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallAndroidApp" data-pageIndex="0" >Telstra 24x7 App for Android </a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                  
                    <div class="coll-left">
                        <h2 style="font-size:33px;">Telstra 24x7 App for iPhone/Android/iPad/Facebook</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <div>
                                <p>As a Telstra customer,  Kato can view details of his plan through a range of Telstra 24x7 social and mobile Apps. <br /> <br />
                                </p><br /><p><strong>So let's get his on to one of the Telstra 24x7 Apps &nbsp;&nbsp;<img src="../../Content/img/face_happy.png" /> <br /><br />
                                       </strong></p><p><strong>Now, let's see where he can view details of his plan. <br /><br />
                                                       </strong></p><br /><p>If Kato is on an iPad, this is where he can view his Telstra plan details <br /><br />
                                                                    </p></div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                              <img src="/Content/img/3.4 What Plan/3.4.2_ipad-services_s.jpg" />
                          </div>
                   
             
                </div>
            </div> @*end item here*@
                        <div class="page-content">
                <div class="bottom-findmore">
                  <ul><li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIpadApp" data-pageIndex="0" >Telstra 24x7 App for iPad</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIphoneApp" data-pageIndex="0" >Telstra 24x7 App for iPhone</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallAndroidApp" data-pageIndex="0" >Telstra 24x7 App for Android </a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                  
                    <div class="coll-left">
                        <h2 style="font-size:33px;">Telstra 24x7 App for iPhone/Android/iPad/Facebook</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <div>
                               <p>If Kato is on an iPhone, this is where he can view his Telstra plan details <br /><br />
                                                                        </p></div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                              <img src="/Content/img/3.4 What Plan/3.4.2_iphone-services_s.jpg" />
                              </figure>
                          </div>
                   
             
                </div>
                        </div> @*end item here*@
                        <div class="page-content">
                <div class="bottom-findmore">
                  <ul><li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIpadApp" data-pageIndex="0" >Telstra 24x7 App for iPad</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIphoneApp" data-pageIndex="0" >Telstra 24x7 App for iPhone</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallAndroidApp" data-pageIndex="0" >Telstra 24x7 App for Android </a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                  
                    <div class="coll-left">
                        <h2 style="font-size:33px;">Telstra 24x7 App for iPhone/Android/iPad/Facebook</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <div>
                               <p>If Kato is on Android, this is where he can view his Telstra plan details <br /><br />
                                                                            </p></div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                              <img src="/Content/img/3.4 What Plan/3.4.2_android-services_s.jpg" />
                              </figure>
                          </div>
                   
             
                </div>
                        </div> @*end item here*@
                        <div class="page-content">
                <div class="bottom-findmore">
                  <ul><li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIpadApp" data-pageIndex="0" >Telstra 24x7 App for iPad</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIphoneApp" data-pageIndex="0" >Telstra 24x7 App for iPhone</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallAndroidApp" data-pageIndex="0" >Telstra 24x7 App for Android </a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                  
                    <div class="coll-left">
                        <h2 style="font-size:33px;">Telstra 24x7 App for iPhone/Android/iPad/Facebook</h2>
                        <div class="img_title"></div>
                        <figcaption>
                            <div>
                               <p>If Kato is on Facebook, this is where he can view his Telstra plan details 
                                                                                </p></div>
                        </figcaption>
                    </div><div class="coll-right">
                              <figure>
                             <img src="/Content/img/3.4 What Plan/3.4.2_facebook-services_s.jpg" />
                              </figure>
                          </div>
                   
             
                </div>
            </div> @*end item here*@
        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/CustomerReceivesFirstBill">Customer Receives First Bill</a>
      <a href="#" data-page="/CustomerReceivesFirstBill/WhatPlanAmIonAgain">What Plan Am I on Again?</a>
    <span class="current">Telstra 24x7 App for iPhone, Android, Facebook or iPad</span>
</div>


