@{
    ViewBag.Title = "Index";
}

<div class="submenu-1 AlignH">
                    <div class="tab">
                        <div class="icon">
                            <img src="/Content/img/sub_icon_mobile.png" alt="mobile"/>
                        </div>
                        <div class="desc">
                            <p>Mobiles  <img src="/content/img/arrow_in_circle.png" /></p>
                        </div>
                    </div>
                    
                    <div class="tab">
                        <div class="icon">
                            <img src="/Content/img/sub_icon_bundle.png" alt="mobile"/>
                        </div>
                        <div class="desc">
                            <p>Bundle <img src="/content/img/arrow_in_circle.png" /></p>
                        </div>
                        </div>
                        <div class="tab">
                            <div class="icon">
                                <img src="/Content/img/sub_icon_homephone.png" alt="mobile"/>
                            </div>
                            <div class="desc">
                                <p class="lines2">Home Phone<br/> and plans <img src="/content/img/arrow_in_circle.png" /></p>
                            </div>
                        </div>
                        <div class="tab">
                            <div class="icon">
                                <img src="/Content/img/sub_icon_internet.png" alt="mobile"/>
                            </div>
                            <div class="desc">
                                <p >Internet <img src="/content/img/arrow_in_circle.png" /></p>
                            </div>
                        </div>
                         <div class="tab">
                        <div class="icon">
                            <img src="/Content/img/sub_icon_tv.png" alt="mobile"/>
                        </div>
                        <div class="desc">
                            <p >TV <img src="/content/img/arrow_in_circle.png" /></p>
                        </div>
                    </div>
                    
                </div>