@{
    ViewBag.Title = "Bundles";   
}
<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
    <div id="scrollable" class="scrollable" >
        <div class="items">
       
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption>
                            <div>
                            <p><strong>&ldquo;I've heard bundles are good value for money&rdquo;</strong></p>
                                <p><br/>Hung has a big family and is wondering how he can save by combining his internet and home phone services.</p>
                                <p><br />Let's see how Hung discovers if bundles are for him</p></div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.2 Bundles/img_title_pic_intro.jpg" alt=""/>
                        </figure>     
                    </div>
                </div>
            
            </div>
         
            <div class="page-content">
            <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>

                <div class="top-slider"><p>He may also discover <strong>EXCLUSIVE</strong>  online offers</p></div>

                <div class="scrollable_wrap">                  
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.2 Bundles/img_title_pic.jpg" alt=""/>
                            <h2><span class="ver-alighn-cell"><span>THESE ARE GOOD VALUE, BUT I NEED TO FIND OUT MORE…</span></span></h2>
                        </div>
                        <figcaption>
                            <div>
                                <p>After his morning walk, Hung browses through Telstra.com and looks at available bundles.
                                    It appears that <strong>T-Bundle Connector Everyday&reg;</strong>
                                    is the right plan for Hung. </p></div>
                        </figcaption>
                    </div>
                     <div class="coll-right">
                        <figure>
                            <div class="imgscrollable" >
                                <div id="small-nav-1"></div>
                                <div class="items">
                                      <img src="/Content/img/1.2 Bundles/1.2.1-Products-s1.jpg" alt=""/>
                                      <img src="/Content/img/1.2 Bundles/1.2.1-Products-s2.jpg" alt=""/>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
       
            <div class="page-content">
            <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.2 Bundles/img_title_pic.jpg" alt=""/>
                            <h2><span class="ver-alighn-cell"><span>WHAT IF I MAKE THE WRONG CHOICE?</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Hung is worried that he will be locked into a contract on a bundle that is not right for his family.<br/><br/>
                                Hung discovers Telstra's “Right Fit Guarantee” which allows him to swap between Telstra T-Bundle Connector&trade; plans or swap between Telstra T-Bundle Entertainer plans month by month, as his needs change.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.2 Bundles/1.2.png" alt=""/>
                        </figure>
                        
                    </div>               
                </div>
            </div>
      
            <div class="page-content">
            <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.2 Bundles/img_title_pic.jpg" alt="" />
                            <h2><span class="ver-alighn-cell"><span>AM I REALLY SAVING MONEY?</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Hung decides to explore further, and has realised that included in this plan price is the choice of a T-Box or T-Hub.<br /><br />Hung is impressed with the T-Box (his daughter will love it) and can see this is great value for money.
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.2 Bundles/1.2.2 Pricing.png"/>
                        </figure>
                    </div>
                </div>
          
            </div>
      
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.2 Bundles/img_title_pic.jpg" alt="" />
                            <h2><span class="ver-alighn-cell"><span>GOT A VERY HELPFUL GUY ON THE PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Hung realises that he forgot to check about international calls so he can call family in Vietnam. He quickly calls Telstra 24x7who talk him through international calling rates and value pack options.
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.2 Bundles/1.2.3 Get Recommendations.png"/>
                        </figure>
                    </div>
                </div>           
            </div>
       
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
                </div>
                <div class="scrollable_wrap">                    
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.2 Bundles/img_title_pic.jpg" alt="" />
                            <h2><span class="ver-alighn-cell"><span>YOU CAN'T FOOL ME, I WILL CHECK THE FINE PRINT!</span></span>
                            </h2>
                        </div>
                        <figcaption>
                            <p>Hung is impressed that the fine print is not hidden somewhere on the site, but rather well displayed and easy to understand.
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.2 Bundles/1.2.4 Fine Print.png"/>
                        </figure>
                    </div>
                </div>
            </div>
      
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/DigitalWelcome" data-pageIndex="0">You are Signed Up</a></li>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard" data-pageIndex="0">On-Board</a></li></ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.2 Bundles/img_title_pic.jpg" alt="" />
                            <h2 class="small_14"><span class="ver-alighn-cell"><span>GREAT, I HAVE 200GB OF INTERNET FOR THE FAM, A T-BOX  AND A GOOD DEAL ON THE HOME PHONE AS WELL.</span></span></h2>
                        </div>
                        <figcaption>
                            <p><strong>Welcome to Telstra, Hung  &nbsp;&nbsp;<img src="../../Content/img/face_happy.png"/> </strong></p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.2 Bundles/1.2.1 Products_image 2.png"/>
                        </figure>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/potentialtelstracustomer">Potential Telstra Customer</a>
    <span class="current">@ViewBag.Title</span>
</div>


@*<div class="content_pop AlignH">
    <div  class="title"><h1>PRICING</h1></div>
    <div class="page-content cf">
    <h1>Telstra Online Shop</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <nav>
        <ul class="AlignV floatleft">
            <li class="show-pop" rel="mobile-pop"><figure><img src="/Content/img/icon_product.png" height="120"/></figure>
            <p>Product</p>
            </li>
            <li  class="show-pop" rel="mobile-pop"><figure>
	                <img src="/Content/img/icon_fineprint.png" height="120"/>
                </figure>
                <p>Fine Print</p></li>
            <li  class="show-pop" rel="mobile-pop"><figure><img src="/Content/img/icon_pricing.png" height="120"/></figure><p>Pricing</p></li>
            <li  class="show-pop" rel="mobile-pop"><figure><img src="/Content/img/icon_getrecomanadation.png" height="120"/></figure><p>Get Recommendation</p></li>
        </ul>
    </nav>
    </div>
</div>

<div class="overlay" id="mobile-pop">
    <a href="#" class="close"></a>
    <div class="pop_content">
	<h1>Mobile</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
</div>*@