@{
    ViewBag.Title = "Home Phone and Plans";
}
<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
 <div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
     <div class="items">
        
         <div class="page-content">
             <div class="scrollable_wrap">                
                 <div class="coll-left">
                     <figcaption>
                         <p><strong>"Haven't spoken to Wendy in a while… I need to get unlimited STD calls on the home phone for a monthly flat fee"</strong></p>
                         <p><br/>Paula's sister, Wendy, lives in Launceston. Paula wants to make sure she can chat to her sister without having to worry about the amount she is raking up on her home phone bill.<br/><br/>Find out how Paula can stay in touch with her sister without worrying about her bill
                         </p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure>
                          <img src="/Content/img/1.3 Home Phone/img_title_pic_intro.jpg" alt=""/>
                     </figure>   
                 </div>                
             </div>
         </div>
        
         <div class="page-content">
             <div class="bottom-findmore">
                 <ul>
                 <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="3" >Support</a></li>
                 </ul>
             </div>
             <div class="top-slider"><p>She may also discover <strong>EXCLUSIVE</strong>  online offers</p></div>
             <div class="scrollable_wrap">  
               <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/1.3 Home Phone/img_title_pic.jpg" alt="" />
                         <h2><span class="ver-alighn-cell"><span>HOW DO I GET UNLIMITED INTERSTATE CALLS ON MY HOME PHONE?</span></span></h2>
                     </div>
                     <figcaption>
                         <p>After finishing preparations for dinner, Paula goes on to Telstra.com and looks at options that may suit her needs.</p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure>
                         <img src="/Content/img/1.3 Home Phone/1.3.1 Products.png"/>
                     </figure>
                 </div>
             </div>
         </div>
       
         <div class="page-content">
             <div class="bottom-findmore">
                 <ul>     <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="3" >Support</a></li></ul>
             </div>
             <div class="scrollable_wrap">           
                 <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/1.3 Home Phone/img_title_pic.jpg" alt="" />
                         <h2 class="small_12"><span class="ver-alighn-cell"><span>WOW, I THINK THIS IS WHAT I'M LOOKING FOR. I CAN CALL WENDY IN LAUNCESTON AND JASON'S MOBILE WITHOUT WORRYING.</span></span></h2>
                     </div>
                     <figcaption>
                         <p >Paula has discovered HomeLine Ultimate that gives her unlimited local and STD calls on her home phone for one flat monthly fee.</p>
                             <p><br/>She also gets calls to Telstra mobiles capped at 50c for the first 20minutes, anytime.</p>
                     </figcaption>
                 </div>
                 <div class="coll-right"> 
                     <figure>
                         <img src="/Content/img/1.3 Home Phone/1.3.2 Pricing.png" height="560"/>
                     </figure>
                 </div>
             </div>
         </div>
       
         <div class="page-content">
             <div class="bottom-findmore">
                 <ul>     <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="3" >Support</a></li></ul>
             </div>
             <div class="scrollable_wrap">                 
                 <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/1.3 Home Phone/img_title_pic.jpg" alt="" />
                         <h2 class="small_12"><span class="ver-alighn-cell"><span>I'VE DONE MY HOMEWORK AND READ THE FINE-PRINT. NO CONTRACT OR PENALTY TO CHANGE TO ANOTHER PLAN.</span></span></h2>
                     </div>
                     <figcaption>
                         <p>Paula discovers a comprehensive library of fine-print in PDF format.<br/><br/>
                             She downloads a copy of HomeLine Ultimate and emails it to Jason.<br/><br/>
                             Jason agrees that this is good value for money, both have peace of mind knowing that all charges are explained clearly.

                         </p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure>
                         <img src="/Content/img/1.3 Home Phone/1.3.4 Fine Print.png" height="560"/>
                     </figure>
                 </div>
             </div>
         </div>
      
         <div class="page-content">
             <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/DigitalWelcome" data-pageIndex="3">You are Signed Up</a></li>
                     <li><a data-page="/NewTelstraCustomer/onBoard_onBoard" data-pageIndex="0" href="#">On-Board</a></li></ul>
             </div>
             <div class="scrollable_wrap">                 
                 <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/1.3 Home Phone/img_title_pic.jpg" alt="" />
                         <h2 class=""><span class="ver-alighn-cell"><span>GOTTA CALL WENDY AFTER DINNER. MUST GET HER ON THIS PLAN TOO.</span></span></h2>
                     </div>
                     <figcaption>
                         <p><strong>Welcome to Telstra, Paula &nbsp;&nbsp;<img src="../../Content/img/face_happy.png"/> </strong></p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure>
                         <img src="/Content/img/1.3 Home Phone/Home phone Final.png"/>
                     </figure>
                 </div> 
             </div>
         </div>
       
     </div>
 </div>
 </div>


<div id="page-footer">
    <a href="#" data-page="/potentialtelstracustomer">Potential Telstra Customer</a>
    <span class="current">Home Phone and Plans</span>
</div>
