@{
    ViewBag.Title = "Potential Telstra Customer";
    ViewBag.parentPage = "";
    ViewBag.currentPage = "/PotentialTelstraCustomer";
}

<div class="page">
    
    <ul id="page-menu">
        <li>
            <a data-page="/PotentialTelstraCustomer/mobiles" href="#"><span><img src="/content/img/icon_mobile.png"/></span>MOBILE</a>
        </li>
        <li>
            <a data-page="/PotentialTelstraCustomer/HomePhoneandPlans" href="#"><span><img src="/content/img/icon_homephone.png"/></span>HOME PHONE</a>
        </li>
        <li>
            <a data-page="/PotentialTelstraCustomer/Bundles" href="#"><span><img src="/content/img/icon_bundle.png"/></span>BUNDLES</a>
        </li>
        <li>
            <a data-page="/PotentialTelstraCustomer/tv" href="#"><span><img src="/content/img/icon_foxteltv.png"/></span>FOXTEL & TV</a>
        </li>
        <li>
            <a data-page="/PotentialTelstraCustomer/internet" href="#"><span><img src="/content/img/icon_internet.png"/></span>INTERNET</a>
        </li>
    </ul>
                    
</div>

<div id="page-footer">
    <span class="current">Potential Telstra Customer</span>

</div>