@{
    ViewBag.Title = "Internet";
}

 <div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
 <div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
    <div class="items">
       
        <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption>
                            <p><strong>&ldquo;We need a lot more of the internet – My computer, Grace's iPad and Marty's laptop.&rdquo;</strong></p>
                            <p><br/>Ana-Marie runs her own business from home, Aaron and Grace love playing games online, and Marty likes to live-stream sports games.<br/><br/>Check out how Ana-Marie chooses the right internet option</p>
                        </figcaption>
                </div>
                <div class="coll-right">
                        <figure>
                           <img src="/Content/img/1.4 Internet/img_title_pic_intro.jpg" alt=""/>
                        </figure> 
                    </div>
                </div>
        </div>
       
        <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
                </div>
                <div class="top-slider"><p>She may also discover <strong>EXCLUSIVE</strong> offers online</p></div>
                <div class="scrollable_wrap"> 
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.4 Internet/img_title_pic.jpg" alt="" />
                            <h2 class="small_12"><span class="ver-alighn-cell"><span>I WONDER WHAT THE DIFFERENCE IS BETWEEN MOBILE BROADBAND AND WI-FI? AND HOW DO I KNOW WHAT I CAN DO FOR 500GB?</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Ana-Marie goes onto Telstra.com and looks at internet options available.<br/><br/>
                                There is a lot of choice – ADSL, cable and mobile broadband.</p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.4 Internet/1.4.1 Products.png"/>
                        </figure>
                    </div>
                </div>
        </div>
      
        <div class="page-content">
                <div class="scrollable_wrap">
                <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.4 Internet/img_title_pic.jpg" alt="" />
                            <h2><span class="ver-alighn-cell"><span>I HOPE SOMEONE CAN HELP ME HERE… I'M A BIT TECHNICALLY CHALLENGED</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Ana-Marie is very intrigued by Crowd Support and decides to put a question out to the online community…</p>
                        </figcaption>
                </div>
                <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.4 Internet/1.4.3 Get Recommendations.png"/>
                        </figure>
                    </div>
                </div>
        </div>
      
        <div class="page-content">
            <div class="scrollable_wrap">
                <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.4 Internet/img_title_pic.jpg" alt="" />
                            <h2 class="small_16"><span class="ver-alighn-cell"><span>THAT WAS EASIER THAN I THOUGHT. I THINK THIS CROWD SUPPORT IS COOL.</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Success, Ana-Marie has received a really good explanation about the difference between mobile broadband and WiFi.<br/><br/>
She's also enlightened that 500GB of data is around 800 mp3 albums, or 150 movies or 10,000 photograph (or any combination of such files)
</p>
                        </figcaption>
                </div>
                <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.4 Internet/1.4.3 Get Recommendations_p2.png" />
                        </figure>
                </div>
             </div>
            
        </div>
       
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.4 Internet/img_title_pic.jpg" alt="" />
                            <h2 class="small_14"><span class="ver-alighn-cell"><span>THAT'S GREAT VALUE FOR MONEY. CAN'T IMAGINE USING 500GB A MONTH, BUT I BET WE'LL MANAGE IT!</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Ana-Marie has multiple computers in various places around the home that she'd like to connect to the internet.<br/><br/>
                                The modem is located in a different area than where they use their devices and everyone is accessing the internet at the same time.</p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.4 Internet/1.4.2 Pricing.png"/>
                        </figure>
                    </div>               
            </div>
        </div>
       
        <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.4 Internet/img_title_pic.jpg" alt="" />
                            <h2 class="small_14"><span class="ver-alighn-cell"><span>AM I MISSING SOMETHING? ARE THERE ANY LOOPHOLES, NEED TO READ THE FINE-PRINT.</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Ana-Marie finds this plan too good to be true. She wants to read the fine-print  before she signs up.<br/><br/>
                                Ana-Marie notices the Live Chat option and decides to chat to someone so she can quickly get on to the new plan.</p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                            <div class="imgscrollable" >
                            <div id="small-nav-1"></div>
                            <div class="items">
                                <img src="/Content/img/1.4 Internet/1.4.4-Fine-Print-s1.jpg" alt="" />
                                <img src="/Content/img/1.4 Internet/1.4.4-Fine-Print-s2.jpg" alt="" />
                            </div>
                            </div>            
                        </figure>
                    </div>              
            </div>
        </div>
      
            <div class="page-content">
                 <div class="bottom-findmore">
                     <ul><li><a href="#" data-page="/NewTelstraCustomer/DigitalWelcome" data-pageIndex="0">You are Signed Up</a></li>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard" data-pageIndex="0">On-Board</a></li></ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.4 Internet/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALL GOOD, I'M SIGNED UP. VERY IMPRESSED, TELSTRA &#9786;</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Blake, A Live Chat consultant from Telstra, has helped Ana-Marie with her decision. He sent her the link to the fine print and Ana-Marie is happy.<br/><br/>
                                <strong>Welcome to Telstra, Ana-Marie.</strong>&nbsp;&nbsp;<img src="../../Content/img/face_happy.png"/> </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.4 Internet/Internet Final.png" height="560"/>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/potentialtelstracustomer">Potential Telstra Customer</a>
    <span class="current">Internet</span>
</div>