@{
    ViewBag.Title = "Mobiles";

}
<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div id="scrollable" class="scrollable">
        <div class="items">
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption>
                            <p><strong>Su-Lyn is looking to buy a new mobile. She thinks it's also a good time to change her service provider as she is frequently stuck without network coverage.</strong></p>
                            <p><br />Let's follow Su-Lyn's online journey as she chooses her service provider and new phone</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                           <img src="/Content/img/img_title_pic_Intro.jpg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>


            <div class="page-content">
            <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>
             <div class="top-slider"><p>She may also discover <strong>EXCLUSIVE</strong>  online offers</p></div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/img_title_pic.jpg" alt="" />
                            <h2> <span class="ver-alighn-cell"><span>OH, MUM RECOMMENDED TELSTRA, LET ME SEE WHAT THEY'VE GOT…</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Su-Lyn  jumps on to Telstra.com and looks at the mobile section. There she finds a variety of cool handsets and is in awe of the iPhone 4S 16GB.</p><br />
                            <p>By clicking on “Buy Now”, Su-Lyn realises she has the option of getting the handset on a plan with Telstra – problem solved.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            @*  /* dummy have to fix this content*/*@
                            
                           
                           <div class="imgscrollable" >
                                <div id="small-nav-1"></div>
                                <div class="items">
                                    <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png" />                                                         <img src="/Content/img/1.1 Mobiles/1.1.1-Products_p2.png" height="560" />
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>


            <!--<div class="page-content">
                        <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/img_title_pic.jpg" alt="" />
                            <h2>
                                <span class="ver-alighn-cell"><span>OH, MUM RECOMMENDED TELSTRA, LET ME SEE WHAT THEY'VE GOT…</span></span>
                            </h2>
                        </div>
                        <figcaption>
                            <p>By clicking on “Buy Now”, Su-Lyn realises she has the option of getting the handset on a plan with Telstra – problem solved.


                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/1.1.1-Products_p2.png" height="560"/>
                        </figure>
                    </div>
                </div>
            </div>-->
            
            <div class="page-content">
                        <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/img_title_pic.jpg" alt="" />
                            <h2>
                                <span class="ver-alighn-cell"><span>I THINK I AM AN M</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Su-Lyn browses through what plans are available and thinks the M is a good fit for her. </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/1.1.2-Pricing.png"/>
                        </figure>
                    </div>
                </div>
            </div>


            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/img_title_pic.jpg" alt="" />
                            <h2 class="small_14">
                                <span class="ver-alighn-cell"><span>WOW, THIS IS REALLY EASY &#9786; I DIDN'T REALISE I CAN BUY PHONE PLANS BASED ON DRESS SIZES!</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Su-Lyn is happy with the way the plans are explained and what's included in each of them. She can clearly recognise that an M plan is for her.
                            </p>
                        </figcaption>
                   </div> 
                   <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/1.1.2-Pricing_p2.png" height="560"/>
                        </figure>
                    </div>
                </div>
            </div>


            <div class="page-content">
                        <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/img_title_pic.jpg" alt="" />
                            <h2 class="small_15">
                                <span class="ver-alighn-cell"><span>I LOVE THIS LIVE CHAT THINGY. QUICK QUESTION, QUICK ANSWER. THAT'S WHAT I LIKE.</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Su-Lyn was presented with the option of an add-on data pack. She wanted to check if it rolls over, clicking on Live Chat she got her answer instantly and was able to decide straight away.
                            </p>
                        </figcaption>
                    </div>    
                     <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/live_chat.png"/>
                        </figure>
                    </div>
                </div>
            </div>
            
            <div class="page-content">
            <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
             </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/img_title_pic.jpg" alt="" />
                            <h2>
                                <span class="ver-alighn-cell"><span>I'LL JUST DOUBLE CHECK EVERYTHING…</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Su-Lyn suddenly realises that Mum asked her to check the fine print before she buys.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/1.1.4-Fine-Print.png"/>
                        </figure>
                    </div>
                </div>
            </div>


            <div class="page-content">
            <div class="bottom-findmore">
                 <ul><li><a href="#" data-page="/NewTelstraCustomer/DigitalWelcome" data-pageIndex="3">You are Signed Up</a></li>
                     <li><a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard" data-pageIndex="0">On-Board</a></li>
                 </ul>
             </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/img_title_pic.jpg" alt="" />
                            <h2 class="small_14">
                                <span class="ver-alighn-cell"><span>NEVER THOUGHT I'D BE A TELSTRA CUSTOMER, BUT BUYING THIS PHONE HAS BEEN CRUISY, I'M IMPRESSED!</span></span>
                            </h2>
                        </div>
                        <figcaption>
                            <p>Su-Lyn has completed her purchase in 10 minutes. She's happy and excited with her decision.
                                And, she's got <strong>FREE DELIVERY</strong> because she ordered online.<br/><br/><strong>Welcome to Telstra, Su-Lyn.&nbsp;&nbsp;<img src="../../Content/img/face_happy.png"/> </strong>
                            </p>
                        </figcaption>
                     </div>
                      <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/Mobiles-Final.png"/>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-footer">
    <a href="#" data-page="/potentialtelstracustomer">Potential Telstra Customer</a>
    <span class="current">Mobiles</span>
</div>
