@{
    ViewBag.Title = "template2";
}

<div class="sub-page  AlignH template-tabs">
         <a class="scrollable-browse scrollable-next"></a>
         <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>  
     <ul class="navi cf">
                      <li><a href="#">Mobiles<span class="left_bottom_arrow"></span></a></li>
                    <li><a href="#">Products</a></li><li><a href="#">Products (p.2)</a></li>
                    @*<li><a href="#">Mobiles<span class="left_bottom_arrow"></span></a></li>
                    <li><a href="#">Products</a></li><li><a href="#">Products (p.2)</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Pricing p.2</a></li><li><a href="#">Get Recommendations</a></li><li><a href="#">Fine Print</a></li><li><a href="#">Mobile Final</a></li>*@
                </ul> 
    <div id="scrollable" class="scrollable">
                <div class="items">
       
                    <div class="page-content">
                        <h2>fddfdgdfg</h2>
                        <div class="coll-left">
                            <figure>
                                @*  /* dummy have to fix this content*/*@
                            <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                             @*   <div class="imgscrollable" >
                                    <div id="small-nav"></div>
                                    <div class="items">
                                   
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                    </div>
                                </div> *@
                            </figure>
                        </div>
                    <div  class="coll-right">
                                <figcaption>
                                <p class="AlignH">Su-Lyn  jumps on to Telstra.com and looks at the mobile section. There she finds a variety of cool handsets and is in awe of the new Samsung Galaxy SIII. 

                                </p>
                            </figcaption>
                      
                        </div>
                    </div>
                    
                    <div class="page-content">
                        <h2>fddfdgdfg</h2>
                        <div class="coll-left">
                            <figure>
                                @*  /* dummy have to fix this content*/*@
                                <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                @*   <div class="imgscrollable" >
                                    <div id="small-nav"></div>
                                    <div class="items">
                                   
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                    </div>
                                </div> *@
                            </figure>
                        </div>
                        <div  class="coll-right">
                            <figcaption>
                                <p class="AlignH">Su-Lyn  jumps on to Telstra.com and looks at the mobile section. There she finds a variety of cool handsets and is in awe of the new Samsung Galaxy SIII. 

                                </p>
                            </figcaption>
                      
                        </div>
                    </div>
                    
                     <div class="page-content">
                        <h2>fddfdgdfg</h2>
                        <div class="coll-left">
                            <figure>
                                @*  /* dummy have to fix this content*/*@
                            <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                             @*   <div class="imgscrollable" >
                                    <div id="small-nav"></div>
                                    <div class="items">
                                   
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                        <img src="/Content/img/1.1 Mobiles/1.1.1-Products.png"/>
                                    </div>
                                </div> *@
                            </figure>
                        </div>
                    <div  class="coll-right">
                                <figcaption>
                                <p class="AlignH">Su-Lyn  jumps on to Telstra.com and looks at the mobile section. There she finds a variety of cool handsets and is in awe of the new Samsung Galaxy SIII. 

                                </p>
                            </figcaption>
                      
                        </div>
                    </div>
         
                </div>
      </div>


           </div>
    </div>


<div id="page-footer">
    <a href="#" data-page="/potentialtelstracustomer">Potential Telstra Customer</a>
    <span class="current">Mobiles</span>
</div>


