@{
    ViewBag.Title = "FOXTEL & TV";
}

<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
 <div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
    <div class="items">
       
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                      
                        <figcaption>
                            <p><strong>&ldquo;I want to catch every minute of the action, live on TV&rdquo;</strong></p>
                            <p><br/>Even though Robert loves to get out for a surf, he can't miss a game of the Pies!<br/><br/>Let's see how Robert can get the footy streaming live in his living room</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.5 TV/img_title_pic_intro.jpg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
      
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
                </div>
                <div class="top-slider"><p>He may also discover <strong>EXCLUSIVE</strong> offers online</p></div>
                <div class="scrollable_wrap">
                    
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.5 TV/img_title_pic.jpg" alt="" />
                            <h2 class="small_15"><span class="ver-alighn-cell"><span>HOW CAN I GET A GOOD DEAL? AND CAN I GET IT BEFORE THE SEASON STARTS?</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Robert checks out Telstra.com and looks at the options available.<br/>
                                Oh! There is a sports value pack.
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.5 TV/1.5.1 Products.png"/>
                        </figure>
                    </div>
                    
                </div>
            </div>
        
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul><li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li></ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.5 TV/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell" style="font-size: 34px;"><span>
                                THIS IS AWESOME! A FREE AFL LIVE SEASON PASS FOR MY TELSTRA MOBILE.</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Robert discovers the sports value pack from Telstra, it's good value for money and he can enjoy access to 11 dedicated sports channels <strong>– FREE FOR THE FIRST 6 MONTHS!</strong></p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.5 TV/1.5.2 Pricing.png"/>
                        </figure>
                    </div>
                    
                </div>
            </div>
        
            <div class="page-content">
                 <div class="bottom-findmore">
                     <ul><li><a href="#" data-page="/NewTelstraCustomer/DigitalWelcome" data-pageIndex="0">You are Signed Up</a></li>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard" data-pageIndex="0">On-Board</a></li></ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/1.5 TV/img_title_pic.jpg" alt="" />
                            <h2>
                                <span class="ver-alighn-cell"><span>I'M SIGNED UP, EASY AS PIE. LIFE COULDN'T BE BETTER.</span></span>
                            </h2>
                        </div>
                        <figcaption>
                            <p>Robert has signed up to Foxtel from Telstra in less than 15 minutes.<br/><br/>
                                He'll stay close to his team this season and get all the live footy action, and the missus gets the movie channels as a bonus.<br/><br/>
                                <strong>Welcome to Telstra, Robert.</strong> &nbsp;&nbsp;<img src="../../Content/img/face_happy.png"/></p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/1.5 TV/TV Final.png"/>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/potentialtelstracustomer">Potential Telstra Customer</a>
    <span class="current">FOXTEL &amp; TV</span>
</div>
