@{
    ViewBag.Title = "Account Services (unauthenticated) Payment";
}


<div class="sub-page  AlignH ">
      <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
   
    <div id="scrollable" class="scrollable" >
        <div class="items">          

             <div class="page-content">
                 <div class="top-slider"><p>Telstra 24x7 Apps allow customers to store credit card details for faster payment</p></div>
                      <div class="bottom-findmore"> <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                      </ul>
                </div>
                  <div class="content_scrollable_wrap">
                   
                   
                        <figcaption>
                            <div>
                                <p>Customers have the option of making a one-off payment via the Account Services tab on Telstra.com</p><br />
 <p>Customers have the choice of various payment methods.</p>
                                <br />
 <p>Payment options are via  credit card or bank account. If a  customer pays from their bank account they will need to register via My Account which may take up to 5 working days to process.</p>
                                <br />
 <p>Customers can choose to receive a receipt if they provide an email address.</p>
                                <br />
 <p>It's <strong>SECURE & EASY</strong></p>
                                <br />

                            <div class="page-icons">
                                <img src="/Content/img/Section%202.1%20you%20are%20signed%20up/icon_billing.png" />
                               
                            </div>
                            </div>
                        </figcaption>
                   
                   
                </div>
            
            </div> @*end item here*@
            
              
      </div>
    </div>
</div>
<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/DigitalWelcome">You Are Signed Up</a>
     <a href="#" data-page="/NewTelstraCustomer/DigitalPayment">Digital Payment</a>      
      <span class="current">@ViewBag.Title</span>
</div>


