@{
    ViewBag.Title = "Through My Account";
}

<div class="sub-page  AlignH ">
      <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
   
    <div id="scrollable" class="scrollable" >
        <div class="items">          

             <div class="page-content">
                      <div class="bottom-findmore"> <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                        
                      </ul>
                </div>
                  <div class="content_scrollable_wrap">
                   
                   
                        <figcaption>
                            <div >
                                <p>My Account is the recommended option for customers to make digital payments on their account.
</p><br /><br />
                             <img src="../../Content/img/callout-through-my-account.png" alt"" style="margin-left:-30px;"/>
                            </div>
                        </figcaption>
                   
                   
                </div>
            
            </div> @*end item here*@
            <div class="page-content">
                      <div class="bottom-findmore"> <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                      </ul>
                </div>
                  <div class="content_scrollable_wrap">
                   
                   
                        <figcaption>
                            <div>
                                <p>Through My Account, customers can make a one-off payment or set up a Direct Debit.</p>
                                <br />
 <p>Customers make a payment by clicking on the “Billing and Payments” tab.</p>
                                <br />
                                <ul><li>Pay via  credit card or bank account. </li>
                                      <li>  If a  customer pays from their bank account they will need to register via My Account (which may take up to 5 working days to process).</li>
                                       <li> Payment reporting capabilities.</li>
                                        <li>Customers receive a receipt if they provide an email address.</li>
</ul>
                                <br />
                                <p><strong>Find out more: </strong></p>
                                 <a href="#" data-page="/NewTelstraCustomer/DigitalPayment_OneOffPayment" class="page-menuBtn btn">One-off<br />Payment</a>
                                 <a href="#" data-page="/NewTelstraCustomer/DigitalPayment_DirectDebit" class="page-menuBtn btn">Set up<br />Direct Debit</a>
                            </div>
                        </figcaption>
                   
                   
                </div>
            
            </div> @*end item here*@
              
      </div>
    </div>
</div>
<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/DigitalWelcome">You Are Signed Up</a>
     <a href="#" data-page="/NewTelstraCustomer/DigitalPayment">Digital Payment</a>
      <span class="current">@ViewBag.Title</span>
</div>

