@{
    ViewBag.Title = "IVR/BPAY";
}



<div class="sub-page  AlignH ">
      <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
   
    <div id="scrollable" class="scrollable" >
        <div class="items">          

             <div class="page-content">
                 <div class="top-slider"><p>Telstra 24x7 Apps allow customers to store credit card details for faster payment</p></div>
                      <div class="bottom-findmore"> <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                        
                      </ul>
                </div>
                  <div class="content_scrollable_wrap">
                 
                        <figcaption>
                            <div>
                                <p style="margin-bottom:15px;">Another convenient way for customers to make payments on their Telstra account is by phone.</p>
                                <p style="margin-bottom: 15px;">Customers can either call their bank's telephone banking service, or access their bank's Internet site, to make a payment, or call Telstra for free to be connected to pay by phone service. Both these services are available 24x7.</p>
                                <p style="margin-bottom: 15px;">If customers contact Telstra by phone to make a payment they will be asked for their:</p>
                                <ul style="margin-bottom: 15px;">
                                  <li>Telstra Account Number</li> 
                                    <li>Bill Number </li>
                                    <li>Amount of payment </li>
                                    <li>Card Number </li>
                                   <li>Expiry Date of Card </li>
                                </ul>

                                <p style="margin-bottom: 15px;">On successful completion of a payment, customers are provided with a receipt number. </p>
                                <p style="margin-bottom: 15px;">Customers can make advance or partial payments. </p>
                                <p style="margin-bottom: 15px;">A Payment Processing Fee may apply and the fee will appear on the customer's next Telstra bill. </p>
                                <p style="margin-bottom: 30px;">If customers have difficulty using the IVR system, an operator will answer them during normal business hours.</p>
                                <div class="page-icons">
                                <img src="/Content/img/Section%202.1%20you%20are%20signed%20up/icon_billing.png" />
                                <img src="/Content/img/Section%202.1%20you%20are%20signed%20up/icon_phone.png" />
                            </div>
                            </div>
                        </figcaption>
                   
                   
                </div>
            
            </div> @*end item here*@
            
              
      </div>
    </div>
</div>
<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/DigitalWelcome">You Are Signed Up</a>
     <a href="#" data-page="/NewTelstraCustomer/DigitalPayment">Digital Payment</a>      
      <span class="current">@ViewBag.Title</span>
</div>



