@{
    ViewBag.Title = "New Telstra Customer";
}

<div class="page">
    
    <ul id="page-menu">
        <li>
            <a data-page="/NewTelstraCustomer/DigitalWelcome" href="#">YOU ARE SIGNED UP</a>
        </li>
        <li>
            <a data-page="/NewTelstraCustomer/onBoard_onBoard" href="#">ON-BOARD</a>
        </li>
        <li>
            <a data-page="/NewTelstraCustomer/support" href="#">SUPPORT</a>
        </li>
      
    </ul>
</div>

<div id="page-footer">
    <span class="current">@ViewBag.Title</span>
</div>