@{
    ViewBag.Title = "On-Board";
}
<div class="sub-page  AlignH template-tabs no-tabs">
   
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
   
    <div id="scrollable" class="scrollable" >
    <div class="items">
             <div class="page-content" data-navmenu="hidden">
                <div class="content_scrollable_wrap">
                    <a   data-page="/NewTelstraCustomer/onBoard_AccountServices" style="margin-left: 50px;margin-top: 220px;" href="#" class="page-menuBtn btn big">ACCOUNT SERVICES</a>
                    <a   data-page="/NewTelstraCustomer/onBoard_RegisterMyAccount" style="margin-left: 50px;margin-top: 220px;" href="#" class="page-menuBtn btn big">MY ACCOUNT</a>
                    
                </div>
            
            </div> @*end item here*@
     </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <span class="current">@ViewBag.Title</span>
</div>


