@{
    ViewBag.Title = "Internet Tasks";
}
<div class="sub-page  AlignH template-tabs">

    <a class="scrollable-browse scrollable-next"></a>
    <a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>
    <ul class="navi cf " style="margin-left: 10px;">
        <li class="hidden"></li>

        <li>
            <a href="#" class="two-lines">Log in to My<br />
                BigPond</a></li>
        <li>
            <a href="#">My Inbox</a></li>

        <li>
            <a href="#">Prepaid Recharge</a></li>
        <li>
            <a href="#" class="two-lines">Change Internet<br />
                Plan
            </a>
        </li>
        <li>
            <a href="#">Plan Finder

            </a>
        </li>
        <li>
            <a href="#" class="two-lines">Upgrade from<br />
                Dialup


            </a>
        </li>
        <li>
            <a href="#" class="two-lines">Check Internet<br />
                Usage



            </a>
        </li>
        <li>
            <a href="#">Check Availability</a></li>
    </ul>
    <div id="scrollable" class="scrollable">
        <div class="items">

            <div class="page-content">

                <div class="bottom-findmore">
                    <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-type="video" data-path="/Content/videos/Account Services Role Play.mp4">Account Services Role Play</a></li>
                    </ul>
                </div>

                <h2>Internet Tasks</h2>

                <div class="coll-left">
                    <figure>
                        <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.0.png" />
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div style="font-size: 0.9em;">

                            <p>The  convenient location for Internet related tasks, such as checking Internet  usage, Pre-Paid Recharge, changing Internet plan and logging in to My BigPond.</p>
                            <p>The  self service options available to customers under this tab are a combination of  authenticated and unauthenticated tasks.</p>
                            <p>
                                Every  task has an &ldquo;i&rdquo;
                                <img src="../../Content/img/icon-information.png" />
                                on the top left where customers can hover to find  a summary of that task.
                            </p>
                            <p>
                                An  authenticated task can be identified with a padlock next to it
                                <img src="../../Content/img/icon-security.png" />
                                This means customers are required to log in to My Account in order to  perform this task online.
                            </p>
                            <p>By  logging in to My Account our customers can be assured that all transactions  done on their account have been done <strong>SECURELY</strong>.</p>
                            <p>An  unauthenticated task is handy when customers want to perform a one-off  transaction online. There is additional information required when performing an  unauthenticated task.</p>
                            <p>An  unauthenticated transaction may be a lengthier process than transacting via My  Account (as My Account has customer account data stored).</p>
                            <p>Click  an icon to find out more.</p>

                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@
            <div class="page-content">
                <div class="top-slider">
                    <p>
                        My BigPond is different to My Account
                    </p>
                </div>
                <div class="bottom-findmore">
                    <ul>
                        <li>
                            <a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>

                <h2>Log in to My BigPond</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-1"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.1_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.1_image2.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.1_image3.png" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>My BigPond is a <strong>SECURE</strong> and <strong>CONVENIENT</strong> online  tool that allows Telstra customers to:</p>
                            <ul>
                                <li>Easily  manage their  BigPond services</li>
                                <li>Keep  track of their usage</li>
                                <li>See  usage to date and remaining allowance for the month</li>
                                <li>Upgrade  or change their Internet plan</li>
                                <li>View  plan details including monthly allowance and contract length</li>
                                <li>Get  add-ons for their Internet services such as online storage, premium support,  BigPond security and more</li>
                            </ul>
                            <p>Customers must log in to My BigPond with their My BigPond  log in details (set up at the time of service activation). These may be  different to their My Account log in details.</p>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@
            <div class="page-content">
                <h2>My Inbox</h2>
                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-2"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.1_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.2_image2.png" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>The &ldquo;My Inbox&rdquo; tab, under Internet Tasks in Account Services, gives customers easy access to their My BigPond email inbox.</p>
                            <br />
                            <p>With MyInbox, in My BigPond, customers can combine their email, home or office phone and mobile communications in one place online.</p>
                            <br />
                            <p>Access is included as part of a BigPond or Telstra membership / plan.</p>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@
            <div class="page-content">
                <div class="top-slider">
                    <p>
                        <strong>MILES AWAY TO CLICKS AWAY!
                        </strong>
                    </p>
                </div>
                <div class="bottom-findmore">
                    <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageindex="0">My Account Virtual Tour</a></li>
                        <li>
                            <a href="#" data-type="video" data-path="/Content/videos/Pre-Paid Recharge Online - Mobile Broadband.mp4">Pre-Paid Recharge Online – Mobile Broadband 
                            </a>
                        </li>
                        <li>
                            <a href="#" data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhoneRecharge" data-pageindex="0" >Recharge</a>
                        </li>
                    </ul>
                </div>

                <h2>Prepaid Recharge</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-3"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.3_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.3_image2.png" />

                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div style="font-size: 0.9em;">
                            <p>Recharging  online is <strong>EASY AND CONVENIENT. </strong>It is a great option for customers to  recharge their Pre-Paid Telstra service instantly without the need to wait in a  queue.</p>
                            <p>Customers  can choose to recharge their Pre-Paid mobile, mobile broadband or Micro-SIM for  Apple iPad, online on a compatible mobile or on a computer any time of the day  or night.</p>
                            <p>Customers  can recharge &ldquo;on the move&rdquo; through a range of Telstra 24x7 social and mobile  Apps for iPhone, iPad, Android and Facebook.</p>
                            <p>If  customers have other services with Telstra, and have registered to My Account  already, their Pre-Paid service information is available through their existing  My Account. </p>
                            <p>By  recharging using My Account, customers have the convenience of:</p>
                            <ul>
                                <li>saving their credit card details and recharging  by SMS</li>
                                <li>setting up an auto recharge when their account  reaches a set balance </li>
                                <li>scheduling a monthly recharge from their bank  account using direct debit</li>
                            </ul>
                            <p style="width: 640px;">Customers  can also <strong>ACTIVATE</strong> their <strong>PRE-PAID SERVICE ONLINE </strong>through  Telstra.com. It&rsquo;s simple and easy, customers are kept posted on the status of  their service activation.</p>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p><strong>EXCLUSIVE</strong> offers may be available online</p>
                </div>
                <div class="bottom-findmore">
                    <ul>
                        <li>
                            <a href="#" data-page="/PotentialTelstraCustomer/Internet" data-pageindex="0">Internet</a>
                        </li>
                    </ul>
                </div>

                <h2>Change Internet Plan</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-4"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.4_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.4_image2.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.4_image3.png" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <ul>
                                <li>Under  the Change Internet Plan tab, in Internet Tasks under Account Services,  customers can conveniently and easily change their plan (once in every billing  period) to suit their changing needs and requirements.</li>
                                <li>The  online experience is simple and easy </li>
                                <li>Customers  are given an overview of their current plan, presented with plan options that  they can choose from and choose when they would like the plan to take effect  (choice of next billing cycle or immediately at midnight)</li>
                            </ul>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">

                <div class="bottom-findmore">
                    <ul>
                        <li>
                            <a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>

                <h2>Plan Finder</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-5"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.5_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.5_image2.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.5_image3.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.5_image4.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.5_image5.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.5_image6.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.5_image7.png" />

                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <ul>
                                <li>Plan  Finder, in Internet Tasks under Account Services, is where our customers can  conveniently and easily find the right plan for their needs and requirements.</li>
                                <li>The  online experience is fun, simple and easy </li>
                                <li>Customers  are asked a series of questions about their monthly usage, number of people  using the internet connection and month budget. They are then presented with  options and an overview of the plans that they can choose from</li>
                            </ul>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p>
                        The online experience is simple and easy 
                    </p>
                </div>
                <div class="bottom-findmore">
                    <ul>
                        <li>
                            <a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>

                <h2>Upgrade From Dialup</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-6"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.6_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.6_image2.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.6_image3.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.6_image4.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.6_image5.png" />


                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <ul>
                                <li>Upgrade  from Dialup, in Internet Tasks under Account Services, is where our customers  can switch to BigPond broadband conveniently and easily.</li>
                                <li>This  tab assists customers to find the right plan for their needs and requirements.</li>
                                <li>Customers  are asked a series of questions about their current services, they are then  presented with plan options and extras available to them.</li>
                                <li>To  complete the process, customers are required to fill in their details and are  then presented with an order confirmation. </li>
                                <li>Customers  have the option of retaining their existing username from their dialup account.</li>
                            </ul>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">

                <div class="bottom-findmore">
                    <ul>

                        <li>
                            <a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageindex="0">My Account Virtual Tour</a></li>
                        <li>
                            <a href="#" data-page="/CustomerReceivesFirstBill/WhatDataUsage" data-pageindex="0">What's My Data Usage</a></li>
                    </ul>
                </div>

                <h2>Check Internet Usage</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-7"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.7_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.7_image2.png" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div style="font-size: 0.8em;">
                            <p>My BigPond is a <strong>SECURE</strong> and <strong>CONVENIENT</strong> online  tool that allows Telstra customers to:</p>
                            <ul>
                                <li>Easily  manage their BigPond services</li>
                                <li>Keep  track of their usage</li>
                                <li>See  usage to date and remaining allowance for the month</li>
                                <li>Upgrade  or change their Internet plan</li>
                                <li>View  plan details including monthly allowance and contract length</li>
                                <li>Get  add-ons for their Internet services such as online storage, premium support,  BigPond security and more</li>
                            </ul>
                            <p>Customers can log in to My BigPond to view the usage on  their Telstra mobile or broadband service, details include: </p>

                            <ul>
                                <li>data  usage to date, </li>
                                <li>data  usage remaining, </li>
                                <li>days  remaining to next cycle</li>
                                <li>a  breakdown of data usage by day</li>
                            </ul>

                            <p>Customers must log in to My BigPond with their My BigPond  log in details (set up at the time of service activation). These may be  different to their My Account log in details.</p>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">

                <div class="bottom-findmore">
                    <ul>
                        <li>
                            <a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>

                <h2>Check Availability</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-8"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.8_image1.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.8_image2.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.8_image3.png" />
                                <img src="/Content/img/2.2.2.1.5 Internet Tasks/2.2.2.1.5.8_image4.png" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>Through  the  &ldquo;Check  Availability&rdquo; tab  under Internet  Tasks  in Account Services, customers can see what BigPond  broadband options are available for their homes. </p>
                            <br />
                            <p>Customers  can check:</p>
                            <ul>
                                <li>All broadband options at a specific location by street address, suburb or postcode</li>
                                <li>Mobile broadband coverage available in their postcode location</li>
                                <li>The difference between BigPond  broadband ADSL and Cable services</li>
                                <li>The difference between ADSL and ADSL2+</li>
                                <li>What modems are compatible with ADSL2+</li>
                            </ul>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@
        </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_AccountServices" data-pageindex="1">Account services</a>
    <span class="current">@ViewBag.Title</span>
</div>



