@{
    ViewBag.Title = "Facebook 24x7 App";
}
<div class="sub-page  AlignH ">
    <style>
        .title_h2 h2 {
            font-size: 18px;
            padding-left: 10px !important;
            margin-right: 5px !important;
            text-align: center;
        }
        .sub-page .page-content ul.ul-tabs li a{
            font-size: 16px; 
            height: 45px;
    padding: 20px 0 0;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a>
    <a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="scrollable" class="scrollable">
        <div class="items">

            <div class="page-content">
                <div class="coll-left">
                    <h2>&nbsp;</h2>
                    <figcaption>
                        <p><strong>The Telstra 24x7 App on Facebook is available via desktop or laptop.</strong></p>
                        <br />
                        <p><strong>To use the App, customers must be logged in to their Facebook account.</strong></p>
                        <br />
                        <p><strong>Customers have two options to link to the App:</strong></p>
                        <ul>
                            <li>Using a Telstra My Account</li>
                        </ul>
                        <p><em>OR</em></p>
                        <ul>
                            <li>Using a Telstra pre-paid mobile phone number (customers will need their mobile handy, as Telstra will send a validation code via SMS as part of the log in process)</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-1"></div>
                            <div class="items">
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.0_page1.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.0_page2.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.0_page3.png" />
                            </div>
                        </div>
                    </figure>
                </div>



            </div>
            @*end item here*@

            <div class="page-content">
                <div class="coll-left">
                    <figcaption style="padding:70px 0;">
                        <p style="margin-bottom:12px;"><strong>It's important to advise customers of the key points for Privacy & Security:</strong></p>
                        <ul style="margin-bottom: 12px;">
                            <li>Telstra does not provide  customer data to Facebook & only uses basic information from Facebook</li>
                            <li>Logging on to the App is secure just like logging on to  My Account on the Telstra website</li>
                            <li>Customers manage their linking settings which provides an additional layer of security</li>
                        </ul>
                        <p style="margin-bottom:12px;">A customer can choose between temporary or continuous linking with My Account login details.</p>
                        <p style="margin-bottom: 12px;">Linking using their Pre-Paid number can only be a continuous link. </p>
                        <p>Continuous linking means the customer's login details will be remembered so they don't have to enter them each time they access the app on Facebook.  This means whenever they are logged into Facebook they will also be logged into the app, so customers must ensure they keep their Facebook details safe.</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                           <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.0_page2.png" />
                    </figure>
                </div>



            </div>
            @*end item here*@


            <div class="page-content">
                <div class="coll-left">
                    <figcaption style="font-size: .9em; padding:70px 0;">
                        <p style="margin-bottom:12px;">The Telstra 24x7 App on Facebook gives Telstra customers a “dashboard” view of their services, where key functionality is all on one page.</p>
                        <p style="margin-bottom: 12px;"><strong>If a customer links their My Account to the App they can:</strong></p>
                        <ul style="margin-bottom: 12px;">
                            <li>View a summary of their billing accounts and active services</li>
                            <li>View the status of their bills and see the amounts owing</li>
                            <li>Initiate a bill payment (click through to pay their bill online)</li>
                            <li>View an estimated usage summary for their active post-paid services</li>
                            <li>View the balance of their pre-paid services & the details of any Bonuses or Plus Packs</li>
                            <li>Recharge their pre-paid services</li>
                            <li>Contact Telstra 24x7 through one of the online Support Channels</li>
                        </ul>
                        <p style="margin-bottom: 12px;"><strong>If a customer links a Telstra pre-paid mobile number to the App they can:</strong></p>
                        <ul style="margin-bottom: 12px;">
                            <li>View the balance of the service & the details of any Bonuses or Plus Packs</li>
                            <li>Recharge the service</li>
                            <li>Contact Telstra 24x7 through one of the online Support Channels</li>
                        </ul>

                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                           <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.0_page3.png" />
                    </figure>
                </div>



            </div>
            @*end item here*@


            <div class="page-content">
                <div class="bottom-findmore">   <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/Telstra 24x7 Apps.mp4" data-type="video">TDTV episode – Apps</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                     <ul class="ul-tabs cf">
                            <li class="active"><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                 
                    <figcaption>
                        <p style="margin-bottom:12px;">In this section customers can:</p>
                        <ul>
                            <li>Change accounts</li>
                            <li>See current amount owing</li>
                            <li>Make a bill payment</li>
                            <li>See a bar graph for the last four bill amounts owing</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.1_page1.png" />
                    </figure>
                </div>
            </div>@*end item here*@


            <div class="page-content">
                <div class="bottom-findmore"><img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/Telstra 24x7 Apps.mp4" data-type="video">TDTV episode – Apps</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                     <ul class="ul-tabs cf">
                            <li class="active"><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <ul>
                            <li>Customers can pay their bills through the Facebook App easily and conveniently.</li>
                            <li>Customers are taken to the online billing section on Telstra.com to make a payment with their credit card.</li>
                            <li>Customers can save credit card details for future bill payments</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-2"></div>
                            <div class="items">
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.1_page2_image1.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.1_page2_image2.png" />
                            </div>
                        </div>
                    </figure>
                </div>


            </div>@*end item here*@


            <div class="page-content">
                <div class="bottom-findmore"><img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/Telstra 24x7 Apps.mp4" data-type="video">TDTV episode – Apps</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li class="active"><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">In this section customers can:</p>
                        <ul style="margin-bottom: 12px;">
                            <li>See a list of the services attached to the billing account</li>
                            <li>View estimated usage details for their mobile phone (call and data), landline and internet services</li>
                        </ul>
                        <p style="margin-bottom: 12px;">No estimated usage available for Foxtel from Telstra</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page1_image1.png" />
                    </figure>
                </div>


            </div>@*end item here*@

            <div class="page-content">
                <div class="bottom-findmore"><img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/Telstra 24x7 Apps.mp4" data-type="video">TDTV episode – Apps</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                     <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li class="active"><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">Customers can choose to see their estimated usage details in a circular or bar graph format.</p>
                        <ul style="margin-bottom: 12px;">
                            <li>Mobile Data Capped Plans - Horizontal graph(default)</li>
                            <li>Mobile Data Capped Plans - Circular graph</li>
                            <li>Mobile Non-Capped Plans</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-3"></div>
                            <div class="items">
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page2_image1.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page2_image2.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page2_image3.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page2_image4.png" />
                            </div>
                        </div>
                    </figure>
                </div>


            </div>@*end item here*@


            <div class="page-content">
                <div class="coll-left">
                     <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li class="active"><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">Customers can choose to see their estimated usage details in a circular or bar graph format.</p>
                        <ul>
                            <li>Internet Plans - Horizontal graph(default)</li>
                            <li>Internet Plans - Circular graph</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-4"></div>
                            <div class="items">
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page3_image1.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page3_image2.png" />
                            </div>
                        </div>
                    </figure>
                </div>


            </div>@*end item here*@

            <div class="page-content">
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li class="active"><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p>This is how customers will see their home phone and Foxtel from Telstra plan details</p>
                        <br />
                        <p>When customers hover on “estimated charges” a help icon appears displaying estimated charges for their home phone plan</p>
                        <br />
                        <p>When customers hover on “see guide” in their Foxtel from Telstra account, the guide opens up in a new window</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-5"></div>
                            <div class="items">
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page4_image1.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page4_image2.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.2_page4_image3.png" />
                            </div>
                        </div>
                    </figure>
                </div>


            </div>@*end item here*@


            <div class="page-content">
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li class="active"><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p>In this section customers can view details of their Pre-Paid Service including current balance and recharge options</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.3_image1.png" />
                    </figure>
                </div>


            </div>@*end item here*@

            <div class="page-content">
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li class="active"><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">Within the Pre-Paid recharge section, customers can:</p>
                        <ul>
                            <li>View Pre-paid mobile service summary</li>
                            <li>View current estimated balance for their Pre-Paid service</li>
                            <li>Recharge online</li>
                            <li>View bonuses and Plus Packs</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.3_page2_image1.png" />
                    </figure>
                </div>


            </div>@*end item here*@

            <div class="page-content">
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li class="active"><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p>Customers can easily recharge their Pre-Paid service in just a few clicks</p><br />
                        <p>Credit amount is automatically updated and visible after recharge</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-6"></div>
                            <div class="items">
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.3_page3_image1.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.3_page3_image2.png" />
                                <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.3_page3_image3.png" />
                            </div>
                        </div>
                    </figure>
                </div>


            </div>@*end item here*@


            <div class="page-content">
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li  class="active"><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li ><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">Customers can get 24x7 support within the App through Live Chat and social media, options are:</p>
                        <ul>
                            <li>Telstra CrowdSupport</li>
                            <li>Live Chat</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.4_image1.png" />
                    </figure>
                </div>


            </div>@*end item here*@



            <div class="page-content">
                <div class="coll-left">
                       <ul class="ul-tabs cf">
                            <li><a href="#" class="three-lines" style="font-size: 14px;"  data-scrollto="3" >Billing Account
                            <br />
                            summary
                            <br />
                            & payment options</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"  data-scrollto="5" >Post-paid services<br />
                                & usage summary</a></li>
                            <li><a href="#" class="two-lines" style="padding-top: 10px; padding-bottom: 5px;"   data-scrollto="9" >Pre-paid services<br />
                                & Balance summary</a></li>
                         <li ><a href="#" style="width: 100px;"  data-scrollto="12">Support</a></li>
                         <li  class="active"><a href="#"  style="width: 100px;"  data-scrollto="13">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">In this section customers can easily and conveniently choose to:</p>
                        <ul style="margin-bottom: 12px;">
                            <li>“Unlink” to remove the association with the app</li>
                            <li>Click to change the colour palette of the application</li>
                            <li>Click to change the format of the Usage Meter from a Bar to circular graph</li>
                            <li>Create nicknames for their accounts and associated services</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Facebook virtual tour screen shots/2.2.1.1.1.1.2.5_image1.png" />
                    </figure>
                </div>


            </div>@*end item here*@
        </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_RegisterMyAccount" data-pageIndex="2">Signup/Register for My Account</a>
    <span class="current">@ViewBag.Title</span>
</div>
