@{
    ViewBag.Title = "Signup/Register for My Account";
}
<div class="sub-page  AlignH ">
   
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
   
    <div id="scrollable" class="scrollable" >
    <div class="items">
                     
            <div class="page-content">
                <div class="content_scrollable_wrap">
                    <figcaption style="height:580px;">
                    <p>My  Account is a free service to all Telstra customers that provides access to a  range of useful online services to help them manage their Telstra services from  their computer or compatible mobile devices. </p>
                    <br /><p>Once  logged in to My Account, customers can perform various account management  functions such as: monitoring calls and data usage, automating payments and  viewing bills online.</p>
                     <br /><p>Customers  can access the Desktop version of My Account through <a href="https://www.my.telstra.com.au/myaccount/home">telstra.com/</a><a href="https://www.my.telstra.com.au/myaccount/home">myaccount</a> (to  log-in) <a href="https://www.my.telstra.com.au/myaccount/register">telstra.com.au/</a><a href="https://www.my.telstra.com.au/myaccount/register">myaccount</a><a href="https://www.my.telstra.com.au/myaccount/register">/register</a> (to  register).</p>
                     <br /><p>Register  customers through Assisted Registration Tool (search for ART in KnowHow) if  they are having difficulty signing up.</p>
                     <br /><p>Customers  can also choose from a range of Telstra24x7 social and mobile Apps to access  their Telstra services on the go.</p>
                </figcaption>

                </div>
            
            </div> @*end item here*@
            
        <div class="page-content">
            <div class="bottom-findmore">
                <ul>  <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="3" >Support</a></li></ul>
            </div>
            <div class="top-slider"><p>Register via ART if customer is having problems signing up
                                    </p></div>
            <div class="scrollable_wrap">
                <div class="coll-left">
                    
                    <figcaption style="height:650px;">
                        <p>Registering  for My Account is simple and easy.</p><br />
                        <p>Customers  can initiate the registration through telstra.com or through any of the Telstra  24x7 social and mobile Apps</p><br />
                        <p>Registration  is fast and simple, customers are required to have:</p>
                        <ul>
                        <li>Telstra  account number <strong>OR </strong>their Telstra Pre-Paid mobile number</li>
                        <li>an  active email address</li>
                         </ul><br />
                        <p>Customers  can chat online to a consultant to promptly receive their account number or  address queries during the registration process</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable" >
                            <div id="small-nav-1"></div>
                            <div class="items">                                   
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/0.2.2.1.1_image1.png"/>       
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/0.2.2.1.1_image2.png"/>     
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/0.2.2.1.1_image3.png"/>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
        
        <div class="page-content">
            <div class="content_scrollable_wrap">
                    <h2 style="text-align: center;">MY ACCOUNT – EXPERIENCE THE POWER
</h2>
                <a href="#"  data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour"  class="page-menuBtn btn btn-screen">My Account on Desktop
</a>
                <a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp"  class="page-menuBtn btn btn-screen">Facebook 24x7 App</a>
                <a href="#" data-page="/NewTelstraCustomer/onBoard_InstallIpadApp"  class="page-menuBtn btn btn-screen">iPad App</a>
                <a href="#" data-page="/NewTelstraCustomer/onBoard_InstallIphoneApp"  class="page-menuBtn btn btn-screen">iPhone App</a>
                <a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallAndroidApp"  class="page-menuBtn btn btn-screen">Android App</a>
            </div>
            
            </div> @*end item here*@
    </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
      <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
    <span class="current">@ViewBag.Title</span>
</div>


