@{
    ViewBag.Title = "Billing and Payment Tasks";
}
<div class="sub-page  AlignH template-tabs">
   
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
      <ul class="navi cf " style="margin-left: 10px;">
        <li class="hidden"></li>
        <li><a href="#">Pay a Bill</a></li>
          <li><a href="#" class="two-lines">Request<br />Email Bill</a></li>
        <li><a href="#">Manage Bills</a></li>
        <li><a href="#" class="two-lines">Download and<br />Print Bill</a></li>    
        <li><a href="#" class="two-lines">Change to Paper<br />Bill</a></li>      
        <li><a href="#" class="two-lines">Advise us of<br />a Payment</a></li>       
        <li><a href="#" class="two-lines">Update Billing<br />Address</a></li>     
        <li><a href="#" class="two-lines">Set Alerts and<br />Reminders</a></li>     
    </ul> 
    <div id="scrollable" class="scrollable" >
        <div class="items">
        
            @* Billing and Payment section*@

                <div class="page-content">
                  <div class="top-slider"><p>Direct Debit = <strong>SET & FORGET</strong></p></div>
                 <div class="bottom-findmore"><img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                     <ul>
                         <li><a href="#" data-type="video" data-path="/Content/videos/Auto Payment Registration.mp4">Auto Payment Registration</a></li>
                         
<li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                     </ul>
                 </div>
                 <h2>Billing and Payment Tasks</h2>
               
                        
                    <div class="scrollable_wrap" >
                          <div class="coll-left">
                              <figure>
                                
                                <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.2.png"/>
                              </figure>
                          </div> 
                         <div class="coll-right">
                             <figcaption style="height: auto;">
                                 <div style="font-size: .9em;">
                                     <p>The  one convenient location for all billing and payment related tasks.</p>
                                     <p>The  self service options available to customers under this tab are a combination of  authenticated and unauthenticated tasks.</p>
                                     <p>Every  task has an &ldquo;i&rdquo; <img src="../../Content/img/icon-information.png" /> on the top left where customers can hover to find  a summary of that task.</p>
                                     <p>An  authenticated task can be identified with a padlock next to it <img src="../../Content/img/icon-security.png" />. This means customers are required to log in to My Account in order to  perform this task online.</p>
                                     <p>By logging  in to My Account,  our  customers can be assured that all transactions done on their account have been done SECURELY.</p>
                                     <p>An  unauthenticated task is handy when customers want to perform a one-off  transaction online. There is additional information required when performing an  unauthenticated task.</p>
                                     <p>An  unauthenticated transaction may be a lengthier process than transacting via My  Account (as My Account has customer account data stored). However, it&rsquo;s  convenient when a customer is not on their own PC or using a different device  while travelling etc.</p>
                                 </div>
                             </figcaption>
                             </div>
                    </div>
                
            
            </div> @*end item here*@
                <div class="page-content">
                  <div class="top-slider"><p>Direct Debit = <strong>SET & FORGET</strong></p></div>
                 <div class="bottom-findmore"><img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                     <ul>
                         <li><a href="#" data-type="video" data-path="/Content/videos/Auto Payment Registration.mp4">Auto Payment Registration</a></li>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                     </ul>
                 </div>
                <h2>Pay a Bill</h2>
                <div class="scrollable_wrap">
                   
                    </div><div class="coll-left">
                              <figure>
                                  <div class="imgscrollable">
                                      <div id="small-nav-1"></div>
                                      <div class="items">
                                 <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.1_image1.png" />
                                 <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.1_image2.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                    <div class="coll-right">
                        <figcaption>
                            <div >
                              <!--<p>Procedural  how to get to Pay a bill </p><br/>-->
<p>Digital  Payments are  about  taking the hassle out of remembering to pay a bill – QUICK, EASY, SECURE</p><br/>
<p>Choosing  to  pay bills online is a smart way for our customers to stay in control and take  care of their Telstra bills, quickly and efficiently. </p><br/>
<p>Customers  can set up an automatic direct debit in My Account from their savings or cheque  account or credit card – Visa, MasterCard, American Express and Diners Club.  Depending on the credit card, a service fee is applicable.</p><br/>
<p>Customers  can retain control by setting up one-off, fixed or automatic deductions and can  change at any time.</p>
                            </div>
                        </figcaption>
                </div>
            
              </div> @*end item here*@
              
                <div class="page-content">
                  <div class="top-slider"><p>Switch customers to Email Bill on every call </p></div>
                 <div class="bottom-findmore"><img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                     <ul>
                         <li><a href="#" data-type="video" data-path="/Content/videos/Online Bill vs Email Bill.mp4">Online Bill vs Email Bill</a></li>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                          <li><a href="#" data-page="/CustomerReceivesFirstBill/CustomerReceivesBill" data-pageIndex="1">Email Bill Virtual Tour</a></li>
                     </ul>
                 </div>
                <h2>Request Email Bill</h2>
               <div class="coll-left">
                              <figure>
                                <div class="imgscrollable"  >
                                <div id="small-nav-2"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.2_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.2_image2.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   <div class="coll-right">
                        <figcaption>
                            <div >
                            <p style="margin-bottom:15px;">Email  Bill is about convenience for our customers as it gives them the freedom to  access their bills ANYTIME, ANWHERE – ON THE GO</p>
<p style="margin-bottom: 15px;">Customers  receive their Telstra Bills in their nominated inbox as a PDF  file.</p>
<p style="margin-bottom: 15px;">Email  Bill helps customers cut down on clutter.</p>
<p style="margin-bottom: 15px;">Email  Bill is handy in  situations where customers need to provide a copy of a utility bill as proof of  address;  having  it online is perfect for those situations.</p>
<p style="margin-bottom: 15px;">Very  useful at tax times, Email Bill means electronic access as and when needed to  forward a soft copy to tax accountant or print when needed. The ATO now accepts  electronic copies of bills at tax time for consumers and small businesses.</p>
<p>On  some plans, customers may also be able to save a $2 charge if they opt for an  email bill.</p>
                            </div>
                        </figcaption>
                    </div>
                
            
               </div> @*end item here*@
               
                <div class="page-content">
                  <div class="top-slider"><p>Register customers for My Account on every call
 </p></div>
                 <div class="bottom-findmore">
                     <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                          <li><a href="#" data-page="/CustomerReceivesFirstBill/CustomerReceivesBill" data-pageIndex="1">Email Bill Virtual Tour</a></li>
                         
   <li><a href="#" data-page="/CustomerReceivesFirstBill/WhatThisCharge" data-pageIndex="0">What's this Charge?</a></li>
                     </ul>
                 </div>
<h2>Manage Bills</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-3"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.3_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.3_image2.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                          <p>The manage bills functionality online is a secure task. Customers are required to  log in to My Account to make changes to their account information.</p>
<br /><p>Customers  can:</p>
<ul><li><strong>set up a single bill</strong> that combines their Telstra  accounts and services into one convenient bill, if they have more than one.</li>
	
	<li><strong>update the billing name and address</strong> that appears on their Telstra bill.</li>
	
	<li><strong>allocate calls to groups</strong> which allows them to track, analyse and allocate call on a per bill basis to named groups created by them.</li>
	
	<li><strong>allocate names to numbers</strong> to personalise the online display of their bill.</li></ul>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@
                 
                <div class="page-content">
                  <div class="top-slider"><p>Download up to 12 months of bill history
 </p></div>
                 <div class="bottom-findmore">
                     <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                           <li><a href="#" data-page="/CustomerReceivesFirstBill/CustomerReceivesBill" data-pageIndex="4">Online Bill Virtual Tour</a></li>
                         
                     </ul>
                 </div>
               <h2>Download and Print Bill</h2>
               
                   <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-4"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.4_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.4_image2.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                          <p>The download and print bill functionality online  is a secure task. Customers are required to log in to My Account to access  their PDF bills.</p><br/>
<p>Through the My Account overview page customers can access and download up to 4 months  of their Telstra bill, however more are available by clicking the &ldquo;Billing and Payment&rdquo; tab in My Account.</p><br/>
<p>Once downloaded, they can print as many copies as they require.</p><br/>
<p>The downloaded PDF can be on-forwarded as required.</p>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@

                <div class="page-content">
                 
                 <div class="bottom-findmore">
                     <ul>
                          <li><a href="#" data-page="/CustomerReceivesFirstBill/CustomerReceivesBill" data-pageIndex="1">Email Bill Virtual Tour</a></li>
                         
                     </ul>
                 </div>
                <h2>Change to Paper Bill</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-5"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.5_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.5_image2.png"/>
                                        <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.5_image3.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                         <p>Paper Bill is a thing of the past,  with customers now wanting the freedom and convenience to access their bills ANYTIME, ANWHERE – ON THE GO through their desktop, tablets or  smart phones.</p><br/>
<p>However, if a customer cannot access their bill via email they can choose to receive a paper bill.</p><br/>
<p>Customers have the option of receiving their bill by email, without registering for My Account</p>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@
                 
                <div class="page-content">
                 
                 
                <h2>Advise us of a Payment</h2>
                <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-6"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.6_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.6_image2.png"/>
                                     
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
               
                    <div class="coll-right">
                        <figcaption>
                            <div >
                        <p>Sometimes Telstra may require  customers to inform us of a payment if they have been in arrears for a long  time.</p><br/>
<p>Customers can advise us of a  payment by clicking on this icon. Customers will be required to provide contact  and payment details.</p>
                            </div>
                        </figcaption>
                    </div>
            
                  </div> @*end item here*@
                  
                <div class="page-content">
                      <div class="bottom-findmore">
                     <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                     </ul>
                 </div>
                 
               <h2>Update Billing Address</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-7"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.7_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.7_image2.png"/>
                                        <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.7_image3.png"/>
                                     
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                        <p>The update billing address functionality online is a secure task. Customers are required to log in to My Account to make changes to their account information.</p><br/>
<p>Customers can update the billing address under “My Details” in My Account
</p>
                            </div>
                        </figcaption>
                    </div>
            
                    </div> @*end item here*@
                    
                <div class="page-content">
                  <div class="top-slider"><p>An assistant to remind you to pay your bills on time
</p></div>
                <div class="bottom-findmore">
                    <ul>
                        
  <li><a href="#" data-page="/CustomerReceivesFirstBill/CustomerReceivesBill" data-pageIndex="4">Online Bill Virtual Tour</a></li>
                    </ul>
                </div>
                 
                <h2>Set Alerts and Reminders</h2>
               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-8"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.8_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.8_image2.png"/>
                                          <img src="/Content/img/2.2.2.1.1 Billing and Payment Tasks/2.2.2.1.1.8_image3.png"/>
                                     
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                                <p>Our  customers can set email and SMS reminders for when their bill is available,  due, late, and/or paid. The good thing is notification can go to two email addresses which is handy for a forgetful spouse!</p><br/>
                                <p>Nick, for example, sets an alert for two days prior to due date as soon as he receives his email bill. </p><br/>
                                <p>This is a secure task that requires customers to log in to My Account</p>
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@
            
            @* Billing and Payment section ends here *@
            
           
        </div>
    </div>
</div>


<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
      <a href="#" data-page="/NewTelstraCustomer/onBoard_AccountServices" data-pageIndex="1">Account services</a>
    <span class="current">@ViewBag.Title</span>
</div>



