@{
    ViewBag.Title = "Android App";
}
<div class="sub-page  AlignH ">
    <style>
        .title_h2 h2 {
            font-size: 28px;
            padding-left: 10px !important;
            margin-right: 5px !important;
            text-align: center;
        }
        .sub-page .page-content ul.ul-tabs li a{
            font-size: 20px;
            width: 95px;
        }
        .sub-page .page-content figcaption ol,
        .sub-page .page-content figcaption ul{
            margin:0 0 0 16px;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a><a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="scrollable" class="scrollable">
        <div class="items">
            <div class="page-content">
                <div class="coll-left">
                    <div class="title_h2">
                        <h2>&nbsp;</h2>
                    </div>
                    <figcaption>
                        <p>Telstra 24x7 App for Android provides customers secure access to their Telstra accounts and services 24x7.</p><br />
                        <p>The Telstra 24x7 App for Android is FREE and can be downloaded from Google Play.</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-1"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/install_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/install_image2.jpg" />
                                <img src="/Content/img/Android virtual tour screen shots/install_image3.jpg" />
                                <img src="/Content/img/Android virtual tour screen shots/install_image4.jpg" />
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@

            <div class="page-content">
                <div class="coll-left">
                    <figcaption style="font-size: 0.85em; padding:20px 0;">
                        <ol start="1" type="1">
                            <li><strong><u>Customers who do not wish to log in to My Account</u></strong> can click on <em>Skip       Registration</em> to view only details of the device they are on.</li>
                        </ol>
                        <p style="margin:10px 0;"><strong>NB:</strong> This is MSISDN based authentication so customer  can only see details of the mobile service they are using, they will not be  able to see any other services linked to My Account.</p>
                        <ol start="2" type="1">
                            <li><strong><u>Customers already registered for My Account</u></strong>can enter their  username and password. </li>
                        </ol>
                        <p style="margin: 10px 0;">Upon successful log in, they will be presented with the menu  screen, displaying the options available.</p>
                        <ol start="3" type="1">
                            <li><strong><u>Customers not registered for My Account</u></strong>can click <em>What is My </em>Account,       they will be presented with a browser window allowing them to register for My Account. </li>
                        </ol>
                        <p style="margin: 10px 0;"><strong>NB</strong>: Once the registration form is complete, the customer will have to open the App, it will not open automatically.</p>
                        <p style="margin: 10px 0;">Key features of the Telstra 24x7 App for Android are:</p>
                        <ul>
                            <li>View all active services (which are linked to customer's My Account) and the service the  handset is currently on</li>
                            <li>View current and past bill summary </li>
                            <li>View bill status (paid/unpaid) and payment options</li>
                            <li>Recharge and view balance remaining for Pre-Paid services</li>
                            <li>Store locator and Online Support Channels</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.0.png" />
                    </figure>
                </div>



            </div>
            @*end item here*@

            <div class="page-content">
                <div class="coll-left">
                     <ul class="ul-tabs cf">
                            <li class="active"><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                   
                    <figcaption>
                        <p style="margin-bottom: 12px;">Customers can view estimated usage of their Telstra account by:</p>
                        <ul>
                            <li>Logging on with My Account to see post-paid billing accounts;</li>
                            <li>Clicking on the bill to see the balance owing for pre-paid mobile and internet services  &amp; estimated usage for post-paid mobile and internet services; &amp;</li>
                            <li>Clicking on the estimated amount to see details of recent charges</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-2"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.1_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.1_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.1_image3.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.1_image4.png" />
                            </div>
                        </div>
                    </figure>
                </div>



            </div>
            @*end item here*@


            <div class="page-content">
                <div class="coll-left">
                      <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li class="active"><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">Customers can view current and previous bills in just a few touches by:</p>
                        <ol>
                            <li>Logging on with My Account to see post-paid billing accounts</li>
                            <li>Clicking on the bill to see the balance owing and other details; &amp;</li>
                            <li>Clicking on a previous bill to see the associated bill number</li>
                        </ol>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-3"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_image3.png" />
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li class="active"><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;"><strong>Customers can register to receive their bills via email in just a few touches by:</strong></p>
                        <ol>
                            <li>Clicking on the email icon in the top right corner of the bills details screen</li>
                            <li>Clicking on <em>Switch to email bill</em></li>
                            <li>Reviewing and agreeing to the terms and conditions </li>
                            <li>Entering and confirming the delivery email address and clicking <em>Confirm bill delivery</em></li>
                        </ol>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-4"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_page2_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_page2_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_page2_image3.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_page2_image4.png" />
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="top-slider">
                    <p>
                        Stored credit card details appear if logged in with My Account
                    </p>
                </div>
                <div class="coll-left">
                     <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li class="active"><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin:12px 0;">
                            <strong>Customers can pay bills in a few touches by:</strong>
                        </p>
                        <p style="margin-bottom: 12px;">
                            1) Clicking on <em>Make a payment</em> while viewing the bill and selecting the desired payment option.</p>
                        <p style="margin-bottom: 12px;">
                            2) Depending on the payment option chosen by a customer:
                        </p>
                            <ul>
                                <li>BPAY: customer is presented with BPAY code, Reference Number and Total Due. These details can be used to make payment through their banks BPAY</li>
                                <li>Phone :Customer is presented with Account Number, Bill Number, Total Due and can  call Telstra</li>
                                <li>Credit Card: Customer can make payment in the iPhone Safari browser </li>
                            </ul>
                        <p style="margin-top: 12px;">Customers can set up automatic payments by clicking <em>Sick of  remembering to pay your bills</em></p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-5"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_page3_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_page3_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.2_page3_image3.png" />

                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@


            <div class="page-content">

                <div class="coll-left">
                      <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li class="active"><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">Customers can view and rename details of their services in just a few touches by:</p>
                        <ul>
                            <li>Clicking on <em>My Services </em>to see the list of available services</li>
                            <li>Selecting the service they wish to view</li>
                            <li>Renaming their services by clicking the icon in the top right when viewing their service  details</li>
                        </ul>
                        <p style="margin-top: 12px;">If a customer has not logged in with their My Account details they will only be able to see  details of the service they are using.</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-6"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.3_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.3_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.3_image3.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.3_image4.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.3_image5.png" />

                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@


            <div class="page-content">
                <div class="top-slider">
                    <p>
                        Stored credit card details appear if logged in with My Account
                    </p>
                </div>
                <div class="coll-left">
                        <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li class="active"><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;"><strong>Customers can recharge their Telstra Pre-Paid services in  a few touches by:</strong></p>
                        <ol start="1" type="1">
                            <li>Selecting the service to be recharged</li>
                            <li>Selecting the <em>CREDIT</em> option</li>
                            <li>Selecting the desired payment method – credit / debit card or a voucher</li>
                        </ol>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-7"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_image3.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_image4.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_image5.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_image6.png" />
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">

                <div class="coll-left">
                          <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li class="active"><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;"><strong>Customers can purchase Plus Packs as extras to compliment their Pre-Paid offer by:</strong></p>
                        <ol start="1" type="1">
                            <li>Selecting the service </li>
                            <li>Selecting Plus Packs</li>
                            <li>Selecting the desired value</li>
                        </ol>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-8"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_page2_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_page2_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_page2_image3.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.4_page2_image4.png" />

                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@


            <div class="page-content">

                <div class="coll-left">
                        <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li class="active"><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p>
                            Customers can easily locate their nearest store through just a few clicks
                        </p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-9"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.5_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.5_image2.png" />
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@

            <div class="page-content">

                <div class="coll-left">
                          <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li class="active"><a href="#" data-scrollto="10">Contact</a></li>
                            <li><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">Customers can get  24x7 support within the App through Live Chat and social media, options are:</p>
                        <ul>
                            <li>Telstra 24x7 support on Twitter</li>
                            <li>Telstra CrowdSupport</li>
                            <li>Telstra 24x7 support on Facebook </li>
                            <li>Live Chat</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-10"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.6_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.6_image2.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.6_image3.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.6_image4.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.6_image5.png" />
                                <img src="/Content/img/Android virtual tour screen shots/2.2.1.1.1.1.5.6_image6.png" />
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@


            <div class="page-content">

                <div class="coll-left">
                         <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines" data-scrollto="2">My<br />Usage</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="3">My<br />Bills</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="6">My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="7" >Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9" >Find a<br />Store</a></li>
                            <li><a href="#" data-scrollto="10">Contact</a></li>
                            <li class="active"><a href="#"  data-scrollto="11">Settings</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;"><strong>Customers can access information and support in a few  touches by clicking on:</strong></p>
                        <ol start="1" type="1">
                            <li><em><u>Manage Services</u>: </em>to log in and out of their My Account </li>
                            <li><em><u>App Lock</u></em><u>:</u> to set a 4 digit PIN which must be entered when the App is opened</li>
                            <li><em><u>Data Settings</u>: </em>to turn off data settings to avoid metered content charges such as       store locator map being displayed</li>
                            <li><em><u>Colour Scheme</u></em>: to choose the display colour of their 24x7 app</li>
                            <li><em><u>About Telstra 24x7: </u></em>to see information relating to their version of the App</li>
                        </ol>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-11"></div>
                            <div class="items">
                                <img src="/Content/img/Android virtual tour screen shots/settings_image1.png" />
                                <img src="/Content/img/Android virtual tour screen shots/settings_image2.png" />

                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@
        </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_RegisterMyAccount" data-pageindex="2">Signup/Register for My Account</a>
    <span class="current">@ViewBag.Title</span>
</div>

