@{
    ViewBag.Title = "My Account on Desktop";
}
<div class="sub-page  AlignH ">

    <a class="scrollable-browse scrollable-next"></a>
    <a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="scrollable" class="scrollable">
        <div class="items">
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption style="height:640px;">
                            <p>This is the home screen on My Account – designed to show customers key information at a glance </p>
                            <p>&nbsp;</p>
                            <p>Here, customers can:</p>
                            <ul>
                                <li>View recent activity and data usage</li>
                                <li>Change plan, add features, order additional services and much more depending on the service they have</li>
                            </ul>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <div class="imgscrollable">
                                <div id="small-nav-1"></div>
                                <div class="items">
                                    <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.0_image1.png" />
                                    <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.0_newlook.png" />
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>


            <div class="page-content">
                <div class="bottom-findmore">
                    <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play </a>
                        </li>
                    </ul>
                </div>
                <div class="coll-left">
                  <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                   
                    
                    <figcaption>
                        <p><strong>This is the home screen on My Account – designed to show customers information at a glance.</strong></p>
                        <br />
                        <p>Customers account number is displayed clearly.</p>
                        <br />
                        <p>A drop down box appears for customers with multiple Telstra services.</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page1.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                  <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin:30px 0 12px;"><strong>This is the home screen on My Account – designed to show customers information at a glance</strong></p>
                        <p style="margin-bottom: 12px;">Customers can easily navigate to different pages</p>
                        <p style="margin-bottom: 12px;">1. My Details:</p>
                        <ul style="margin-bottom: 12px; padding-left:40px;">
                            <li>View  current contact details</li>
                            <li>Update  contact information</li>
                            <li>Change  bill delivery details</li>
                            <li>Set  bill reminders</li>
                            <li>Manage  subscriptions</li>
                        </ul>
                        <p style="margin-bottom: 12px;">2. Manage Account:</p>
                        <ul style="margin-bottom: 12px; padding-left:40px;">
                            <li>Add  an account</li>
                        </ul>
                        <p>3. Track an Order</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page2.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">
                      <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin: 30px 0 12px;"><strong>This is the home screen on My Account – designed to show customers information at a glance</strong></p>
                        <p style="margin-bottom: 12px;">The  billing and payments tab is the gateway to all billing and payment information  for our customers within My Account</p>
                        <p style="margin-bottom: 12px;">Customers  can:</p>
                        <ul style="margin-bottom: 12px; padding-left:40px">
                            <li>see  an overview of their bill and the outstanding amount if they have one</li>
                            <li>download/print  a PDF copy of their current bill and previous bills (up to 13 months)</li>
                            <li>view/download  an itemised usage breakdown (up to 13 months)</li>
                            <li>Set  up direct debit payment</li>
                            <li>Set  up a due date reminder</li>
                            <li>View  bill history</li>
                            <li>View  payment history</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page3.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">
                      <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom:12px;">
                            <strong>This is the home screen on My Account – designed to show customers information at a glance</strong>
                        </p>
                        <ul style="margin-bottom: 12px;">
                            <li>&ldquo;Help&rdquo;  within My Account provides customers the ability to search from a range of topics by keyword</li>
                            <li>Answers provided contain self-help information such as link within My Account, Telstra.com, Account Services</li>
                            <li>Customers can click through to live chat and social media forums for instant answers </li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page4.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">
                      <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">
                            <strong>This is the home screen on My Account – designed to show customers information at a glance</strong>
                        </p>
                        <p style="margin-bottom: 12px;">Customers can easily view a breakdown of each of their services with Telstra</p>
                        <p style="margin-bottom: 12px;">They can view details of the plan they are on</p>
                        <p>They can also download “My Offer Summary” of their plan</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page5.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">
                            <strong>This is the home screen on My Account – designed to show customers information at a glance</strong></p>
                        <p style="margin-bottom: 12px;"> View recent activity and data usage</p>

                        <p> Customers can change plan, add features, order additional services and much more depending on the service they have</p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page6.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">
                            <strong>This is the home screen on My Account – designed to show customers information at a glance</strong>
                        </p>
                        <p style="margin-bottom: 12px;">Customers can:</p>
                        <ul>
                            <li>See an overview of their current bill amount</li>
                            <li>View a small graph showcasing their bill history </li>
                            <li>Download PDF copies of the previous three bills on their service and click through to  billing and payments to access copies up to 13 months old</li>
                            <li>Coming soon – the convenience to commence the payment process</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page7.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                  <ul class="ul-tabs cf">
                            <li class="active"><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;"><strong>This is the home screen on My Account – designed to show customers information at a glance</strong></p>
                        <ul>
                            <li>Customers can access shortcuts to all self service options available to them through the  account services tab on Telstra.com</li>
                            <li>As they are already logged in to My Account, they are not required to provide validation information again.</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.1_Overview_page8.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@

            @*Service*@

            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a data-scrollto="1" href="#">Overview</a></li>
                            <li class="active"><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;"><strong>This area within My Account shows customers information about all their services at a glance</strong></p>
                        <ul style="margin-bottom: 12px;">
                            <li>Customers can easily view a breakdown of each of their services with Telstra - service  details, including mobile phone, home phone, internet, Foxtel and wireless device (iPad, tablet).</li>
                            <li>They can view details of the plan they are on - call usage, data usage for their mobile phone and home phone services.</li>
                            <li>They can also download &ldquo;My Offer Summary&rdquo; of their plan.</li>
                        </ul>
                        <!--<p>View the <strong>NEW LOOK</strong> My Account here…</p>-->
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-2"></div>
                            <div class="items">
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.2_Service_page1.png" />
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.2_Service_page1_newlook.png" />

                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a data-scrollto="1" href="#">Overview</a></li>
                            <li class="active"><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption style="position: relative;">
                        <p style="margin-bottom: 12px;">
                            <strong>This is the <strong>NEW LOOK</strong> My Account showing customers information about all their services at a glance</strong>
                        </p>
                        <ul>
                            <li>The new look My Account will allow customers to view their service details, including mobile phone, home phone, internet, Foxtel and wireless device (iPad, tablet) </li>
                            <li>From here customers can view call usage, data usage for their mobile phone and home  phone – BigPond usage to be included in future My Account enhancements.</li>
                            <li>Customers can also get their service plan details in PDF form</li>
                        </ul>
                        <img src="/Content/img/newlook-stamp-1-02.png" style="position: absolute; right: 0; bottom: -135px; width:160px;" />
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-3"></div>
                            <div class="items">
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.2_service_page2_newlook1.png" />
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.2_service_page2_newlook2.png" />
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.2_service_page2_newlook3.png" />
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.2_service_page2_newlook4.png" />
                            </div>
                        </div>

                    </figure>
                </div>
            </div>
            @*end item here*@
            @*billing*@

            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                  <ul class="ul-tabs cf">
                            <li><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li class="active"><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">
                            This area within My Account shows customers their billing history and provides the convenience of making payments through My Account
                        </p>
                        <p style="margin-bottom: 12px;">The billing and payments tab is the gateway to all billing and payment information for our customers within My Account</p>
                        <p style="margin-bottom: 12px;">Customers can:</p>
                        <ul style="margin-bottom: 12px;">
                            <li>see an overview of their bill and the outstanding amount if they have one</li>
                            <li>download/print a PDF copy of their current bill and previous bills (up to 13 months)</li>
                            <li>view/download an itemised usage breakdown (up to 13 months)</li>
                            <li>Set up direct debit payment</li>
                            <li>Set up a due date reminder</li>
                            <li>View bill history</li>
                            <li>View payment history</li>
                        </ul>
                        <!--<p>View the <strong>NEW LOOK</strong> My Account here…</p>-->
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.3_Billing_page1.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                     <ul class="ul-tabs cf">
                            <li><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li class="active"><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption style="position:relative;">
                        <p style="margin-bottom: 12px;"><strong>This is the <strong>NEW LOOK</strong> My Account showing customers information about their bills and payments at a glance</strong></p>
                        <p style="margin-bottom: 12px;">The billing and payments tab is the gateway to all billing and payment information  for our customers within My Account</p>
                        <p style="margin-bottom: 12px;">Customers can:</p>
                        <ul>
                            <li>see an overview of their bill and the outstanding amount if they have one</li>
                            <li>download/print a PDF copy of their current bill and previous bills (up to 13 months)</li>
                            <li>view/download an itemised usage breakdown (up to 13 months)</li>
                            <li>Set up direct debit payment</li>
                            <li>Set up a due date reminder</li>
                            <li>View bill history</li>
                            <li>View payment history</li>
                        </ul>
                        <img src="/Content/img/newlook-stamp-1-02.png" style="position:absolute; right:0; bottom:-105px; width:160px" />
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-4"></div>
                            <div class="items">
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.3_Billing_page2_newlook.png" />
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.3_Billing_page2_newlook1.png" />

                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@

            @*Customer details*@

            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li class="active"><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption>
                        <p style="margin-bottom: 12px;">
                            <strong>This area within My Account is where customers can view and update their details, change bill delivery preferences and more</strong>
                        </p>
                        <p style="margin-bottom: 12px;">Customers can easily:</p>
                        <ul style="margin-bottom: 12px;">
                            <li>Add/update contact numbers</li>
                            <li>Update their email address for bill delivery</li>
                            <li>Change password/secret question</li>
                            <li>Manage email subscriptions</li>
                            <li>Change bill delivery details</li>
                            <li>Set bill reminders</li>
                        </ul>
                        <!--<p>View the <strong>NEW LOOK</strong> My Account here…</p>-->
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.4_Details_page1.png" />
                    </figure>
                </div>
            </div>
            @*end item here*@
            <div class="page-content">
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/My Account Role Play.mp4" data-type="video">My Account Role Play</a></li>
                    </ul>
                </div>
                <div class="coll-left">
                  <ul class="ul-tabs cf">
                            <li><a data-scrollto="1" href="#">Overview</a></li>
                            <li><a data-scrollto="9" href="#">Service</a></li>
                            <li><a href="#" data-scrollto="11" style="width: 120px;">Billing</a></li>
                            <li class="active"><a href="#" data-scrollto="13" style="width: 250px;">Customer Details</a></li>
                        </ul>
                    <figcaption style="position:relative">
                        <p style="margin-bottom: 12px;">
                            <strong>This is the NEW LOOK My Account where customers can view and update their details, change bill delivery preferences and more
                            </strong>
                        <p style="margin-bottom: 12px;">
                        <p style="margin-bottom: 12px;">Customers can easily:</p>
                        <ul>
                            <li>Add/update contact numbers</li>
                            <li>Update their email address for bill delivery</li>
                            <li>Change password/secret question</li>
                            <li>Manage email subscriptions</li>
                            <li>Change bill delivery details</li>
                            <li>Set bill reminders</li>
                        </ul>
                        <img src="/Content/img/newlook-stamp-1-02.png" style="position: absolute; right: 0; bottom: -135px; width: 160px;" />
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-5"></div>
                            <div class="items">
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.4_Details_page2_newlook.png" />
                                <img src="/Content/img/Section 2.2.1 Desktop Virtual Tour/2.2.1.1.1.1.1.4_Details_page2_newlook1.png" />

                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            @*end item here*@
        </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_RegisterMyAccount" data-pageIndex="2">Signup/Register for My Account</a>
    <span class="current">@ViewBag.Title</span>
</div>



