@{
    ViewBag.Title = "ipad App";
}
<div class="sub-page  AlignH ">
    <style>
        .title_h2 h2 {    
            font-size: 28px;
            padding-left: 10px !important;
            margin-right: 5px !important;
            text-align: center;
        }
        .sub-page .page-content ul.ul-tabs li a{
            font-size: 20px;
            width: 95px;
        }
        .sub-page .page-content figcaption ol,
        .sub-page .page-content figcaption ul{
            margin:0 0 0 16px;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
   
    <div id="scrollable" class="scrollable" >
    <div class="items">
       
        <div class="page-content">
             <div class="coll-left">
                      <div class="title_h2">
                          <h2>&nbsp;</h2>
                      </div>
                        <figcaption>
                        <p>Telstra 24x7 App for  iPad provides customers secure access to their Telstra accounts and services24x7.</p><br />
<p>The Telstra 24x7 App  for iPad is <strong>FREE</strong> and can be downloaded from the App Store (customers 
must have an iTunes  account).</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-1"></div>
                              <div class="items">
                                  <img src="/Content/img/iPad Virtual Tour screen shots/2.2.1.1.1.1.3_image1.png"/>
                                  <img src="/Content/img/iPad Virtual Tour screen shots/2.2.1.1.1.1.3_image2.png"/>
                                  <img src="/Content/img/iPad Virtual Tour screen shots/2.2.1.1.1.1.3_image3.png"/>
                              </div>
                            </div>
                        </figure>
                    </div>
            
            
            
        </div> @*end item here*@
        
         <div class="page-content">
             <div class="coll-left">
                        <figcaption style="font-size: 0.85em; padding: 20px 0;">
<ol start="1" type="1">
<li><strong><u>Customers who do not wish to log in to My Account</u></strong> can click on <em>Skip Registration</em> to view only details of the device they are on.</li>
</ol>
<p style="margin: 10px 0;"><strong>NB:</strong> This is MSISDN based authentication so customer can only see details of the mobile service they are using, they will not be able to see any other services linked to My Account.</p>
<ol start="2" type="1">
  <li><strong><u>Customers already registered for My Account</u></strong>can enter their username and password. </li>
</ol>
<p style="margin: 10px 0;">Upon successful log in, they will be presented with the menu  screen, displaying the options available.</p>
<ol start="3" type="1">
  <li><strong><u>Customers not registered for My Account</u></strong>can click <em>What is My </em>Account, they will be presented with a browser window allowing them to register for My Account. </li>
</ol>
<p style="margin: 10px 0;"><strong>NB</strong>: Once the registration form is complete, the  customer will have to open the App, it will not open automatically.</p>
<p style="margin: 10px 0;">Key features of the Telstra 24x7 App for iPad are:</p>
<ul>
  <li>View all active services (which are linked to customer's My Account) and the service the handset is currently on</li>
  <li>View current and past bill summary </li>
  <li>View bill status (paid/unpaid) and payment options</li>
  <li>Recharge and view balance remaining for Pre-Paid services</li>
  <li>Store locator and Online Support Channels</li>
</ul>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <div class="imgscrollable"  >
                                <div id="small-nav-2"></div>
                              <div class="items">
                                  <img src="/Content/img/iPad Virtual Tour screen shots/2.2.1.1.1.1.3_page2_image1.png"/>
                                  <img src="/Content/img/iPad Virtual Tour screen shots/2.2.1.1.1.1.3_page2_image2.png"/>  
                              </div>
                            </div>
                                                  
                        </figure>
                    </div>
            
            
            
         </div> @*end item here*@

        <div class="page-content">
            <div class="coll-left">
                <ul class="ul-tabs cf">
                            <li class="active"><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li ><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li  ><a href="#"  class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li  ><a href="#"  class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li  ><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                <figcaption>
                    <p>Data usage for post paid mobiles and broadband is estimated.</p><br />
                    <p>By clicking on recent activity for post paid mobiles customers can view a summary of charges accrued since their last bill.</p>
                </figcaption>
            </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-3"></div>
                                <div class="items">
                                    <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.1_image1.png"/>
                                    <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.1_image2.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
            
            
            
        </div> @*end item here*@
         <div class="page-content">
             <div class="coll-left">
                    <ul class="ul-tabs cf">
                            <li class="active"><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li ><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li  ><a href="#"  class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li  ><a href="#"  class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li  ><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                         <figcaption>
                           <p>Pre-Paid usage includes balance remaining, bonus & plus pack remaining, and expiry dates</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                               <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.1_page2_image1.PNG"/>
                        </figure>
                    </div>
            
            
            
        </div> @*end item here*@

        <div class="page-content">
             <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li class="active"><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                         <figcaption>
                         <p>Customer can view a list of billing accounts in My Bills.</p><br />
<p>By default, the latest bill summary is shown.</p><br />

<p>Customers can also examine previous bill summary by tapping on the bar relating to the billing month they want to view.</p>

                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-4"></div>
                                <div class="items">
                                    <img src="/Content/img/ipad virtual tour screen shots/2.2.1.1.1.1.3.2_image1.PNG"/>
                                    <img src="/Content/img/ipad virtual tour screen shots/2.2.1.1.1.1.3.2_image2.PNG"/>
                                   
                                   </div>
                            </div>
                        </figure>
                    </div>
        </div> @*end item here*@
        <div class="page-content">
             <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li class="active"><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li ><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li  ><a href="#"  class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li  ><a href="#"  class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li  ><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                         <figcaption>
                     <p style="margin-bottom:12px;">Customers can switch to email bill in just a few touches by: </p>
<ul>
  <li>Clicking on the icon in the top right corner when  viewing the bill </li>
  <li>Clicking <em>SWITCH TO EMAIL BILL</em></li>
  <li>Entering and confirming their email address </li>
</ul>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-5"></div>
                                <div class="items">
                                    <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.2_page2_image1.PNG"/>
                                    <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.2_page2_image2.PNG"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
        </div> @*end item here*@
        <div class="page-content">
            <div class="top-slider"><p>Stored credit card details appear if logged in with My Account
</p></div>
            <div class="coll-left">
                 <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li class="active"><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li><a href="#" data-scrollto="8">Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                <figcaption>
<p style="margin-bottom: 12px;"><strong>Customers can pay bills in a few touches by:</strong></p>
<ol>
  <li>Clicking  on <em>Pay in Browser </em>while viewing the bill and selecting the desired  payment option.</li>
  <li>Depending  on the payment option chosen by a customer:</li>
 </ol>
 <ul>
  <li>BPAY: Customer is presented with BPAY code, Reference Number and Total Due. These details can be used to make payment through their banks BPAY</li>
  <li>Phone: Customer is presented with Account Number, Bill Number, Total Due and can call Telstra</li>
  <li>Credit Card: Customer can make payment in the iPhone Safari browser </li>
</ul>
<p style="margin-top: 12px;">Customers can set up automatic payments by clicking <em>Sick of  remembering to pay your bills</em></p>
                </figcaption>
            </div>
            <div class="coll-right">
                <figure>
                    <div class="imgscrollable"  >
                        <div id="small-nav-6"></div>
                        <div class="items">
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.2_page3_image1.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.2_page3_image2.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.2_page3_image3.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.2_page3_image4.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.2_page3_image5.png"/>
                        </div>
                    </div>
                </figure>
            </div>
        </div> @*end item here*@
        
        
         <div class="page-content">
           
            <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li class="active"><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li><a href="#"  class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li><a href="#"  class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li><a href="#" data-scrollto="11">Settings</a></li>
                   </ul>
                <figcaption>
                  <p style="margin-bottom: 12px;">
                      Customers can rename their services in a few touches by:
                  </p>
                        <ul>
                          <li>Clicking the icon from the My Services screen
                          </li>
                          <li>Clicking <em>RENAME YOUR SERVICE</em>
                          </li>
                          <li>Entering the name of the service and clicking <em>RENAME YOUR SERVICE</em>
                          </li>
                        </ul>
                </figcaption>
            </div>
            <div class="coll-right">
                <figure>
                    <div class="imgscrollable"  >
                        <div id="small-nav-7"></div>
                        <div class="items">
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.3_image1.PNG"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.3_image2.PNG"/>
                        </div>
                    </div>
                </figure>
            </div>
         </div> @*end item here*@

        
<div class="page-content">
            
            <div class="coll-left">
                 <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li ><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li class="active"><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li  ><a href="#"  class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li  ><a href="#"  class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li  ><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                <figcaption>
                 <p style="margin-bottom: 12px;"><strong>Customers can recharge their Telstra Pre-Paid services in a few touches by:</strong></p>
<ol start="1" type="1">
  <li>Selecting the service to be recharged</li>
  <li>Selecting the <em>CREDIT</em> option</li>
  <li>Selecting the desired payment method – credit / debit card or a voucher</li>
   <li>Customers can browse Plus Packs in the App and purchase with remaining Pre-Paid credit</li>
</ol>
                </figcaption>
            </div>
            <div class="coll-right">
                <figure>
                    <div class="imgscrollable"  >
                        <div id="small-nav-8"></div>
                        <div class="items">
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.4_image1.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.4_image2.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.4_image3.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.4_image4.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.4_image5.png"/>

                        </div>
                    </div>
                </figure>
            </div>
</div> @*end item here*@


<div class="page-content">
          
            <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li ><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li class="active"><a href="#"  class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li  ><a href="#"  class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li  ><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                <figcaption>
<p>Customers can easily locate their nearest store through just a few clicks – map and list view is available.<p />
                    <br />
<p>Store locator includes details of opening hours and contact number for stores.<p/><br />
<p>Customers can also click through to get directions to the Telstra store through iPad's maps application.
</p>

                </figcaption>
            </div>
            <div class="coll-right">
                <figure>
                    <div class="imgscrollable">
                        <div id="small-nav-9"></div>
                        <div class="items">
                            <img src="/Content/img/ipad virtual tour screen shots/2.2.1.1.1.1.3.5_image1.png"/>
                            <img src="/Content/img/ipad virtual tour screen shots/2.2.1.1.1.1.3.5_image2.png"/>
                            <img src="/Content/img/ipad virtual tour screen shots/2.2.1.1.1.1.3.5_image3.png"/>
                            <img src="/Content/img/ipad virtual tour screen shots/2.2.1.1.1.1.3.5_image4.png"/>
                        </div>
                    </div>
                </figure>
            </div>
</div> @*end item here*@

<div class="page-content">
          
            <div class="coll-left">
                   <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li ><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li><a href="#"  data-scrollto="8">Recharge</a></li>
                            <li><a href="#"  class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li  class="active" ><a href="#"  class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li  ><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                <figcaption>
<p style="margin-bottom: 12px;">Customers can get  24x7 support within the App through Live Chat and social media, options are:</p>
<ul>
  <li>Telstra  24x7 support on Twitter</li>
  <li>Telstra CrowdSupport</li>
  <li>Telstra  24x7 support on Facebook </li>
  <li>Live  Chat</li>
</ul></figcaption>
            </div>
            <div class="coll-right">
                <figure>
                    <div class="imgscrollable"  >
                        <div id="small-nav-10"></div>
                        <div class="items">
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.6_image1.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.6_image2.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.6_image3.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.6_image4.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.6_image5.png"/>
                        </div>
                    </div>
                </figure>
            </div>
</div> @*end item here*@


<div class="page-content">
          
            <div class="coll-left">
                 <ul class="ul-tabs cf">
                            <li><a href="#" class="two-lines"  data-scrollto="2" >My<br />Usage</a></li>
                            <li ><a href="#" class="two-lines"  data-scrollto="4" >My<br />Bills</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="7" >My<br />Services</a></li>
                            <li><a href="#" data-scrollto="8">Recharge</a></li>
                            <li><a href="#" class="two-lines" data-scrollto="9">Find a<br />Store</a></li>
                            <li><a href="#" class="two-lines"  data-scrollto="10">Help &<br/> Support</a></li>
                            <li class="active" ><a href="#" data-scrollto="11">Settings</a></li>
                        </ul>
                <figcaption>
                    <p style="margin-bottom: 12px;">Through the settings tab in the Telstra 24x7 App for iPad, customers can:</p>
                    <ul>
                        <li>Log in using their My Account</li>
                        <li>Register for My Account</li>
                        <li>Set an App PIN lock to restrict access to the App</li>
                        <li>Change data settings preferences to block loading metered content while using features</li>
                    </ul>
                    </figcaption>
            </div>
            <div class="coll-right">
                <figure>
                    <div class="imgscrollable"  >
                        <div id="small-nav-11"></div>
                        <div class="items">
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.7_image1.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.7_image2.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.7_image3.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.7_image4.png"/>
                            <img src="/Content/img/iPad virtual tour screen shots/2.2.1.1.1.1.3.7_image5.png"/>

                        </div>
                    </div>
                </figure>
            </div>
</div> @*end item here*@
    </div>
    </div>
</div>
<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_RegisterMyAccount" data-pageIndex="2">Signup/Register for My Account</a>
    <span class="current">@ViewBag.Title</span>
</div>
