@{
    ViewBag.Title = "Mobile Tasks";
}
<div class="sub-page  AlignH template-tabs">
    <style>
       .template-tabs ul.navi li a{
         width: 124px !important;
       }
   </style>
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
      <ul class="navi cf " style="margin-left: 10px;">
       <li class="hidden"></li>

        <li><a href="#" class="two-lines">Register for<br/> My Account</a></li>
        <li><a href="#" class="two-lines">Log in to<br/> My Account</a></li>
        <li><a href="#" class="two-lines">Activate<br /> Pre-Paid</a></li>
        <li><a href="#" class="two-lines">Pre-Paid<br/> Recharge</a></li>
        <li><a href="#" class="two-lines">Set up<br/> a Mobile</a></li>
        <li><a href="#" class="two-lines">Get<br/> PUK Code</a></li>
        <li><a href="#" class="two-lines">Check<br /> Mobile Usage</a></li>
        <li><a href="#" class="two-lines">Coverage<br/> Maps</a></li>
        <li><a href="#" class="two-lines">International<br/> Roaming</a></li>
        <li><a href="#">SMS Barring</a></li>
        <li><a href="#">No Signal?</a></li>   
    </ul> 
    <div id="scrollable" class="scrollable" >
        <div class="items">
        
            @* Billing and Payment section*@

                <div class="page-content">
                 <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                     <ul>
                         <li><a href="#" data-type="video" data-path="/Content/videos/Account Services Role Play.mp4">Account Services Role Play</a></li>
                     </ul>
                 </div>
                 <h2>Mobile Tasks</h2>
               
                    <div class="coll-left">
                              <figure>
                                <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.0.png" />
                              </figure>
                          </div>
                   <div class="coll-right">
                        <figcaption>
                            <div style="font-size: .9em;">
                               <p>The convenient location for mobile related tasks, such as International Roaming, SMS Barring, Pre-Paid Recharge, usage information and retrieving a PUK code. </p>
                               <p>The self service options available to customers under this tab are a combination of authenticated and unauthenticated tasks.</p>
                               <p>Every task has an “i” <img src="../../Content/img/icon-information.png" /> on the top left where customers can hover to find a summary of that task.</p>
                               <p>An authenticated task can be identified with a padlock next to it <img src="../../Content/img/icon-security.png" />. This means customers are required to log in to My Account in order to perform this task online.</p>
                               <p>By logging in to My Account, our customers can be assured that all transactions done on their account have been done <strong>SECURELY</strong>.</p>
                               <p>An unauthenticated task is handy when customers want to perform a one-off transaction online. There is additional information required when performing an unauthenticated task.</p>
                               <p>An unauthenticated transaction may be a lengthier process than transacting via My Account (as My Account has customer account data stored).</p>
                            </div>
                        </figcaption>
                    </div>
                
            
            </div> @*end item here*@
                
                
                 <div class="page-content">
                  <div class="top-slider"><p>Register customers for My Account on every call</p></div>
                 <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                     <ul>                       
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_RegisterMyAccount" data-pageIndex="0" >Sign Up/Register for My Account</a></li>
                         <li><a href="#" data-type="video" data-path="/Content/videos/My Account Role Play.mp4">My Account Role Play</a></li>
                     </ul>
                 </div>
                <h2>Register for My Account</h2>
                <div class="scrollable_wrap">
                   
                    </div><div class="coll-left">
                              <figure>
                              <div class="imgscrollable"  >
                                <div id="small-nav-1"></div>
                                <div class="items">
                                 <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.1_image1.png" />
                                 <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.1_image2.png" />
                                 </div></div>
                              </figure>
                          </div>
                    <div class="coll-right">
                        <figcaption>
                            <div >
                              <p style="font-size:0.8em;">My Account is a <strong>SECURE</strong> and <strong>CONVENIENT</strong> online tool that brings all Telstra services together for our customers – so they can take control of their services and manage them in the one spot.</p>
                              <p style="font-size:0.8em;">It's easily accessible through the web on most desktop and mobile browsers and via an increasing range of apps as well.</p>
                              <p style="font-size:0.75em;">My Account is <strong>convenient</strong>, <strong>secure</strong> and customers can:</p>
                              <ul style="font-size:0.7em;">
                                  <li>Easily manage their  home and mobile phone accounts (features, plans) and personal contact details</li>
                                  <li>Keep track of their mobile data usage</li>
                                  <li>See a breakdown of most of their calls and charges, including local calls</li>
                                  <li>View and pay their bills at any time</li>
                                  <li>Monitor their calls between bills</li>
                                  <li>Receive email or SMS bill arrival and payment reminder alerts</li>
                                  <li>Sort their calls by date, time or cost</li>
                                  <li>Access their previous bills up to 12 months old</li>
                                  <li>Turn off their paper bill to help save paper clutter</li>
                              </ul>
                              <p style="font-size:0.75em;">Ask customers to register for My Account on every call and offer to register them through the Assisted Registration Tool if they're unable to do so themselves.</p>
                                <p style="font-size:0.75em;">With My Account customers can take a long look at their account in their own time, in the comfort of their own home or space without the need to go into a store or phone Telstra.</p>

                            </div>
                        </figcaption>
                </div>
            
              </div> @*end item here*@
              
                <div class="page-content">
                <div class="top-slider"><p>Watch out for “Digital Identity” sneak peek on TDTV</p></div>
                <h2>Log in to My Account</h2>
               <div class="coll-left">
                              <figure>
                                <div class="imgscrollable"  >
                                <div id="small-nav-2"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.2_image1.png" />
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.2_image2.png" />
                                   </div>
                            </div>
                              </figure>
                          </div>
                   <div class="coll-right">
                        <figcaption>
                            <div >
                            <p>Logging in to My Account is simple and easy. </p><br />
                            <p>Customers can log in through Webmail or with their BigPond email address.</p><br />
                            <p>Customers can choose to make use of the “remember me” capability for their username only.</p>
                            </div>
                        </figcaption>
                    </div>
                
            
               </div> @*end item here*@
               
                <div class="page-content">
                 <div class="bottom-findmore">
                     <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                         <li><a href="#"  data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhone" data-pageIndex="4">Activate</a></li>
                     </ul>
                 </div>
<h2>Activate Pre-Paid</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-3"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image2.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image3.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image4.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image5.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image6.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image7.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image8.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.3_image9.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                                <p>To use a Telstra Pre-Paid SIM, customers need to activate it first. This can be done online easily, anytime of day or night, without the need to wait in queue.</p>
                                <br />
                                <p>Customers can go to telstra.com/activate, enter their SIM number (provided in the Pre-Paid starter kit) and provide ID (like a driver's licence or passport).</p>
                                <br />
                                <p>Customers are kept posted by email or SMS on the status of their service activation.</p>
                                <br />
                                <p>If customers have purchased their Telstra Pre-Paid starter kit online, they can activate their SIM as part of the process.</p>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@
                 
                <div class="page-content">
                  <div class="top-slider"><p>MILES AWAY TO CLICKS AWAY!</p></div>
                 <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />

                     <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                         <li><a href="#" data-type="video" data-path="/Content/videos/Pre-Paid Recharge Online.mp4">Pre-Paid Recharge Online</a></li>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MobileTask" data-pageIndex="4">Pre-Paid Recharge</a></li>
                     </ul>
                 </div>
               <h2>Pre-Paid Recharge</h2>
               
                   <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-4"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.4_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.4_image2.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.4_image3.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.4_image4.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.4_image5.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div style="font-size:0.85em;">
                               <p>Recharging online is <strong>EASY AND CONVENIENT</strong>. It is a great option for customers to recharge their Pre-Paid Telstra service instantly without the need to go in to a store or phone Telstra.</p>
                               <p>Customers can choose to recharge their Pre-Paid mobile, mobile broadband or Micro-SIM for Apple iPad, online on a compatible mobile or on a computer any time of the day or night.</p>
                               <p>Customers can recharge “on the move” through a range of Telstra 24x7 social and mobile Apps for iPhone, iPad, Android and Facebook.</p>
                               <p>If customers have other services with Telstra, and have registered to My Account already, their Pre-Paid service information is available through their existing My Account. </p>
                               <p>By recharging using My Account, customers have the convenience of:</p>
                               <ul>
                                   <li>saving their credit card details and recharging by SMS</li>
                                   <li>setting up an auto recharge when their account reaches a set balance </li>
                                   <li>scheduling a monthly recharge from their bank account using direct debit</li>
                               </ul>
                               <p style="font-size: .9em;">Customers can also <strong>ACTIVATE</strong> their <strong>PRE-PAID SERVICE ONLINE</strong> through Telstra.com. It's simple and easy, customers are kept posted on the status of their service activation.</p>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@

                <div class="page-content">
                <h2>Set up a Mobile</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-5"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.5_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.5_image2.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.5_image3.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.5_image4.png"/>
                                    <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.5_image5.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div>
                               <p style="margin-bottom:8px;">Telstra provides a configuration service for a range of mobile handsets.</p>
                               <p style="margin-bottom:8px;">Through the “Set Up a Mobile” tab, under Mobile Tasks in Account Services, customers can set up their compatible Telstra mobile phone for BigPond Mobile Services, picture and video messaging (MMS), email on their phone and more.</p>
                               <p style="margin-bottom: 8px;">Customers are required to provide their mobile number and a validation password is sent to this number to initiate the process.</p>
                               <p style="margin-bottom: 8px;">Once validated, customers can choose to have their MMS and Email settings remotely configured on their handset.</p>
                               <p style="margin-bottom: 8px;">Customers can also choose a daily secure backup for their mobile contacts through “MySync” if they are on a compatible Telstra mobile phone.</p>
                               <p>If a handset has not been purchased through a Telstra Shop or Telstra Dealer it may not be compatible with the Telstra mobile network and our range of mobile products.</p>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@
                 
                <div class="page-content">
                <div class="top-slider"><p>Retriever must be the account holder or authorised person</p></div>
                <div class="bottom-findmore">
                     <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                     </ul>
                 </div>   
                <h2>Get PUK Code</h2>
                <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-6"></div>
                                    <div class="items">
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.6_image1.png"/>
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.6_image2.png"/>
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.6_image3.png"/> 
                                    </div>
                                </div>
                              </figure>
                          </div>
                   
               
                    <div class="coll-right">
                        <figcaption>
                            <div>
                                 <p style="margin-bottom:15px;">Sometimes customers end up locking their mobiles if they have incorrectly entered their password a few times.</p>
                                 <p style="margin-bottom:15px;">A PUK code (an 8 digit code) is required to reset their pin and unlock their mobile.</p>
                                 <p style="margin-bottom:15px;">Calling Telstra or walking in to a store may not always be convenient and doing it online is the easiest option available.</p> 
                                 <p>Retrieving a PUK code is easy, a customer just needs to click though this tab from another device and provide the required information (mobile number, first name, surname and date of birth).</p>  
                            </div>
                        </figcaption>
                    </div>
            
                  </div> @*end item here*@
                  
                <div class="page-content">
                      <div class="bottom-findmore">
                     <ul>
                         <li><a href="#" data-page="/CustomerReceivesFirstBill/WhatDataUsage" data-pageIndex="0">What's My Data Usage?</a></li>
                      <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                     </ul>
                 </div>
                 
               <h2>Check Mobile Usage</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-7"></div>
                                   <div class="items">
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.7_image1.png"/>
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.7_image2.png"/>
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.7_image3.png"/>
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.7_image4.png"/>
                                        <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.7_image5.png"/>
                                   </div>
                                </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div style="font-size:0.8em;">
                                 <p style="margin-bottom: 4px;">Customers can check their usage “on the move” through a range of Telstra 24x7 social and mobile Apps for iPhone, iPad, Android and Facebook.</p>
                                 <p style="margin-bottom: 4px;">My Account is a free service to all Telstra customers that lets them access a range of useful online services to help them manage their accounts and services from their computer or compatible mobile devices. </p>
                                 <p style="margin-bottom: 4px;">Monitoring of calls and data usage for post and Pre-Paid mobiles is a key feature of My Account.</p>
                                 <p style="margin-bottom: 4px;">To ensure they're on the right plan for their needs,, customers can also change their plan within My Account.</p>
                                 <p><strong>Pre-Paid customers can:</strong></p>
                                 <ul>
                                     <li>Review offer inclusions to see cap bonus and data credit</li>
                                     <li>Check remaining data allowance* (MB/GB) with a breakdown if available</li>
                                     <li>Check data usage sessions breakdown by day (up to last 180 days)</li>
                                 </ul>
                                 <p><strong>Post Paid customers can check: </strong></p>
                                 <ul>
                                     <li>data usage to date</li>
                                     <li>data usage remaining</li>
                                     <li>days remaining to next cycle</li>
                                     <li>a breakdown of data usage by day</li>
                                 </ul>
                            </div>
                        </figcaption>
                    </div>
            
                    </div> @*end item here*@
                    
                <div class="page-content">
                <div class="top-slider"><p>Check Coverage maps before going on holiday</p></div>
                <div class="bottom-findmore">
                    <ul> 
                        <li><a href="#"  data-page="/DigitalCustomerLifeMoments/WhyNotWorking" data-pageIndex="0">Why is My Telstra Service Not Working?</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_AccountTask" data-pageIndex="11">Service Status</a></li>
                    </ul>
                </div>
                 
                <h2>Coverage Maps</h2>               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-8"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.8_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.8_image2.png"/>
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.8_image3.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                                <p>Through the “Coverage Maps” tab, under Mobile Tasks in Account Services, customers can check their mobile coverage and explore the reach of our wireless networks with these coverage maps, search tools and tips.</p><p>Customers can check:</p>
                                <ul>
                                    <li>mobile coverage at a specific location by street address, suburb or postcode</li>
                                    <li>Mobile broadband coverage from city to country areas including remote and rural locations</li>
                                    <li>Mobile coverage maps across their state or territory </li>
                                    <li>Mobile coastal coverage if they're heading out to sea</li>
                                    <li>What NextG&#0174; mobile best suits their style of use.</li>
                                </ul>
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@


             <div class="page-content">
                <div class="top-slider"><p>International Roaming data packs are a great option!</p></div>
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />

                    <ul>
                        <li><a href="#" data-type="video" data-path="/Content/videos/Account Services Role Play.mp4">Account Services Role Play</a></li>
                        <li><a href="#" data-page="/DigitalCustomerLifeMoments/GoingOverseas" data-pageIndex="0">I'm Going Overseas</a></li>                        
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>
                 
                <h2>International Roaming</h2>               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-9"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.9_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.9_image2.png"/>
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.9_image3.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                                <p style="margin-bottom:10px;">Through the “International Roaming” tab, under Mobile Tasks in Account Services, customers can switch to International Roaming in just a few clicks.</p>
                                <p style="margin-bottom:10px;">Customers can do this at the last minute, just before putting their phone in to flight mode.</p>
                                <p style="margin-bottom:10px;">Some requests may not be processed until the next business day</p>
                                <p style="margin-bottom:10px;">Activation is subject to handset compatibility and a successful credit check</p>
                                <p style="margin-bottom:10px;">Customers are required to provide name details, date of birth, email and their mobile number. </p>
                                <p>For Pre-Paid mobiles, International Roaming is automatically activated.</p>
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@


            <div class="page-content">
                <div class="top-slider"><p>Requester must be the account holder or authorised person</p></div>
                <div class="bottom-findmore">
                    <ul>
                        
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                        <li><a href="#" data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhone" data-pageIndex="5">SMS Barring</a></li>
                    </ul>
                </div>
                 
                <h2>SMS Barring</h2>               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-10"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.10_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.10_image2.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div style="font-size:0.9em;">
                                <p>Premium SMS are content services that are promoted by third party service providers in newspapers, magazines, television, radio and on the internet. Content is delivered to a customer's mobile or requested via SMS for a fee. These services include:</p>
                                <ul>
                                    <li>ringtones, wallpapers and logos to personalise your mobile phone</li>
                                    <li>psychic and horoscope lines and weather services</li> 
                                    <li>voting for television shows or competitions</li> 
                                    <li>dating and chat services</li> 
                                    <li>exam result hotlines</li>
                                    <li>other corporate applications such share price alerts.</li>
                                </ul>
                                <p>Customers can RETAIN CONTROL of access to content on their mobile by completing our quick and easy online form to bar premium SMS content.</p>
                                <p>Barring premium SMS content is easy, a customer just needs to click though this tab and provide the required information (mobile number, first name, surname, date of birth and email address).</p>
                                <p>Premium SMS barring requests are processed within 24 hours. </p>
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@


            <div class="page-content">               
                <h2>No Signal</h2>               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-11"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.11_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.11_image2.png"/>
                                          <img src="/Content/img/2.2.2.1.3 Mobile Tasks/2.2.2.1.3.11_image3.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                                <p>This is a great option for our customers to provide us with important information on locations where they have experienced little or no reception.This is important so we can expand and improve our coverage for our customers</p>                                
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@
            
            @* Billing and Payment section ends here *@
            
           
        </div>
    </div>
</div>


<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
      <a href="#" data-page="/NewTelstraCustomer/onBoard_AccountServices" data-pageIndex="1">Account services</a>
    <span class="current">@ViewBag.Title</span>
</div>



