@{
    ViewBag.Title = "Home Product Tasks";
}

<div class="sub-page  AlignH template-tabs ">
    <a class="scrollable-browse scrollable-next"></a>
    <a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>
    <ul class="navi cf " style="margin-left: 10px;">
        <li class="hidden"></li>

        <li>
            <a href="#" class="two-lines">Add Phone<br />
                Features</a></li>
        <li>
            <a href="#" class="two-lines">Change Home<br />
                Phone Plan</a></li>
        <li>
            <a href="#" class="two-lines">Foxtel<br />
                from Telstra</a></li>
        <li>
            <a href="#">Get a Bundle</a></li>
        <li>
            <a href="#">Moving Home</a></li>
        <li>
            <a href="#">Switch to Telstra</a></li>
        <li>
            <a href="#">Telstra Plus</a></li>
        <li>
            <a href="#">Report a Fault</a></li>
    </ul>
    <div id="scrollable" class="scrollable">
        <div class="items">
            <div class="page-content">
                <div class="bottom-findmore"><img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-type="video" data-path="/Content/videos/Account Services Role Play.mp4">Account Services Role Play</a></li>
                    </ul>
                </div>
                <h2>Home Product Tasks</h2>
                <div class="coll-left">
                    <figure>
                        <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.0.png" alt="" />
                    </figure>
                </div>
                <div class="coll-right">
                    <figcaption>
                        <div style="font-size: 0.9em;">
                            <p style="margin-bottom:5px">The  convenient location for home product related tasks, such as add phone features, change phone plan, change Foxtel to Telstra, moving home and getting a bundle.</p>
                            <p>The self service options available to customers under this tab are a combination of  authenticated and unauthenticated tasks.</p>
                            <p style="margin-bottom: 5px">Every task has an &ldquo;i&rdquo;
                                <img src="../../Content/img/icon-information.png" />
                                on the top left where customers can hover to find  a summary of that task</p>
                            <p style="margin-bottom: 5px">For authenticated tasks customers are required to log in to My Account or provide  personal details and undergo an ID and credit check to perform this task  online.</p>
                            <p style="margin-bottom: 5px">By logging in to My Account our customers can be assured that all transactions done on their account have been done <strong>SECURELY</strong>.</p>
                            <p style="margin-bottom: 5px">An unauthenticated task is handy when customers want to perform a one-off transaction online. There is additional information required when performing an unauthenticated task.</p>
                            <p style="margin-bottom:5px">An  unauthenticated transaction may be a lengthier process than transacting via My Account (as My Account has customer account data stored).</p>
                            <p>Click an icon to find out more.</p>

                        </div>
                    </figcaption>
                </div>


            </div>
            @*end item here*@
            <div class="page-content">

                <h2>Add Phone Features</h2>
                <div class="scrollable_wrap">
                </div>
                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-1"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.1_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.1_image2.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.1_image3.png" alt="" />
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p style="margin-bottom: 5px;">Through  the &ldquo;Add Phone Features&rdquo; tab, under Home Products Tasks in Account Services,  our customers can easily and conveniently package together two or more of our  phone features and receive a discount off the standard monthly charge. </p>
                            <p style="margin-bottom: 5px;">Customers  can choose from features such as; calling number display, multiple number,  phone &amp; fax multiple number and MessageBank®.</p>
                            <p style="margin-bottom: 5px;">The  online shop allows customers with an existing Telstra fixed phone service to  change their plan or add an additional telephone service at their current  address.</p>
                            <p>In  the online shop customers can find our range of home phone plans explained in  detail, get access to exclusive deals, shop 24x7 at their convenience – <strong>SAFELY  AND SECURELY.</strong></p>

                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p>EXCLUSIVE offers may be available online</p>
                </div>
                <h2>Change Home Phone Plan</h2>
                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-2"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.2_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.2_image2.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.2_image3.png" alt="" />
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="coll-right">
                    <figcaption>
                        <div>

                            <p style="margin-bottom: 5px;">Through  the &ldquo;Change Home Phone Plan&rdquo; tab, under Home Products Tasks in Account  Services, our customers can easily and conveniently change their home phone  plan or add an additional telephone service at their current address.</p>
                            <p style="margin-bottom: 5px;">Customers  can also choose from features such as; calling number display, multiple number,  phone &amp; fax multiple number and MessageBank®.</p>
                            <p style="margin-bottom: 5px;">The  online shop allows customers with an existing Telstra fixed phone service to  change their plan or add an additional telephone service at their current  address.</p>
                            <p>In  the online shop customers can find our range of home phone plans explained in  detail, get access to exclusive deals, shop 24x7 at their convenience – <strong>SAFELY  AND SECURELY.</strong></p>

                        </div>
                    </figcaption>
                </div>


            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p>
                        <strong>EXCLUSIVE</strong> offers may be available online
                    </p>
                </div>
                <div class="bottom-findmore">
                    <ul>
                        <li>
                            <a href="#" data-page="/PotentialTelstraCustomer/TV" data-pageindex="0">TV</a></li>
                    </ul>
                </div>
                <h2>Foxtel from Telstra</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-3"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.3_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.3_image2.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.3_image3.png" alt="" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>Through  the &ldquo;Foxtel from Telstra&rdquo; tab, under Home Products Tasks in Account Services,  our customers can easily and conveniently:</p>
                            <ul>
                                <li>switch to &ldquo;Foxtel from Telstra&rdquo; (if they  currently have Foxtel with another provider).</li>
                                <li>Become a new &ldquo;Foxtel from Telstra&rdquo; subscriber</li>
                                <li>Upgrade their &ldquo;Foxtel from Telstra&rdquo;</li>
                            </ul>
                            <p>It&rsquo;s  as easy as completing a form, being contacted by us and <strong>BEING ENTERTAINED.</strong></p>
                            <p>Customers  can also choose from features such as upgrade to iQHD, iQ, or get another  Foxtel box for multi-room.</p>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p><strong>EXCLUSIVE</strong> offers may be available online</p>
                </div>
                <div class="bottom-findmore">
                    <ul>
                        <li>
                            <a data-page="/PotentialTelstraCustomer/Bundles" data-pageindex="0" href="#">Bundles</a></li>
                    </ul>
                </div>
                <h2>Get a Bundle</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-4"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.4_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.4_image2.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.4_image3.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.4_image4.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.4_image5.png" alt="" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>

                            <p>Through  the &ldquo;Get a Bundle&rdquo; tab, under Home Products Tasks in Account Services, our  customers can easily and conveniently choose the Telstra products and services  to suit their needs and requirements, save and personalise their T-Bundle and  order.</p>
                            <p>Customers&rsquo;  choice of their T-Bundle comes with the peace of mind of our &ldquo;<strong>RIGHT FIT  GUARANTEE&rdquo; </strong></p>
                            <p>The  &ldquo;right fit guarantee&rdquo; allows our customers to have options – they can take up a  Telstra T-Bundle&#0153; plan now, then swap between Telstra T-Bundle Connector  &#0153; plans or swap between Telstra T-Bundle Entertainer&#0153; plans month by  month as their needs change.</p>
                            <p>Telstra  24x7 online shop provides our customers access to exclusive deals, 24x7  customer support, and importantly the ability to shop anytime at their  convenience <strong>SAFELY AND SECURELY.</strong></p>

                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p>
                        5 simple screens in under 5 minutes
                    </p>
                </div>
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-type="video" data-path="/Content/videos/TDTV Moving Home.mp4">TDTV Moving Home</a></li>
                        <li>
                            <a href="#" data-page="/DigitalCustomerLifeMoments/MovingHome" data-pageindex="0">I'm Moving Home</a></li>

                    </ul>
                </div>
                <h2>Moving Home</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-5"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image2.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image3.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image4.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image5.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image6.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image7.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.5_image8.png" alt="" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>The  moving home functionality allows customers to move Telstra services through 5  simple screens in under 5 minutes.</p><br />
                            <p>Customers  can move their home phone, Bigpond Internet, mobile and Foxtel to a new  address. </p>
                            <br />
                            <p>The  design ensures customers have a quick and easy experience when moving their  Telstra services. &nbsp;</p>
                            <br />
                            <p>Customers  are able to review and edit all details at every step prior to submission.</p>
                            <br />
                            <p>A  Case manager is assigned to customer for duration of move and reconnect.</p>

                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">


                <h2>Switch to Telstra</h2>
                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-6"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.6_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.6_image2.png" alt="" />

                            </div>
                        </div>
                    </figure>
                </div>


                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>Through  the &ldquo;Switch to Telstra&rdquo; tab under Home Products Tasks in Account Services, our  customers can easily and conveniently find out how to:</p><br />
                            <ul>
                                <li>Switch to Telstra and keep their existing mobile  number</li>
                                <li>Switch to BigPond&#0174; – Australia&rsquo;s largest and  fasted broadband network</li>
                                <li>Switch their Foxtel services to Telstra and  enjoy a wide range of reward options</li>
                                <li>Switch to Telstra and build a Telstra Home&#0174;  Bundle to save money on their single bill by bundling home broadband, home  phone and Foxtel from Telstra</li>
                            </ul>
                            <br />
                            <p>It&rsquo;s  as easy as accessing the tab and clicking on the links provided – <strong>SIMPLE AND  EASY</strong></p>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <h2>Telstra Plus</h2>
                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-7"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.7_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.7_image2.png" alt="" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>
                                We'll help you get your gadgets going over the phone or in  your home.<br />
                                Through the &ldquo;Telstra Plus&rdquo; tab under Home Products Tasks in  Account Services, our customers can easily and conveniently find out how to:
                            </p><br />
                            <ul>

                                <li>Get Telstra expertise for a range of different  technologies including advice, set-up and repair services over the phone or an  in-house technician</li>
                                <li>View services and their pricing along with  details of what&rsquo;s included</li>
                                <li>Book an online appointment </li>
                                <li>Log in remotely</li>
                            </ul>
                            <br />
                            <p>It&rsquo;s  as easy as accessing the tab and clicking on the links provided – <strong>SIMPLE AND  EASY</strong></p>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p>
                       Not for Priority Assistance &reg; customers
                    </p>
                </div>
              

                <h2>Report a Fault</h2>

                <div class="coll-left">
                    <figure>
                        <div class="imgscrollable">
                            <div id="small-nav-8"></div>
                            <div class="items">
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.8_image1.png" alt="" />
                                <img src="/Content/img/2.2.2.1.4 Home Product Tasks/2.2.2.1.4.8_image2.png" alt="" />
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="coll-right">
                    <figcaption>
                        <div>
                            <p>
                                This is a quick and easy online form through which customers  can report a problem with their home phone without having to wait in a queue in  a store or over the phone.<br />
                                <br />
                                We advise customers to contact us by phone if;
                            </p>
                            <ul>
                                <li>If they are a Priority Assistance&#0174; Customer  (Anyone living at the premises has a diagnosed life-threatening medical  condition with a high risk of rapid deterioration and whose life may be at risk  without access to a working telephone)</li>
                                <li>Their fault is  affecting more than one  phone line</li>
                                <li>They have reported a fault on the same service in the past  30 days</li>
                            </ul>
                        </div>
                    </figcaption>
                </div>

            </div>
            @*end item here*@

            @* Billing and Payment section ends here *@


        </div>
    </div>
</div>



<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
      <a href="#" data-page="/NewTelstraCustomer/onBoard_AccountServices" data-pageIndex="1">Account services</a>
    <span class="current">@ViewBag.Title</span>
</div>

