@{
    ViewBag.Title = "Iphone App";
}
<div class="sub-page  AlignH ">
    <style>
        ol {
            margin: 5px 0;
        }
        .title_h2 h2 {    
            font-size: 34px;
            margin-right: 10px !important;
        }
        .sub-page .page-content ul.ul-tabs li a{
            font-size: 26px;
             width: 135px;
        }
        .sub-page .page-content figcaption ol,
        .sub-page .page-content figcaption ul{
            margin:0 0 0 16px;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
  
    <div id="scrollable" class="scrollable" >
    <div class="items">
               
               <div class="page-content">
               <div class="coll-left">
                        <div class="title_h2">
                           <h2>&nbsp;</h2>
                        </div>
                        <figcaption>
                               <p>Telstra 24x7 App for iPhone provides customers secure access to their Telstra accounts and services 24x7.</p><br />
                                <p>The Telstra 24x7 App for iPhone is <strong>FREE</strong> and can be downloaded from the App Store (customers must have an iTunes account).</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-1"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/install-image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/install-image2.png"/>
                                     <img src="/Content/img/iphone Virtual Tour screen shots/install image3.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
            </div> @*end item here*@
                       <div class="page-content">
               <div class="coll-left">
                        <figcaption style="font-size: 0.85em; padding:20px 0;">
<ol>
  <li><strong><u>Customers who do not wish to log in to My Account</u></strong> can click on <em>Skip    Registration</em> to view only details of the device they are on.</li>
</ol>
<p style="margin: 10px 0;"><strong>NB:</strong> This is MSISDN based authentication so customer can only see details of the mobile service they are using, they will not be able to see any other services linked to My Account.</p>
<ol start="2" type="1">
  <li><strong><u>Customers already registered for My Account</u></strong>can enter their username and password. </li>
</ol>
<p style="margin: 10px 0;">Upon successful log in, they will be presented with the menu screen, displaying the options available.</p>
<ol start="3" type="1">
  <li><strong><u>Customers not registered for My Account</u></strong>can click <em>What is My </em>Account,       they will be presented with a browser window allowing them to register for My Account. </li>
</ol>
<p style="margin: 10px 0;"><strong>NB</strong>: Once the registration form is complete, the customer will have to open the App, it will not open automatically.<br />
  Key features of the Telstra 24x7 App for iPhone are:</p>
<ul>
  <li>View all active services (which are linked to customer's My Account) and the service the iPhone is currently on</li>
  <li>View current and past bill summary </li>
  <li>View bill status (paid/unpaid) and payment options</li>
  <li>Recharge and view balance remaining for Pre-Paid services</li>
  <li>Store locator and Online Support Channels</li>
</ul>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4 log in.png" height="560"/>
                        </figure>
                    </div>
            </div> @*end item here*@
       
          
               
              <div class="page-content">
                  <div class="coll-left">
                       <ul class="ul-tabs cf">
                            <li class="active"><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li><a href="#" data-scrollto="7">Recharge</a></li>
                            <li ><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                     
                      <figcaption>
                          <p style="margin-bottom: 12px;">Customers can view estimated usage of their Telstra account by:</p>
                          <ul>
                              <li>Selecting the desired service from the My Usage screen. The customer will be presented with a usage summary </li>
                              <li>Clicking on the estimated usage amount at the bottom of the screen, the customer can view the <em>Recent Activity</em></li>
                          </ul>
                          <p style="margin-top: 12px;">Customers will not be able to view all their active services unless they have added them by logging in to the desktop version of My Account.</p>
                      </figcaption>
                  </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-2"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.1_image1.png" />
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.1_image2.png" />
                                     <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.1_image4.png" />
                                </div>
                            </div>
                        </figure>
                    </div>
              </div> @*end item here*@
              
              
               <div class="page-content">
               <div class="coll-left">
                        <ul class="ul-tabs cf">
                            <li><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li class="active"><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li><a href="#" data-scrollto="7">Recharge</a></li>
                            <li><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                        <figcaption>
                        <p style="margin-bottom: 12px;">Customers can view details of a current bill by:</p>
<ol>
  <li>Selecting  the <em>My Bills </em>icon at the bottom of the screen</li>
  <li>Selecting  the bill from the list of available services</li>
</ol>
<p style="margin-top: 12px;">Customers can view previous bills by selecting the desired bill at the bottom of the <em>Bill Summary </em>screen</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable">
                                <div id="small-nav-3"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2_image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2_image2.png"/>
                                     <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2_image3.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
               </div> @*end item here*@
                 <div class="page-content">
               <div class="coll-left">
                            <ul class="ul-tabs cf">
                            <li><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li class="active"><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li ><a href="#" data-scrollto="7">Recharge</a></li>
                            <li  ><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                        <figcaption>
                       <p style="margin-bottom: 12px;"><strong>Customers can register to receive their bills via email  in just a few touches by:</strong></p>
<ol>
  <li>Clicking  on the email icon in the top right corner of the screen</li>
  <li>Clicking  on <em>Switch to email bill</em></li>
  <li>Reviewing  and agreeing to the terms and conditions </li>
  <li>Entering  and confirming the delivery email address and clicking <em>Confirm bill delivery</em></li>
</ol>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-4"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2_page2_image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2_page2_image2.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2_page2_image3.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2_page2_image4.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
                 </div> @*end item here*@
                   <div class="page-content">
               <div class="coll-left">
                           <ul class="ul-tabs cf">
                            <li><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li class="active"><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li><a href="#" data-scrollto="7">Recharge</a></li>
                            <li><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                   <figcaption>
                       <p style="margin: 12px 0;"><strong>Customers can pay bills in a few touches by:</strong></p>
                       <p style="margin-bottom: 12px;">
                           1) Clicking on <em>Make a payment</em> while viewing the bill and selecting the desired payment option.<p/>
                       <p style="margin-bottom: 12px;">2) Depending on the  payment option chosen by a customer:</p>

                       <ul>
                           <li>BPAY: Customer is presented with BPAY code, Reference Number and Total Due.  These details can be used to make payment  through their banks BPAY</li>
                           <li>Phone: Customer is presented with Account Number, Bill Number, Total Due and can  call Telstra</li>
                           <li>Credit Card: Customer can make payment in the iPhone Safari browser </li>
                       </ul>

                       <p style="margin-top: 12px;">Customers can set up automatic payments by clicking <em>Sick of  remembering to pay your bills</em></p>
                   </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-5"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2page3_image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2page3_image2.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2page3_image3.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2page3_image4.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.2page3_image5.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
                   </div> @*end item here*@
                   
                   
             <div class="page-content">
               <div class="coll-left">
                          <ul class="ul-tabs cf">
                            <li><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li class="active"><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li><a href="#" data-scrollto="7">Recharge</a></li>
                            <li><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                   <figcaption>
<p style="margin: 12px 0;"><strong>Customers can view details of their services in a few  touches by:</strong> <p/>
<p style="margin-bottom: 12px;">1 ) Clicking on My Services to see the list of available services<p/>
<p style="margin-bottom: 12px;">2 ) Selecting the details of the service they wish to view<p/>
<p style="margin-bottom: 12px;">Customers can rename their services by clicking the icon in the top right when viewing their service details.<p/>
<p>If a customer has not logged in with their My Account details they will only be able to see the service they are using.</p>
                   </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-6"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.3_image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.3_image2.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.3_image3.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
             </div> @*end item here*@
             
             
                 <div class="page-content">
               <div class="coll-left">
                         <ul class="ul-tabs cf">
                            <li><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li class="active" ><a href="#" data-scrollto="7">Recharge</a></li>
                            <li><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                   <figcaption>
                    <p style="margin-bottom: 12px;"><strong>Customers can recharge their Telstra Pre-Paid services in  a few touches by:</strong></p>
<ol start="1" type="1">
  <li>Selecting the service to be recharged</li>
  <li>Selecting the <em>CREDIT</em> option</li>
<li>Selecting the desired payment method – credit / debit card or a voucher</li>
</ol>

                   </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-7"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_image2.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_image3.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_image4.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_image5.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
                 </div> @*end item here*@
                  <div class="page-content">
               <div class="coll-left">
                                <ul class="ul-tabs cf">
                            <li><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li class="active" ><a href="#" data-scrollto="7">Recharge</a></li>
                            <li  ><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                   <figcaption>
                   <p style="margin-bottom: 12px;"><strong>Customers can purchase Plus Packs as extras to compliment  their Pre-Paid offer by:</strong></p>
<ol start="1" type="1">
  <li>Selecting the service </li>
  <li>Selecting Plus Packs</li>
  <li>Selecting the desired value</li>
</ol>
                   </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-8"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_page2_image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_page2_image2.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_page2_image3.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_page2_image4.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.4_page2_image5.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
                  </div> @*end item here*@

               <div class="page-content">
               <div class="coll-left">
                        <ul class="ul-tabs cf">
                            <li><a href="#" style="width: 145px;" data-scrollto="2">My Usage</a></li>
                            <li><a href="#"  data-scrollto="3">My Bills</a></li>
                            <li><a href="#" style="width: 160px;" data-scrollto="6">My Services</a></li>
                            <li><a href="#" data-scrollto="7">Recharge</a></li>
                            <li  class="active"  ><a href="#" style="width: 100px;"  data-scrollto="9">More...</a></li>
                        </ul>
                   <figcaption>
<p style="margin-bottom: 12px;"><strong>Customers can access information and support in a few touches by clicking on:</strong></p>
<ol start="1" type="1">
  <li><em><u>Find a store </u></em>– to locate nearby stores (map or list view available)</li>
  <li><em><u>Contact and support </u></em>– to speak to Telstra via social media or Live Chat</li>
  <li><em><u>Settings</u></em> – to log in or out of My Account; set App Lock; turn data setting on/off; set the colour scheme for the App</li>
  <li><em><u>About Telstra 24x7 </u></em>– to find out information about the App and rate us five stars</li>
</ol>
                   </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                          <div class="imgscrollable"  >
                                <div id="small-nav-9"></div>
                                <div class="items">
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.5_image1.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.5_image2.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.5_image3.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.5_image4.png"/>
                                    <img src="/Content/img/iphone Virtual Tour screen shots/2.2.1.1.1.1.4.5_image5.png"/>
                                   </div>
                            </div>
                        </figure>
                    </div>
            </div> @*end item here*@
    </div>
</div>
</div>

<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
       <a href="#" data-page="/NewTelstraCustomer/onBoard_RegisterMyAccount" data-pageIndex="2">Signup/Register for My Account</a>
    <span class="current">@ViewBag.Title</span>
</div>

