@{
    ViewBag.Title = "Account tasks";
}
<div class="sub-page  AlignH template-tabs">
   <style>
       .template-tabs ul.navi li a{
         width: 140px !important;
       }
   </style>
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
    <div  class="title"><h1>@ViewBag.Title</h1></div>
      <ul class="navi cf " style="margin-left: 10px;">
        <li class="hidden"></li>

        <li><a href="#" class="two-lines">Manage <br />Services</a></li>
        <li><a href="#" style="width:110px !important;" class="two-lines">Moving <br />Home</a></li>
        <li><a href="#" style="width:110px !important;">Register</a></li>
        <li><a href="#" style="width:110px !important;">Log in</a></li>
        <li><a href="#" class="two-lines">Forgotten<br />Password</a></li>
        <li><a href="#" class="two-lines">Forgotten<br />Username</a></li>
        <li><a href="#" class="two-lines">Manage Email <br />Subscriptions</a></li>
        <li><a href="#" class="two-lines">Pre-paid <br />Recharge</a></li>   
        <li><a href="#" class="two-lines" style="width:110px !important;">Check <br />Usage</a></li>
        <li><a href="#" class="two-lines" style="width:110px !important;">Track <br />an Order</a></li>
        <li><a href="#" class="two-lines" style="width:110px !important;">Service <br />Status</a></li>  
    </ul> 
    <div id="scrollable" class="scrollable" >
        <div class="items">
        
            @* Billing and Payment section*@

                <div class="page-content">
                 <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />

                     <ul>
                         <li><a href="#" data-type="video" data-path="/Content/videos/Account Services Role Play.mp4">Account Services Role Play</a></li>
                     </ul>
                 </div>
                 <h2>Account Tasks</h2>
               
                    <div class="coll-left">
                              <figure>
                                <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.0.png"/>
                              </figure>
                          </div>
                   <div class="coll-right">
                        <figcaption>
                            <div style="font-size: .9em;">
                               <p>The one convenient location for account related tasks, such as moving home, managing services and My Account information (including forgotten username and password).</p>
                               <p>The self service options available to customers under this tab are a combination of authenticated and unauthenticated tasks.</p>
                               <p>Every task has an “i” <img src="../../Content/img/icon-information.png" /> on the top left where customers can hover to find a summary of that task.</p>
                               <p>An authenticated task can be identified with a padlock next to it <img src="../../Content/img/icon-security.png" />. This means customers are required to log in to My Account in order to perform this task online.</p>
                               <p>By logging in to My Account our customers can be assured that all transactions done on their account have been done <strong>SECURELY</strong>.</p>
                               <p>An unauthenticated task is handy when customers want to perform a one-off transaction online. There is additional information required when performing an unauthenticated task.</p>
                               <p>An unauthenticated transaction may be a lengthier process than transacting via My Account (as My Account has customer account data stored).</p>
                            </div>
                        </figcaption>
                    </div>
                
            
            </div> @*end item here*@
                <div class="page-content">
                 <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />

                     <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                         <li><a href="#" data-type="video" data-path="/Content/videos/My Account Role Play.mp4">My Account Role Play</a></li>
                     </ul>
                 </div>
                <h2>Manage Services</h2>
                <div class="scrollable_wrap">
                   
                    </div><div class="coll-left">
                              <figure>
                              <div class="imgscrollable"  >
                                <div id="small-nav-1"></div>
                                <div class="items">
                                 <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.1_image1.png"/>
                                 <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.1_image2.png"/>
                                 </div></div>
                              </figure>
                          </div>
                    <div class="coll-right">
                        <figcaption>
                            <div>
                              <p>Customers can view their Telstra service details when they log in to My Account.</p>
                              <br/>
<p>It's the easy way to view features and allowances available to them on their current service.</p>
<br/>
<p>My offer summaries are available when a customer hovers over a service, my offer summaries allow customers to see the key details of their product, plan, device or service in an easy to understand and concise way. They can also find out what is included in their plan, what they need to pay, contract length and the charges that apply if they cancel early. 
</p>
<br/>
<p>They are PDFs so they are easy to download and print.</p>
                            </div>
                        </figcaption>
                </div>
            
              </div> @*end item here*@
              
                <div class="page-content">
                <div class="top-slider"><p>5 simple screens in under 5 minutes</p></div>
                 <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />

                     <ul>
                         <li><a href="#" data-type="video" data-path="/Content/videos/Account Services Role Play.mp4">Account Services Role Play</a></li>
                             <li><a href="#" data-page="/DigitalCustomerLifeMoments/MovingHome" data-pageIndex="0">Moving Home</a></li>
                     </ul>
                 </div>
                <h2>Moving Home</h2>
               <div class="coll-left">
                              <figure>
                                <div class="imgscrollable"  >
                                <div id="small-nav-2"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image1.png" />
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image2.png" />
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image3.png" />
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image4.png" />
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image5.png" />
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image6.png" />
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image7.png" />
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.2_image8.png" />
                                   </div>
                            </div>
                              </figure>
                          </div>
                   <div class="coll-right">
                        <figcaption>
                            <div >
                            <p>The moving home functionality allows customers to move their Telstra services through 5 simple screens in under 5 minutes (in most simple cases).</p><br/>
<p>Customers can move their home phone, Bigpond Internet, mobile and Foxtel to a new address. </p><br/>
<p>The design ensures customers have a quick and easy experience when moving their Telstra services. </p><br/>
<p>Customers are able to review and edit all details at every step prior to submission.</p><br/>
<p>A Case manager is assigned to customer for duration of move and reconnect.</p>
                            </div>
                        </figcaption>
                    </div>
                
            
               </div> @*end item here*@
               
                <div class="page-content">
                 <div class="top-slider"><p>Register customers for My Account on every call</p></div>
                 <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />

                     <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                         <li><a href="#" data-type="video" data-path="/Content/videos/My Account Role Play.mp4">My Account Role Play</a></li>
                     </ul>
                 </div>
<h2>Register</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-3"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.3_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.3_image2.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                          <p style="font-size:0.8em; margin-bottom:5px">My Account is a <strong>SECURE</strong> and <strong>CONVENIENT</strong> online tool that brings all Telstra services together for our customers – so they can take control of their services and manage them in the one spot. It's easily accessible through the web on most desktop and mobile browsers and via an increasing range of apps as well.</p>
<p style="font-size: 0.8em; margin-bottom: 5px">My Account is <strong>convenient, secure</strong> and customers can:</p>
<ul style="font-size: 0.8em; margin-bottom: 5px"><li>Easily manage their  home and mobile phone accounts (add features, change plans) and personal contact details</li>
	<li>Keep track of their mobile data usage</li>	
	<li>See a breakdown of most of their calls and charges, including local calls</li>
    <li>View and pay their bills at any time</li>
    <li>Monitor their calls between bills</li>
    <li>Receive email or SMS bill arrival and payment reminder alerts</li>
    <li>Sort their calls by date, time or cost</li>
    <li>Access their previous bills up to 12 months old</li>
</ul>
<p style="font-size: 0.8em; margin-bottom: 5px">Ask customers to register for My Account on every call and offer to register them through the Assisted Registration Tool if they're unable to do so themselves.</p>
<p style="font-size: 0.8em;">With My Account, customers can take a long look at their account in their own time, in the comfort of their own home or space, and not wait in a queue in store or on the phone.</p>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@
                 
                <div class="page-content">
                  <div class="top-slider"><p>Watch out for “Digital Identity” sneak peek on TDTV</p></div>
               <h2>Log in</h2>
               
                   <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-4"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.4_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.4_image2.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                          <p>Logging in to My Account is simple and easy. </p><br/>
<p>Customers can log in through Webmail or with their BigPond email address.</p><br/>
<p>Customers can choose to make use of the “remember me” capability for their username only.</p>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@

                <div class="page-content">
                 
                 <div class="bottom-findmore">
                     <ul>
                       <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                     </ul>
                 </div>
                <h2>Forgotten Password</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-5"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.5_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.5_image2.png"/>
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                         <p>Retrieving a password is easy.</p><br/>
<p>Depending on log in details, customers are asked for different things to reset their password:</p>
<ul>
    <li>Bigpond.com - No Secret Answer but Mobile is known, customer is asked for registered mobile number to retrieve the password.</li>
    <li>Telstra users -required to provide the registered username & Date of birth followed with Secret Answer to the secret question set-up at the time of registration. </li>
</ul>
                            </div>
                        </figcaption>
                    </div>
            
                 </div> @*end item here*@
                 
                <div class="page-content">
                 
                 <div class="bottom-findmore">
                     <ul>
                         <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                     </ul>
                 </div>
                <h2>Forgotten Username</h2>
                <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-6"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.6_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.6_image2.png"/>
                                     
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
               
                    <div class="coll-right">
                        <figcaption>
                            <div >
                        <p>For Telstra.com usernames, customers can retrieve their username online by providing their registered email address with Telstra.</p><br/>
<p>An email is sent to the email address confirming the “Username”.</p><br/>
<p>For Bigpond.com usernames, customers are directed to the Forgotten Username page where their username is displayed on screen.
</p>
                            </div>
                        </figcaption>
                    </div>
            
                  </div> @*end item here*@
                  
               <div class="page-content">            
               <h2>Manage Email Subscriptions</h2>
               
                    <div class="coll-left">
                              <figure>
                                <div class="imgscrollable" >
                                <div id="small-nav-7"></div>
                                <div class="items">
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.7_image1.png"/>
                                    <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.7_image2.png"/>                                    
                                   </div>
                            </div>
                              </figure>
                          </div>
                   
                <div class="coll-right">
                        <figcaption>
                            <div >
                        <p>Customers can easily unsubscribe from any email lists that they have subscribed to previously.</p>
                            </div>
                        </figcaption>
                    </div>
            
                    </div> @*end item here*@
                    
                <div class="page-content">
                  <div class="top-slider"><p>MILES AWAY TO CLICKS AWAY!</p></div>
                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />

                    <ul>
                       <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                        <li><a href="#" data-type="video" data-path="/Content/videos/Pre-Paid Recharge Online.mp4">Pre-Paid Recharge Online</a></li>
                        <li><a href="#" data-type="video" data-path="/Content/videos/Pre-Paid Recharge Online - Mobile Broadband.mp4">Pre-Paid Recharge Online – Mobile Broadband</a></li>
                        <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_AccountTask" data-pageIndex="8">Pre-Paid Recharge</a></li>
                    </ul>
                </div>
                 
                <h2>Pre-paid Recharge</h2>
               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-8"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.8_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.8_image2.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.8_image3.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.8_image4.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.8_image5.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                            <p style="font-size:0.8em;">Recharging online is <strong>EASY AND CONVENIENT</strong>. It is a great option for customers to recharge their Pre-Paid Telstra service instantly without going in to a store or calling Telstra.</p>
                            <p style="font-size: 0.8em; margin-bottom: 10px;">Customers can choose to recharge their Pre-Paid mobile, mobile broadband or Micro-SIM for Apple iPad, online on a compatible mobile or on a computer, any time of the day or night.</p>
                            <p style="font-size: 0.8em; margin-bottom: 10px;">Customers can recharge “on the move” through a range of Telstra 24x7 social and mobile Apps for iPhone, iPad, Android and Facebook.</p>
                            <p style="font-size: 0.8em; margin-bottom: 10px;">If customers have other services with Telstra, and have registered to My Account already, their Pre-Paid service information is available through their existing My Account. </p>
                            <p style="font-size:0.8em; margin-bottom:10px;">By recharging using My Account, customers have the convenience of:</p>
                            <ul style="font-size:0.8em;">
                                 <li>saving their credit card details and recharging by SMS</li>
                                 <li>setting up an auto recharge when their account reaches a set balance</li>
                                 <li>scheduling a monthly recharge from their bank account using direct debit</li>
                            </ul>
                            <p style="font-size:0.8em;margin-bottom:10px;">Customers can also <strong>ACTIVATE</strong> their <strong>PRE-PAID SERVICE ONLINE</strong> through Telstra.com</p>
                            <p style="font-size:0.8em;">It's simple and easy, customers are kept posted on the status of their service </p>
                            <br /><br /></div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@


                <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                       <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                            <li><a href="#" data-page="/CustomerReceivesFirstBill/WhatDataUsage" data-pageIndex="0">What's My Data Usage?</a></li>
                    </ul>
                </div>
                 
                <h2>Check Usage</h2>
               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-9"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.9_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.9_image2.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                            <p>Customers can check their usage “on the move” through a range of Telstra 24x7 social and mobile Apps for iPhone, iPad, Android and Facebook.
</p><br/>
                            <p>My Account is a free service to all Telstra customers that lets them access a range of useful online services to help them manage their accounts and services from their computer or compatible mobile devices.  </p><br/>
                            <p>Monitoring of calls and data usage for post and Pre-Paid mobiles is a key feature of My Account.</p><br/>
                            <p>Internet usage is also accessible through the BigPond usage meter from within My Account. </p><br/>
                            <p>Customers can download a detailed summary of their usage.</p>
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@

                 <div class="page-content">
                 <div class="top-slider"><p>Must have order number to track online</p></div>
                <div class="bottom-findmore">
                    <ul>
                       <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>
                 
                <h2>Track an Order</h2>
               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-10"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.10_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.10_image2.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                                <p>Customers can easily track the progress of orders they have placed with us.</p><br/>
                                <p>It's as easy as going to Telstra.com, clicking on the Account Services tab and selecting “track an order” &nbsp;<img src="../../Content/img/icon-cart.png" />&nbsp; under Account Tasks.</p>
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@


            <div class="page-content">
                 <div class="top-slider"><p>Suburb or postcode required</p></div>
                <div class="bottom-findmore">
                    <ul>
                       <li><a href="#"  data-page="/DigitalCustomerLifeMoments/WhyNotWorking" data-pageIndex="0">Why is My Telstra Service Not Working?</a></li>
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="0">Support</a></li>
                    </ul>
                </div>
                 
                <h2>Service Status</h2>
               
                   <div class="coll-left">
                              <figure>
                                  <div class="imgscrollable" >
                                      <div id="small-nav-11"></div>
                                      <div class="items">
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.11_image1.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.11_image2.png"/>
                                          <img src="/Content/img/2.2.2.1.2 Account Tasks/2.2.2.1.2.11_image3.png"/>
                                      </div>
                                  </div>
                              </figure>
                          </div>
                   
               <div class="coll-right">
                        <figcaption>
                            <div >
                                <p>Customers can get up-to-date information on any issues or problems with accessing Telstra.com, My Account and Telstra BigPond services in their area.</p><br/>
                                <p>The Service Status page, in Account Services on Telstra.com, is where we keep our customers informed on any current known events, both network outages and scheduled maintenance, which may affect their Telstra service – <strong>EASY</strong>.</p><br/>
                                <p>Customers can search for events in a particular service in their area.</p>
                            </div>
                        </figcaption>
                    </div>
            
            </div> @*end item here*@

            
            @* Billing and Payment section ends here *@
            
           
        </div>
    </div>
</div>


<div id="page-footer">
     <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <a href="#" data-page="/NewTelstraCustomer/onBoard_onBoard">On-Board</a>
      <a href="#" data-page="/NewTelstraCustomer/onBoard_AccountServices" data-pageIndex="1">Account services</a>
    <span class="current">@ViewBag.Title</span>
</div>



