@{
    ViewBag.Title = "scrollable_page";
}

<div class="content_pop AlignH">
    <div  class="title"><h1>DESTOP TOUR</h1></div>
    <div class="page-content cf">
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="scrollable_wrap">
            <a class="prev browse left">left</a>
            <div class="scrollable" id="scrollable">
                <div class="items">
                    <div>
                        <img src="http://farm1.static.flickr.com/143/321464099_a7cfcb95cf_t.jpg" />
                    </div>
                    <!-- 5-10 -->
                    <div>
                        <img src="http://farm1.static.flickr.com/163/399223609_db47d35b7c_t.jpg" />
                    </div>
                    <!-- 10-15 -->
                    <div><img src="http://farm4.static.flickr.com/3629/3323896446_3b87a8bf75_t.jpg" />
                    </div>
                </div>
            </div>
       
            <a class="next browse right">next</a>
        </div>

    </div>
</div>
