@{
    ViewBag.Title = "Sub_menu2";
}
<div id="scrollable" class="scrollable AlignH" >
    <div class="items">
        <div class="sub-page">
            <div  class="title"><h1>MOBILES</h1></div>
            <div class="page-content">
                <ul class="navi cf">
                      <li><a href="#">Mobiles<span class="left_bottom_arrow"></span></a></li>
                    <li><a href="#">Products</a></li><li><a href="#">Products (p.2)</a></li>
                    @*<li><a href="#">Mobiles<span class="left_bottom_arrow"></span></a></li>
                    <li><a href="#">Products</a></li><li><a href="#">Products (p.2)</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Pricing p.2</a></li><li><a href="#">Get Recommendations</a></li><li><a href="#">Fine Print</a></li><li><a href="#">Mobile Final</a></li>*@
                </ul>
                <div class="scrollable_wrap">
                    <a class="prev browse left">left</a>
                    <div>
                        <h1>
                            Mobiles</h1>
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/112046131_section 1.1 Mobiles.jpg" />
                        </figure>
                        <figcaption>
                            <p>Su-Lyn is looking to buy a new mobile. She thinks it's also a good time to change her service provider as she is frequently stuck without network coverage.
                            </p>
                        </figcaption>
                    </div>
                    <a class="next browse right">next</a>
                </div>
            </div>
        </div>
        <div class="sub-page">
            <div  class="title"><h1>MOBILES</h1></div>
            <div class="page-content">
                <ul class="navi cf">
                      <li><a href="#">Mobiles<span class="left_bottom_arrow"></span></a></li>
                    <li><a href="#">Products</a></li><li><a href="#">Products (p.2)</a></li>
                </ul>
                <div class="scrollable_wrap">
                    <a class="prev browse left">left</a>
                    <div>
                        <h1>
                            Mobiles</h1>
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/112046131_section 1.1 Mobiles.jpg" />
                        </figure>
                        <figcaption>
                            <p>Su-Lyn is looking to buy a new mobile. She thinks it's also a good time to change her service provider as she is frequently stuck without network coverage.
                            </p>
                        </figcaption>
                    </div>
                    <a class="next browse right">next</a>
                </div>
            </div>
        </div>
         <div class="sub-page">
            <div  class="title"><h1>MOBILES</h1></div>
            <div class="page-content">
                <ul class="navi cf">
                    <li><a href="#">Mobiles<span class="left_bottom_arrow"></span></a></li>
                    <li><a href="#">Products</a></li><li><a href="#">Products (p.2)</a></li>
                  
                </ul>
                <div class="scrollable_wrap">
                    <a class="prev browse left">left</a>
                     <div>
                        <h1>
                            Mobiles</h1>
                        <figure>
                            <img src="/Content/img/1.1 Mobiles/112046131_section 1.1 Mobiles.jpg" />
                        </figure>
                        <figcaption>
                            <p>Su-Lyn is looking to buy a new mobile. She thinks it's also a good time to change her service provider as she is frequently stuck without network coverage.
</p>
                        </figcaption>
                    </div>
                    <a class="next browse right">next</a>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="submenu-2 AlignH">
    <div class="tab">
        <div class="title">
            <h1>My Account</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#" class="bottom-right">Sign Up / register for my Account</a>
    </div>
    <div class="tab">
        <div class="title">
            <h1>Account Services</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#" class="bottom-right">Account Services Tour</a>
    </div>
    <div class="tab coll">
    <a href="#" class="border_btn floatleft">My account Virtual Tour</a>
    <a href="#" class="border_btn floatright">Install Telstra 24x7 App</a></div>
</div>*@

