@{
    ViewBag.Title = "Support";
}

<div class="sub-page  AlignH ">
    <style>
        .sub-page figcaption {
            height: 640px;
        }
    </style>
    <a class="scrollable-browse scrollable-next"></a>
    <a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="scrollable" class="scrollable">
        <div class="items">

            <div class="page-content">
                <div class="top-slider">
                    <p>
                        Special offers and promotions available on Facebook 24x7
                    </p>
                </div>
                <div class="img_title"></div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    <strong>Telstra 24 x 7</strong> is our customer service site in Facebook that operates round the clock
                                customers and non-customers can interact with us and get their issues and questions addressed via the comments section, page posts or inbox. 
                                </p>
                                <br />
                                <p>Customers can ask us questions without leaving Facebook. Our Response time commitment is within an hour. We value the time of our customers and manage expectations  &nbsp;&nbsp;<img src="../../Content/img/face_happy.png" /></p>
                                <br />
                                <p>
                                    Based on the nature of the query  for example - in case of complicated issues, customers are given  contact details of a specific technical team instead of  continuing the conversation with the Facebook 24 x 7 team.
                                </p>
                                <br />
                                <p>
                                    Negative opinions are generally not filtered (except for abusive and potentially offensive content, as well as spam and advertising) instead, the Facebook team try their best to offer a resolution for users who have  had a bad experience with their Telstra service and turn that experience into a resolution.
                                </p>
                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.1 Facebook.jpg" />
                        </figure>
                    </div>

                </div>

            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p>Get instant answers with Live Chat anytime</p>
                </div>

                <div class="bottom-findmore">  <img src="../../Content/img/icon-tdtv.png" style="position: absolute; top: 15px; right: 25px;" />
                    <ul>
                        <li>
                            <a href="#" data-path="/Content/videos/TDTV Results.mp4" data-type="video">Results</a></li>
                    </ul>
                </div>

                <div class="img_title"></div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    LiveChat is an application where customers can communicate with Telstra Sales and Service teams via internet chat and get instant answers to their questions. 
                                </p>
                                <br />
                                <p>
                                    LiveChat is in almost every page of Telstra.com including My Account and Telstra's Social Media Platforms - Telstra.com, Facebook 24X7, Twitter via request to our Twitter team, Pinterest, Mobile apps. 
                                </p>
                                <br />
                                <p>LiveChat is a quick and easy way to communicate with Telstra Staff online even for people that are not yet Telstra customers.</p>
                                <br />
                                <p>Each page where the LiveChat icon appears has been configured so that whenever a customer clicks the icon, they are routed to a LiveChat consultant related to the page they are viewing.</p>
                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.2 Live Chat.jpg" />
                        </figure>
                    </div>

                </div>

            </div>
            @*end item here*@

            <div class="page-content">

                <div class="img_title"></div>
                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    Twitter &#64;Telstra is a platform for Telstra customers to engage with us for a chat, compliment,  complain or question regarding any Telstra products and services.  

                                </p>
                                <br />
                                <p>
                                    Twitter users can tweet &#64;telstra for responses to their questions or request to resolve a product or service issue.
                                </p>
                                <br />
                                <p>
                                    The flexibility of our Social media team handling twitter inquiries give our customers the option whether they want to be called or they want to engage in LiveChat to resolve their inquiries.
                                </p>
                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.3 Twitter.jpg" />
                        </figure>
                    </div>


                </div>
            </div>
            @*end item here*@

            <div class="page-content">
                <div class="top-slider">
                    <p>Crowdsuport ROCKS, Get customers to check it out </p>
                </div>
                <div class="img_title"></div>
                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    The purpose of the Telstra CrowdSupport website is to create a user driven online community where Telstra employees as well as other community members come together and assist one another with technology and telecommunication information.
                                </p>
                                <br />
                                <p>
                                    The community is driven by users for users, hence the name CrowdSupport. Each contributing member receives Kudos points from other members as recognition for their support on queries by other members. A leaderboard is placed in the website to recognise top contributors.
                                </p>
                                <br />
                                <p>
                                    In very complicated cases that no one can provide an answer to a posted question, Telstra staff get in the conversation and provide resolution. All Telstra employees joining CrowdSupport (even if not part of the social media team) are encouraged to let everyone know that they work for Telstra.
                                </p>
                                <br />
                                <p>
                                    LiveChat links are available for consumer and business customers at the right side of the page if members choose to raise their issues from our customer service area.
                                </p>
                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.4 Crowd Support.jpg" />
                        </figure>
                    </div>


                </div>
            </div>
            @*end item here*@


            <div class="page-content">

                <div class="img_title"></div>
                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    Customers can locate their nearest Telstra store in just a few clicks
                                </p>
                                <br />
                                <p>
                                    Browsing through shop locator on Telstra.com, customers can search for their nearest store  by entering their address, suburb or postcode
                                </p>
                                <br />
                                <p>
                                    Store locator functionality is available through the entire range of Telstra's 24x7 social and mobile Apps
                                </p>
                                <ul>
                                    <li>Telstra 24x7 App for iPhone</li>
                                    <li>Telstra 24x7 App for iPad</li>
                                    <li>Telstra 24x7 App for Android</li>
                                    <li>Telstra 24x7 App for Facebook</li>
                                </ul>

                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <div class="imgscrollable">
                                <div id="small-nav-1"></div>
                                <div class="items">
                            <img src="/Content/img/Section 2.3 Support/2.3.5_storelocator_image3.jpg" />
                            <img src="/Content/img/Section 2.3 Support/2.3.5_storelocator_image2.jpg" />
                            <img src="/Content/img/Section 2.3 Support/2.3.5_storelocator_image1.jpg" />
                                </div>
                            </div>
                        </figure>
                    </div>


                </div>
            </div>
            @*end item here*@

            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                         <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIphoneApp" data-pageIndex="0" >Telstra 24x7 App for iPhone</a></li>
                    </ul>
                </div>
                <div class="img_title"></div>
                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    Telstra's 24 x7 app for iPhone allows customers with an iPhone to manage all their Telstra accounts and services easily and securely.
                                </p>
                                <br />
                                <p>
                                    The Telstra 24x7 App for iPhone is <strong>FREE</strong> and can be downloaded from the App Store (customers must have an iTunes account).
                                </p>
                                <br />
                                <p>
                                    Customers can easily access all Telstra products and services linked to their My Account in one App.
                                </p>
                                <br />
                                <p>
                                    With just a few touches, customers can:
                                </p>
                                <ul>
                                    <li>View up to 8 months bill summary information</li>
                                    <li>Keep track of the data they've used for their Telstra mobile </li>
                                    <li>Select internet services and check their balance </li>
                                    <li>Recharge their pre-paid services</li>
                                    <li>Contact Telstra 24x7 through one of the online Support Channels</li>
                                    <li>Find their nearest Telstra store</li>

                                </ul>

                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.6 iphone app.jpg" />
                        </figure>
                    </div>


                </div>
            </div>
            @*end item here*@

            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                       <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallAndroidApp" data-pageIndex="0" >Telstra 24x7 App for Android </a></li>
                    </ul>
                </div>
                <div class="img_title"></div>
                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    Telstra's 24x7 app for Android allows customers with an Android phone to manage all their Telstra accounts and services easily and securely.
                                </p>
                                <br />
                                <p>
                                    The Telstra 24x7 App for Android is <strong>FREE</strong> and can be downloaded from Google Play. 
                                </p>
                                <br />
                                <p>
                                    Customers can easily access all Telstra products and services linked to their My Account in the one App.
                                </p>
                                <br />
                                <p>
                                    With just a few clicks, customers can:
                                </p>
                                <ul>
                                    <li>View up to 8 months bill summary information</li>
                                    <li>Keep track of the data they've used for their Telstra mobile </li>
                                    <li>Select internet services and check their balance </li>
                                    <li>Recharge their pre-paid services</li>
                                    <li>Contact Telstra 24x7 through one of the online Support Channels</li>
                                    <li>Find their nearest Telstra store</li>

                                </ul>

                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.7.jpg" />
                        </figure>
                    </div>

                </div>

            </div>
            @*end item here*@


            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                          <li><a href="#"  data-page="/NewTelstraCustomer/onBoard_InstallIpadApp" data-pageIndex="0" >Telstra 24x7 App for iPad</a></li>
                    </ul>
                </div>
                <div class="img_title"></div>
                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p>
                                    Telstra's 24x7 App for iPad App allows customers with an iPad to manage all their Telstra accounts and services easily and securely.
                                </p>
                                <br />
                                <p>The Telstra 24x7 App for iPad is <strong>FREE</strong> and can be downloaded from the App Store (customers must have an iTunes account).</p>
                                <br />
                                <p>
                                    Customers can easily access all Telstra products and services linked to your My Account in one app.
                                </p>
                                <br />
                                <p>In just a few touches, customers can:</p>
                                <ul>
                                    <li>View up to 8 months bill summary information</li>
                                    <li>Keep track of the data they've used for their Telstra mobile </li>
                                    <li>Select internet services and check their balance </li>
                                    <li>Recharge their pre-paid services</li>
                                    <li>Contact Telstra 24x7 through one of the online Support Channels</li>
                                    <li>Find their nearest Telstra store</li>

                                </ul>

                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.8 iPad.jpg" />
                        </figure>
                    </div>

                </div>

            </div>
            @*end item here*@


            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                       <li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                    </ul>
                </div>
                <div class="img_title"></div>
                <div class="scrollable_wrap">

                    <div class="coll-left">
                        <figcaption>
                            <div>
                                <p style="font-size: 0.9em;">
                                    Telstra's 24x7 App for Facebook 24X7 allows Telstra customers to manage their Telstra  services within Facebook via link to My Account. The App is available within Facebook 24X7 Page but requires log-in with a Telstra account number or pre-paid mobile number.<br />
                                    <br />
                                    Customers can easily access all Telstra products and services linked to their My Account in one app.
                                </p>
                                <br />
                                <p style="font-size: 0.9em;">With the 24x7 App for Facebook, customers can:</p>
                                <ul style="font-size: 0.9em;">
                                    <li>View up to 4 months bill summary information,
                                    </li>
                                    <li>Keep track of the data they've used for their Telstra mobile
                                    </li>
                                    <li>Select internet services and check their balance</li>
                                    <li>Recharge their pre-paid services 
                                    </li>
                                    <li>Contact Telstra 24x7 through one of the online Support Channels</li>
                                    <li>Find their nearest Telstra store</li>

                                </ul>
                                <br />
                                <p style="font-size: 0.9em;">
                                    The Telstra 24x7 App for Facebook – <strong>SECURITY AND PRIVACY</strong>
                                </p>
                                <ul style="font-size: 0.9em;">
                                    <li>Telstra does not provide customers' data to Facebook & only uses basic information from Facebook

                                    </li>
                                    <li>Logging on to the App is secure just like logging on to  My Account on the Telstra website

                                    </li>
                                    <li>Customers manage their linking settings which dictates continuous or temporary linking of their Telstra account to Facebook
                                    </li>
                                    <li>Terms & conditions for the App are available at the bottom of the screen
                                    </li>

                                </ul>
                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/Section 2.3 Support/2.3.9 Facebook.jpg" />
                        </figure>
                    </div>

                </div>

            </div>
            @*end item here*@
        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/NewTelstraCustomer">New Telstra Customer</a>
    <span class="current">@ViewBag.Title</span>
</div>



