@{
    ViewBag.Title = "JASON'S DAUGHTER, ALISHA, IS GOING ON A LONG CAMP… “I WANT TO BUY HER A PREPAID PHONE”";
}


<div class="sub-page  AlignH ">
        <style>
            .title h1 {
                font-size: .8em;
            }
        </style>
    <a class="scrollable-browse scrollable-next"></a><a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1>@ViewBag.Title</h1>
    </div>
    <div id="scrollable" class="scrollable">
    
        <div class="items">
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption style="height:650px;">
                            <p><strong>Alisha is going on camp and I want to get her a Pre-Paid phone</strong></p>
                            <p>
                                <br />
                                Jason has bought Alisha a brand new iPhone 3GS with a Telstra Pre-Paid plan which gives her unlimited txt, MMS and talk-time along with 3GB of data (think he's really going to miss her).
                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/4.6 My Daughter/img_title_pic_intro.jpg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@

            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>During his lunch break, Jason checks out Telstra.com for Pre-Paid offers and handsets.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/4.6 My Daughter/4.6.1 Online Purchase_image1.png" />
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@

            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>He launches Live Chat and gets recommendations from an online consultant.</p>
                            <p><br />10 minutes later, just before his next meeting, Jason has managed to get Alisha the phone she wants along with a Telstra SIM starter kit.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/4.6 My Daughter/4.6.1 Online Purchase_image 2.jpg" />
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@

          @*  <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>10 minutes later, just before his next meeting, Jason has managed to get Alisha the phone she wants along with a Telstra SIM starter kit.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/4.6 My Daughter/4.6.1 Online Purchase_image 2.jpg" />
                        </figure>
                    </div>
                </div>
            </div>*@
            @*end item here*@

            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MobileTask" data-pageindex="3">Activate Pre-Paid</a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption style="font-size: .8em;">
                            <p>
                                Alisha's shiny new handset and Pre-Paid starter kit have arrived.<br />
                                <br />
                                Alisha is really excited and can't wait to use her new phone.<br />
                                <br />
                                Jason has reached home and has dinner plans at 7pm. With half an hour to go, he goes on to telstra.com/activate, enter the SIM number (provided in the Pre-Paid starter kit) and provides his drivers license as ID to activate Alisha's SIM.<br />
                                <br />
                                The next morning, Jason has received an SMS confirming service activation.<br />
                                <br />

                                Alisha's phone is now ready to go!<br />
                                <br />
                                But there are a few things Jason is concerned about…
                            </p>
                            <a href="#" data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhoneRecharge" class="page-menuBtn btn" >Recharge</a>
                            <a href="#" data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhoneExcessivecharges" class="page-menuBtn btn">Excessive charges</a>
                            <a href="#" data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhoneManageonline" class="page-menuBtn btn">Manage online</a>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/4.6 My Daughter/4.6.3 Activate.png" />
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@

          @*  
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="3">CrowdSupport</a></li>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MobileTask" data-pageIndex="10">SMS Barring</a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Jason's 9am meeting has been delayed, so he decides to jump on to Crowd Support to ask for recommendations to safeguard Alisha from mishaps on her new phone.</p>
                            <br />
                            <p>As a result of some great advice on Crowd Support, Jason has warned Alisha about metered content charges and SMS to premium numbers as these may deplete her credit quickly.</p>
                            <br />
                            <p>
                                Jason has also barred premium SMS on Alisha's phone, which gives him confidence that she can enjoy her new phone without worry.

                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                             <div class="imgscrollable" >
                             <div id="small-nav-1"></div>
                                 <div class="items">
                                    <img src="/Content/img/4.6 My Daughter/4.6.1.1.1 crowd support.png" />
                                    <img src="/Content/img/4.6 My Daughter/4.6.1.1.1 SMS Barring.png" />
                                 </div>
                             </div>                           
                        </figure>
                    </div>
                </div>
            </div>
      

             <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                    
                    </ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Jason is wondering how he can set control the spend on Alisha's phone while still being able to replenish her credit quickly, when needed.</p>
                            <p>consultant on Telstra 24x7 on Facebook page, understands his concern and responds to his post, recommending he set up an auto-recharge on Alisha's phone for a minimal amount.</p>
                            <p>Jason thinks that's really clever and sets this up.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                             <div class="imgscrollable" >
                             <div id="small-nav-2"></div>
                                 <div class="items">
                                    <img src="/Content/img/4.6 My Daughter/4.6.1.1.1 crowd support.png" />
                                    <img src="/Content/img/4.6 My Daughter/4.6.1.1.1 SMS Barring.png" />
                                 </div>
                             </div>                           
                        </figure>
                    </div>
                </div>
            </div>
          
            <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                       <li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                         <ul><li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li></ul>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>
                                Jason has gone into My Account (his account) and added Alisha's Pre-Paid as a service under his account so he can view her activity any time.<br />
                                <br />
                                Remember, he already has an auto-recharge set up for her service.
                            </p>
                             <p><br />Jason has also asked Alisha to link her Pre-Paid service on the Telstra 24x7 for Facebook App which means she can view her balance every time she's logged in to Facebook – which is all the time!</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                             <div class="imgscrollable" >
                             <div id="small-nav-3"></div>
                                 <div class="items">
                                  <img src="/Content/img/4.6 My Daughter/4.6.5 connect to app.png" />
                             <img src="/Content/img/4.6 My Daughter/4.6.5 add prepaid to my account.png" />
                                 </div>
                             </div>                           
                           
                        </figure>
                    </div>
                </div>
            </div>*@
       

        
        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
    <span class="current">@ViewBag.Title</span>
</div>

