@{
    ViewBag.Title = "JASON'S DAUGHTER, ALISHA, IS GOING ON A LONG CAMP… “I WANT TO BUY HER A PREPAID PHONE”";
}

<div class="sub-page  AlignH ">
        
    <a class="scrollable-browse scrollable-next"></a><a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1 style="font-size: .8em;">@ViewBag.Title</h1>
    </div>
    <div id="scrollable" class="scrollable">
        <div class="items">
     <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                        <li><a href="#" data-page="/NewTelstraCustomer/support" data-pageIndex="3">CrowdSupport</a></li>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MobileTask" data-pageIndex="10">SMS Barring</a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2 class=""><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Jason's 9am meeting has been delayed, so he decides to jump on to Crowd Support to ask for recommendations to safeguard Alisha from mishaps on her new phone.</p>
                            <br />
                            <p>As a result of some great advice on Crowd Support, Jason has warned Alisha about metered content charges and SMS to premium numbers as these may deplete her credit quickly.</p>
                            <br />
                            <p>
                                Jason has also barred premium SMS on Alisha's phone, which gives him confidence that she can enjoy her new phone without worry.

                            </p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                             <div class="imgscrollable" >
                             <div id="small-nav-1"></div>
                                 <div class="items">
                                    <img src="/Content/img/4.6 My Daughter/4.6.1.1.1 crowd support.png" />
                                    <img src="/Content/img/4.6 My Daughter/4.6.1.1.1 SMS Barring.png" />
                                 </div>
                             </div>                           
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@
            

        
        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
     <a href="#" data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhone" data-pageIndex="3">JASON'S DAUGHTER, ALISHA, IS GOING ON A LONG CAMP… “I WANT TO BUY HER A PREPAID PHONE”</a>
    <span class="current">Excessive charges</span>
</div>


