@{
    ViewBag.Title = "JASON'S DAUGHTER, ALISHA, IS GOING ON A LONG CAMP… “I WANT TO BUY HER A PREPAID PHONE”";
}

<div class="sub-page  AlignH ">
        
    <a class="scrollable-browse scrollable-next"></a><a class="scrollable-browse scrollable-prev"></a>
    <div class="title">
        <h1 style="font-size: .8em;">@ViewBag.Title</h1>
    </div>
    <div id="scrollable" class="scrollable">
        <div class="items">
    <div class="page-content">
                <div class="bottom-findmore">
                    <ul>
                       <li><a href="#" data-page="/NewTelstraCustomer/onBoard_InstallFacebookApp" data-pageIndex="0" >Telstra 24x7 App on Facebook</a></li>
                        <li><a href="#" data-page="/NewTelstraCustomer/onBoard_MyAccountVirtualTour" data-pageIndex="0">My Account Virtual Tour</a></li>
                    </ul>
                </div>
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.6 My Daughter/img_title_pic.jpg" alt="" />
                            <h2><span class="ver-alighn-cell"><span>ALISHA IS GOING ON CAMP AND I WANT TO GET HER A PRE-PAID PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>
                                Jason has gone into My Account (his account) and added Alisha's Pre-Paid as a service under his account so he can view her activity any time.<br />
                                <br />
                                Remember, he already has an auto-recharge set up for her service.
                            </p>
                             <p><br />Jason has also asked Alisha to link her Pre-Paid service on the Telstra 24x7 for Facebook App which means she can view her balance every time she's logged in to Facebook – which is all the time!</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                             <div class="imgscrollable" >
                             <div id="small-nav-1"></div>
                                 <div class="items">
                                  <img src="/Content/img/4.6 My Daughter/4.6.5 connect to app.png" />
                             <img src="/Content/img/4.6 My Daughter/4.6.5 add prepaid to my account.png" />
                                 </div>
                             </div>                           
                           
                        </figure>
                    </div>
                </div>
            </div>
            @*end item here*@
            

        
        </div>
    </div>
</div>

<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
    <a href="#" data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhone" data-pageIndex="3">JASON'S DAUGHTER, ALISHA, IS GOING ON A LONG CAMP… “I WANT TO BUY HER A PREPAID PHONE”</a>
    <span class="current">Manage Online</span>
</div>


