@{
    ViewBag.Title = "STEFANI IS GOING OVERSEAS, YAY!";
}

<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
 <div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
    <div class="items">
       
        <div class="page-content">
                <div class="scrollable_wrap">                   
                    <div class="coll-left">
                        <figcaption>
                            <p><strong>Stefani wants to make sure her mobile will work while she's overseas</strong></p>
                            <p><br />Stefani can activate International Roaming on her phone by clicking on “International Roaming” in Account Services – under Mobile Tasks</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                             <img src="/Content/img/4.2 Going Overseas/img_title_pic_Intro.jpg" alt="" height="565"/>
                        </figure>  
                    </div>             
            </div>
        </div> @*end item here*@
     
        <div class="page-content" >
            <div class="top-slider">
                <p>Tell Stefani about IR data packs</p>
            </div>
            <div class="scrollable_wrap">                   
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.2 Going Overseas/img_title_pic.jpg" alt=""/>
                            <h2 class="small_16"><span class="ver-alighn-cell"><span>STEFANI WANTS TO MAKE SURE HER MOBILE WILL WORK WHILE SHE'S OVERSEAS</span></span></h2>
                        </div>
                        <figcaption>
                            <p>If Stefani is on a Telstra Pre-Paid mobile, she doesn't need to worry as International Roaming is automatically activated.<br/><br/>
                               If on Post-Paid, Stefani can activate “International Roaming”  on her phone via the Account Services tab on Telstra.com in just a few clicks.<br /><br/>
                               Stefani can do this at the last minute, just before putting her phone in to flight mode - But it's safer to do it early as some requests may not be processed until the next business day and activation is subject to handset compatibility and a successful credit check.<br /><br/>
                               Stefani will be asked to provide name details, date of birth, email and her mobile number. 
                            </p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                         <div class="imgscrollable" >
                         <div id="small-nav-1"></div>
                         <div class="items">
                                <img src="/Content/img/4.2 Going Overseas/4.2.1-Account-Services-s1.jpg" alt=""/>
                                <img src="/Content/img/4.2 Going Overseas/4.2.1-Account-Services-s2.jpg" alt=""/>
                         </div>
                         </div>
                        </figure>   
                    </div>              
            </div>
        </div> @*end item here*@    
       
            
        <!--<div class="page-content">
            <div class="top-slider">
                <p>Tell Sarah about IR data packs</p>
            </div>
            <div class="scrollable_wrap">          
                <div class="coll-left">
                    <div class="img_title">
                        <img src="/Content/img/4.2 Going Overseas/img_title_pic.jpg" alt=""/>
                        <h2 class="small_16"><span class="ver-alighn-cell"><span>STEFANI WANTS TO MAKE SURE HER MOBILE WILL WORK WHILE SHE'S OVERSEAS</span></span></h2>
                    </div>
                    <figcaption>
                        <p>Stefani can do this at the last minute, just before putting her phone in to flight mode - But it's safer to do it early as some requests may not be processed until the next business day and activation is subject to handset compatibility and a successful credit check.<br/><br/>
                            Stefani will be asked to provide name details, date of birth, email and her mobile number. </p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/4.2 Going Overseas/4.2.1 Account Services_image .png" height="570"/>
                    </figure>
                        
                </div>             
            </div>
        </div> -->@*end item here*@
      
    
        <div class="page-content">
             <div class="scrollable_wrap">      
                 <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.2 Going Overseas/img_title_pic.jpg" alt=""/>
                            <h2 class="small_16"><span class="ver-alighn-cell"><span>STEFANI WANTS TO MAKE SURE HER MOBILE WILL WORK WHILE SHE'S OVERSEAS</span></span></h2>
                        </div>
                        <figcaption>
                            <p>To make sure that Stefani can access email, browse the web or get in touch with friends and relatives through social networking sites while overseas, recommend that she get our International Roaming data or Pre-Paid Plus Packs to give her more value and avoid bill shock after she returns from her trip.<br/><br/>
                                Stefani can choose from a variety of International Roaming data packs, view monthly charges  and included allowances, view countries where she can use her browsing pack. She can do all of this on Telstra.com in the Mobiles section – <strong>SIMPLE, QUICK, EASY</strong>.
 </p>
                        </figcaption>
                  </div>
                  <div class="coll-right">
                        <figure>
                            <img src="/Content/img/4.2 Going Overseas/4.2.1.2 international data pack.png"/>
                        </figure>
                  </div>                
            </div>
        </div> @*end item here*@
       
        <div class="page-content">
            <div class="top-slider">
                       <p>Customers register on crowdsupport.telstra.com.au </p>
                   </div>
            <div class="scrollable_wrap">
                
                <div class="coll-left">
                    <div class="img_title">
                        <img src="/Content/img/4.2 Going Overseas/img_title_pic.jpg" alt=""/>
                        <h2 class="small_16"><span class="ver-alighn-cell"><span>STEFANI WANTS TO MAKE SURE HER MOBILE WILL WORK WHILE SHE'S OVERSEAS</span></span></h2>
                    </div>
                    <figcaption>
                        <p>Stefani  can also talk to online community members on Telstra's CrowdSupport forum to find out how she can make the most of her data pack when overseas. She may be able to get handy hints on wifi spots!<br/><br/>
                            Telstra's CrowdSupport website is a user driven online community where Telstra employees as well as other community members come together and assist one another with technology and telecommunication information.
                        </p>
                    </figcaption>
                </div>
                <div class="coll-right">
                    <figure>
                        <img src="/Content/img/4.2 Going Overseas/4.2.1.2.1 Crowd Support.png"/>
                    </figure>       
                </div>
               
            </div>
        </div>@*end item here*@
        </div>
    </div>
</div>


<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
    <span class="current">@ViewBag.Title</span>
</div>


