@{
    ViewBag.Title = "COOL, JAIMEE JUST GOT A NEW HANDSET";
}


<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
 <div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
    <div class="items">
        
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption>
                            <p><strong>Cool, Jaimee just bought a new mobile!</strong></p>
                            <p><br />Jaimee can set up email on her phone in a matter of a few clicks</p>

                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            <img src="/Content/img/4.4 New Handset/img_title_pic_intro.jpg" alt=""/>
                        </figure>
                    </div>              
                 </div>
            </div> @*end item here*@
       
            <div class="page-content">
                 <div class="scrollable_wrap">
                     <div class="coll-left">
                         <div class="img_title">
                             <img src="/Content/img/4.4 New Handset/img_title_pic.jpg" alt=""/>
                             <h2 class=""><span class="ver-alighn-cell"><span>COOL, JAIMEE JUST BOUGHT A NEW MOBILE!</span></span></h2>
                         </div>
                         <figcaption>
                             <br /><p>Jaimee's really lucky - Telstra provides a configuration service for a range of mobile handsets.<br/>
                                 Through the “Set Up a Mobile” tab, under Mobile Tasks in Account Services, Jaimee can set up her mobile phone for email, picture and video messaging and more.
                             </p>  
                             <p>Jaimee will need to provide her mobile number and we'll  send a validation password to her number to initiate the process <strong>– VERY SECURE</strong>.</p>
                        <p>Once validated, Jaimee will have MMS and Email remotely configured on her handset.<br/>Jaimee also has the option of a daily secure backup for her mobile contacts through “MySync” if she's on a compatible Telstra mobile phone.</p>
                       
                         </figcaption>
                    </div>
                    <div class="coll-right">
                         <figure>
                            <div class="imgscrollable" >
                            <div id="small-nav-1"></div>
                                <div class="items">
                                    <img src="/Content/img/4.4 New Handset/4.4.1-Account-Services-s1.jpg"/>
                                    <img src="/Content/img/4.4 New Handset/4.4.1-Account-Services-s2.jpg"/>
             @*                       <img src="/Content/img/4.4 New Handset/4.4.1 Account Services_image2.png"/>
                                    <img src="/Content/img/4.4 New Handset/4.4.1 Account Services_image2.png"/>*@
                                </div>
                            </div>
                         </figure>
                     </div>                
             </div>
            </div> @*end item here*@
        
            <!--<div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.4 New Handset/img_title_pic.jpg" alt=""/>
                            <h2 class=""><span class="ver-alighn-cell"><span>COOL, JAIMEE JUST BOUGHT A NEW MOBILE!</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Jaimee will need to provide her mobile number and we'll  send a validation password to her number to initiate the process <strong>– VERY SECURE</strong>.</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                         <img src="/Content/img/4.4 New Handset/4.4.1 Account Services_image2.png"/>
                        </figure>
                    </div>
                </div>            
          </div>--> @*end item here*@
         
            <!--<div class="page-content">
                <div class="scrollable_wrap">
               
                   <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.4 New Handset/img_title_pic.jpg" alt=""/>
                            <h2 class=""><span class="ver-alighn-cell"><span>COOL, JAIMEE JUST BOUGHT A NEW MOBILE!</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Once validated, Jaimee will have MMS and Email remotely configured on her handset.<br/><br/>Jaimee also has the option of a daily secure backup for her mobile contacts through “MySync” if she's on a compatible Telstra mobile phone.</p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                         <img src="/Content/img/4.4 New Handset/4.4.1 Account Services_image2.png"/>
                        </figure>
                        
                    </div>               
            </div>
           </div>--> @*end item here*@
            
           <div class="page-content">
                <div class="top-slider"><p>Customers register on crowdsupport.telstra.com.au </p></div>
                    <div class="scrollable_wrap">                         
                         <div class="coll-left">
                             <div class="img_title">
                                 <img src="/Content/img/4.4 New Handset/img_title_pic.jpg" alt=""/>
                                 <h2 class=""><span class="ver-alighn-cell"><span>COOL, JAIMEE JUST BOUGHT A NEW MOBILE!</span></span></h2>
                             </div>
                             <figcaption>
                                 <p>Jaimee  can also talk to online community members on Telstra's CrowdSupport forum to find out how she can make the most of her phone and discover features she didn't know about – how cool is that?!</p>
                             <br /><p>Telstra's CrowdSupport website is a user driven online community where Telstra employees as well as other community members come together and assist one another with technology and telecommunication information.                                </p>
                            
                             </figcaption>
                         </div>
                         <div class="coll-right">
                             <figure>
                             
                                 <img src="/Content/img/4.4 New Handset/4.4.1.3 Crowd Support.png"/>
                                 
                             
                             </figure>                        
                         </div>                   
                   </div>
             </div> @*end item here*@
            
            <!-- <div class="page-content">
                     <div class="top-slider"><p>Customers register on crowdsupport.telstra.com.au </p></div>
                     <div class="scrollable_wrap">
                        <div class="coll-left">
                             <div class="img_title">
                                 <img src="/Content/img/4.4 New Handset/img_title_pic.jpg" alt=""/>
                                 <h2 class=""><span class="ver-alighn-cell"><span>COOL, JAIMEE JUST BOUGHT A NEW MOBILE!</span></span></h2>
                             </div>
                             <figcaption>
                                 <p>Telstra's CrowdSupport website is a user driven online community where Telstra employees as well as other community members come together and assist one another with technology and telecommunication information.                                </p>
                             </figcaption>
                        </div>
                        <div class="coll-right">
                             <figure>
                                 <img src="/Content/img/4.4 New Handset/4.4.1.3 Crowd Support.png"/>
                             </figure>
                        
                         </div>                    
                 </div>
             </div>--> @*end item here*@
    </div>
</div>
</div>

<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
    <span class="current">@ViewBag.Title</span>
</div>




