@{
    ViewBag.Title = "Digital Customer Life Moments";
}


<div class="page">
    
    <ul id="page-menu">
        <li>
            <a data-page="/DigitalCustomerLifeMoments/lockedMyPhone" href="#">OOPS, SHANE LOCKED HIS PHONE</a>
        </li>
        <li>
            <a data-page="/DigitalCustomerLifeMoments/GoingOverseas" href="#">STEFANI IS GOING OVERSEAS, YAY!</a>
        </li>
        <li>
            <a data-page="/DigitalCustomerLifeMoments/WhyNotWorking" href="#">NIKO HAS ISSUES... “WHY IS MY MOBILE PHONE NOT WORKING?”</a>
        </li>
        <li>
            <a data-page="/DigitalCustomerLifeMoments/GotNewHandset" href="#">COOL, JAIMEE JUST GOT A NEW HANDSET</a>
        </li>
        <li>
            <a data-page="/DigitalCustomerLifeMoments/MovingHome" href="#">RENEE IS MOVING HOME</a>
        </li>
         <li>
            <a data-page="/DigitalCustomerLifeMoments/BuyPrepaidPhone" href="#">JASON'S DAUGHTER, ALISHA, IS GOING ON A LONG CAMP… “I WANT TO BUY HER A PREPAID PHONE”</a>
        </li>
    </ul>
                    
</div>

<div id="page-footer">
    <span class="current">Digital Customer Life Moments</span>
</div>
