@{
    ViewBag.Title = "OOPS, SHANE LOCKED HIS PHONE";
}
<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
 <div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
    <div class="items">
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption style="height:640px;"> 
                            <p><strong>Oops, Shane locked his phone…</strong></p>
                            <p><br />Shane can get a PUK code by clicking on “get a PUK code” in Account Services – under Mobile Tasks</p>
                            
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                            
                                 <img src="/Content/img/4.1 Locked Phone/img_title_pic_Intro.jpg" alt=""/>                                        
                                

                        </figure>
                    </div>
                </div>
        </div> @*end item here*@
    
     
        <div class="page-content">
                <div class="scrollable_wrap">                
                   <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.1 Locked Phone/img_title_pic.jpg" alt=""/>
                            <h2><span class="ver-alighn-cell"><span>OOPS, SHANE LOCKED HIS PHONE…</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Shane would have incorrectly entered his password a few times and has ended up locking his mobile.<br/><br/>A PUK code (an 8 digit code) is required to reset his pin and unlock  his mobile.
</p><br /><p>Shane can retrieve the PUK code by clicking “Get a PUK code” within Mobile Tasks in Account Services. He will need to do this from another device, and we'll ask for his mobile number, first name, surname and date of birth.<br/><br/>
Shane can do this conveniently online without spending time calling Telstra or walking in to a store.</p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                        <div class="imgscrollable" >
                         <div id="small-nav-1"></div>
                         <div class="items">
                           <img src="/Content/img/4.1 Locked Phone/4.1.1 Account Services.png" alt="" />
                           <img src="/Content/img/4.1 Locked Phone/4.1.1 Account Service_image 2.png" alt=""/>
                           </div>
                           </div>
                        </figure>   
                   </div>               
            </div>
       </div> @*end item here*@
       
       <!--<div class="page-content">
                <div class="scrollable_wrap">                  
                   <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.1 Locked Phone/img_title_pic.jpg" alt=""/>
                            <h2><span class="ver-alighn-cell"><span><strong>OOPS, SHANE LOCKED HIS PHONE…</strong></span></span></h2>
                        </div>
                        <figcaption>
                            
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                           
                        </figure>  
                    </div>               
            </div>
        </div>--> @*end item here*@
      
        <div class="page-content">
                <div class="scrollable_wrap">                   
                   <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.1 Locked Phone/img_title_pic.jpg" alt=""/>
                            <h2><span class="ver-alighn-cell"><span>OOPS, SHANE LOCKED HIS PHONE…</span></span></h2>
                        </div>
                        <figcaption>
                            <p>If Shane is unsuccessful, or has trouble doing this online, he can contact us on the Telstra 24x7 Facebook page.<br/>
He wont have to worry about what time of the day it is.</p>
                        </figcaption>
                   </div>
                   <div class="coll-right"> 
                        <figure>
                           <img src="/Content/img/4.1 Locked Phone/4.1.1.1.1 Facebook 24x7.png" alt=""/>
                        </figure>   
                    </div>           
                </div>         
        </div> @*end item here*@
    </div>
</div>
</div>

<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
    <span class="current">I Locked My Phone</span>
</div>

