@{
    ViewBag.Title = "RENEE IS MOVING HOME";
}
<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
<div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
     <div class="items">
         <div class="page-content">
             <div class="scrollable_wrap">         
                 <div class="coll-left">
                     <figcaption>
                          <p><strong>Renee is moving home and wants to take her Telstra services with her</strong></p>
                          <p><br />Renee can move her home phone, Bigpond Internet, mobile and Foxtel to a new address in just a few clicks</p>
                     </figcaption>
                 </div>
                 <div class="coll-right">
                     <figure>
                          <img src="/Content/img/4.5 Moving home/img_title_pic_intro.jpg" alt=""/>
                     </figure>         
                 </div> 
             </div>  
         </div> @*end item here*@
     
         <div class="page-content">
             <div class="bottom-findmore">
                 <ul>
                     <li><a href="#" data-page="/NewTelstraCustomer/onBoard_AccountTask" data-pageIndex="2">Moving Home</a></li>
                 </ul>
             </div>
             <div class="scrollable_wrap">                
                 <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/4.5 Moving home/img_title_pic.jpg" alt=""/>
                         <h2 class="small_15"><span class="ver-alighn-cell"><span>RENEE IS MOVING HOME AND WANTS TO TAKE HER TELSTRA SERVICES WITH HER</span></span></h2>
                     </div>
                     <figcaption>
                         <p>To move her Telstra services to a new address, Renee jumps on to Telstra.com - Account Services - “Home Products Tasks” and answers a series of questions across 5 simple screens.</p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure><img src="/Content/img/4.5 Moving home/4.5.1_image_s1.jpg"/>
                     <div class="imgscrollable hidden"  id="smallScrolable-1">
                     <div id="small-nav-1"></div>
                         <div class="items">
                             
                             
                         </div>
                     </div>
                     </figure>
                 </div>               
             </div>
         </div> @*end item here*@
     
         <div class="page-content">
             <div class="bottom-findmore">
                 <ul>
                     <li><a href="#" data-page="/NewTelstraCustomer/onBoard_AccountTask" data-pageIndex="2">Moving Home</a></li>
                 </ul>
             </div>
             <div class="scrollable_wrap">
                <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/4.5 Moving home/img_title_pic.jpg" alt=""/>
                         <h2 class="small_15"><span class="ver-alighn-cell"><span>RENEE IS MOVING HOME AND WANTS TO TAKE HER TELSTRA SERVICES WITH HER</span></span></h2>
                     </div>
                     <figcaption>
                         <p>Renee gets a choice of 3 disconnection and connection times and pays a single move fee – she's impressed with the clear expectations about next steps and timings, no small print, and understands the move costs.<br /><br />Renee receives her email and SMS confirmation from Telstra.<br /><br />Renee has just completed her request to move her Telstra services to a new address in under 5 minutes – That's great!</p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure>
                         <div class="imgscrollable" id="smallScrolable-2">
                         <div id="small-nav-2"></div>
                             <div class="items">
                                 <img src="/Content/img/4.5 Moving home/4.5.1_image_s2.jpg"/>
                                 <img src="/Content/img/4.5 Moving home/4.5.1_image_s3.jpg"/>
                                 <img src="/Content/img/4.5 Moving home/4.5.1_image_s4.jpg"/>
                                 <img src="/Content/img/4.5 Moving home/4.5.1_image_s5.jpg"/>
                                 <img src="/Content/img/4.5 Moving home/4.5.1_image_s6.jpg"/>
                                 <img src="/Content/img/4.5 Moving home/4.5.1_image_s7.jpg"/>
                             </div>
                         </div>
                     </figure>     
                 </div>
             </div>          
         </div> @*end item here*@
       
      
         <div class="page-content">
             <div class="bottom-findmore">
                 <ul>
                     <li><a href="#" data-page="/NewTelstraCustomer/onBoard_AccountTask" data-pageIndex="2">Moving Home</a></li>
                 </ul>
             </div>
             <div class="scrollable_wrap">
                
                <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/4.5 Moving home/img_title_pic.jpg" alt=""/>
                         <h2 class="small_12"><span class="ver-alighn-cell"><span>RENEE REALISED THAT SHE DID ASK FOR A CALL BACK TO MOVE TO A NEW BUNDLE – THANKS TELSTRA 24X7 FACEBOOK, YOU ROCK</span></span></h2>
                     </div>
                     <figcaption>
                         <p>Renee has had an afterthought and wants to bounce it off with someone from Telstra.<br /><br />Renee posts a message on to the Telstra 24x7Facebook page and asks “what is ‘connected home' and how do I get it?”</p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure>
                         <img src="/Content/img/4.5 Moving home/4.5.1.1.1_Facebook.jpg"/>
                     </figure>       
                 </div>
             </div>    
         </div> @*end item here*@
         
          <div class="page-content">
             <div class="bottom-findmore">
                 <ul>
                     <li><a href="#" data-page="/NewTelstraCustomer/onBoard_AccountTask" data-pageIndex="2">Moving Home</a></li>
                 </ul>
             </div>
             <div class="scrollable_wrap">
                <div class="coll-left">
                     <div class="img_title">
                         <img src="/Content/img/4.5 Moving home/img_title_pic.jpg" alt=""/>
                         <h2 class="small_15"><span class="ver-alighn-cell"><span>RENEE IS MOVING HOME AND WANTS TO TAKE HER TELSTRA SERVICES WITH HER</span></span></h2>
                     </div>
                     <figcaption>
                         <p style="margin-bottom: 10px;">As part of the online move request, Renee was asked if she wanted to review her phone and internet requirements as part of the move.</p>
                         <p style="margin-bottom: 10px;">Renee now has someone calling her about getting a new bundle, how exciting <img src="/Content/img/face_happy.png" /></p>
                         <p>In the meantime, Renee, who's an active contributor on Crowd Support, has asked her online friends for advice on the Telstra plan that is best suited to her needs.</p>
                     </figcaption>
                </div>
                <div class="coll-right">
                     <figure>
                         <div class="imgscrollable" >
                         <div id="small-nav-3"></div>
                             <div class="items">
                                 <img src="/Content/img/4.5%20Moving%20home/4.5.1.3_image1.jpg" />
                                 <img src="/Content/img/4.5%20Moving%20home/4.5.1.3_image2.jpg" />
                                 
                             </div>
                         </div>
                     </figure>     
                 </div>
             </div>          
         </div> @*end item here*@
       
     </div>
 </div>
 </div>


<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
    <span class="current">@ViewBag.Title</span>
</div>
