@{
    ViewBag.Title = "NIKO HAS ISSUES... “WHY IS MY MOBILE PHONE NOT WORKING?”";
}


<div class="sub-page  AlignH ">
    <a class="scrollable-browse scrollable-next"></a> <a class="scrollable-browse scrollable-prev"></a>
 <div  class="title"><h1>@ViewBag.Title</h1></div>
 <div id="scrollable" class="scrollable" >
    <div class="items">
       
         <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <figcaption>
                            <p><strong>Niko is having a problem with his mobile phone</strong></p>
                            <p><br />Niko is making the most of his time without his mobile at home with his son (yummm…. ice cream).<br/><br/>
So how can we help Niko to find out what's going on with his mobile service without interrupting quality family time?</p>
                        </figcaption>
                   </div>
                   <div class="coll-right">
                        <figure>
                               <img src="/Content/img/4.3 Internet not working/img_title_pic_Intro.jpg" alt=""/>
                        </figure>                        
                    </div>             
            </div>
        </div> @*end item here*@
         
            <div class="page-content">
                <div class="scrollable_wrap">
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.3 Internet not working/img_title_pic.jpg" alt=""/>
                            <h2 class=""><span class="ver-alighn-cell"><span>NIKO IS HAVING A PROBLEM WITH HIS MOBILE PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>Niko has a couple of options. He can find out up-to-date information on any issues or problems with accessing Telstra services in his area.<br/><br/>
Doing this is easy. Niko can go to the Service Status page, in Account Services on Telstra.com, where he can find out information on any current known events, both network outages and scheduled maintenance, which may be affecting his Telstra service – <strong>EASY</strong>.<br/><br/>
Niko can always talk to us through Facebook 24x7, or post a question to the crowd on CrowdSupport.<br/>
</p>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                           <img src="/Content/img/4.3 Internet not working/4.3.1 Account Services.png"/>
                        </figure>
                        
                    </div>                   
                </div>
        
          </div> @*end item here*@
        
            <div class="page-content">
                <div class="scrollable_wrap">
                    
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.3 Internet not working/img_title_pic.jpg" alt=""/>
                            <h2 class=""><span class="ver-alighn-cell"><span>NIKO IS HAVING A PROBLEM WITH HIS MOBILE PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <p>If this is happening regularly without scheduled outages from our end, Niko can go to the “Coverage Maps” tab, under Mobile Tasks in Account Services, and check the reach of our wireless network in his area.<br/><br/></p>
                            
                            <p>This is a very handy place where Niko can check:</p>
                                <ul>
                                    <li>mobile coverage at a specific location by street address, suburb or postcode</li>
                                    <li>Mobile broadband coverage from city to country areas including remote and rural locations</li>
                                    <li>Mobile coverage maps across his state or territory</li>
                                    <li>Mobile coastal coverage if he's heading out to sea (with his son, of course)</li>
                                </ul>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                                <img src="/Content/img/4.3 Internet not working/4.3.1.1 Mobile broadband coverage_image2.png" alt=""/>
                        </figure>
                    </div>             
               </div>
          </div> @*end item here*@
         
          <!--<div class="page-content">
               <div class="scrollable_wrap">              
                    <div class="coll-left">
                        <div class="img_title">
                            <img src="/Content/img/4.3 Internet not working/img_title_pic.jpg" alt=""/>
                            <h2 class=""><span class="ver-alighn-cell"><span>NIKO IS HAVING A PROBLEM WITH HIS MOBILE PHONE</span></span></h2>
                        </div>
                        <figcaption>
                            <div><p>This is a very handy place where Niko can check:</p>
                                <ul>
                                    <li>mobile coverage at a specific location by street address, suburb or postcode</li>
                                    <li>Mobile broadband coverage from city to country areas including remote and rural locations</li>
                                    <li>Mobile coverage maps across his state or territory</li>
                                    <li>Mobile coastal coverage if he's heading out to sea (with his son, of course)</li>
                                </ul>
                            </div>
                        </figcaption>
                    </div>
                    <div class="coll-right">
                        <figure>
                         <img src="/Content/img/4.3 Internet not working/4.3.1.1 Mobile broadband coverage_image2.png"/>
                        </figure>  
                    </div>            
                </div>
          </div>--> @*end item here*@
    </div>
</div>
</div>

<div id="page-footer">
    <a href="#" data-page="/DigitalCustomerLifeMoments">Digital Customer Life Moments</a>
    <span class="current">@ViewBag.Title</span>
</div>



